.account-section.verification-required
  h2#verification Verification Required

  p You will need to verify your email address before enrolling to any courses on GraphAcademy.  Please verify your email by clicking on the link we sent you. If you haven't received any email yet, check your junk or spam folder.
  p If you have already verified your email, try logging out and back in again.

  p
    a.btn(href='/account/verify') Resend Verification Email