extends ../layouts/default
include ../mixins/date


block main

  .container
    //- if user.email_verified === false
    //-   include _verification-required

    .account-header
      h1 Complete your account


    .account-section
      h2#personal Your Details

      p In order to personalise your experience, we would like to know a little more about you.
        |
        | Please complete the form below or click
        |
        i Skip this step
        |
        | to continue
        | .

      include _form

      a.btn-skip(href=`/account/skip/?returnTo=${returnTo}`) or Skip this step
