extends ../layouts/default
include ../mixins/date


block main

  .container
    if user.email_verified === false
      .account-section.verification-required
        h2#verification Verification Required

        p You will need to verify your email address before enrolling to any courses on GraphAcademy.
        p Please verify your email by clicking on the link we sent you. If you haven't received any email yet, check your junk or spam folder.

        p
          a.btn(href='/account/verify') Resend Verification Email

    .account-section
      h2#personal Your Details

      p In order to personalise your experience, we would like to know a little more about you.
        |
        | Please complete the form below or click
        |
        i Skip this step to continue
        | .

      include _form

      a.btn-skip(href=`/account/skip/?returnTo=${returnTo}`) or Skip this step
