extends ../layouts/two-column
include ../course/card

block minor
  nav.secondary-nav
    ul.secondary-nav-list.secondary-nav-list--sticky
      for link in links
        li.secondary-nav-item(class=link.current ? 'secondary-nav-item--active' : '')
          a(href=link.link) #{link.title}


block major
  if courses.length
    .course-grid
      for course in courses
        .course-grid-item
          +course(course, course.categories[0])

  else
    h2 Nothing to see here
    p You have no courses listed in this category.
    p
      a.btn(href='/categories') View Course Catalogue