extend ../layouts/default

block main
  .container
    p Your account and all associated records have been deleted.
      |
      | If you ever decide to change your mind, we will welcome you back with open arms.

    p Remember, the
      |
      |
      a(href='https://dev.neo4j.com/forum?ref=graphacademy' target='_blank') Neo4j Community Site
      |
      | is always there if you need any help, or you can join the conversation on the
      |
      a(href='http://dev.neo4j.com/chat?ref=graphacademy' target='_blank') Neo4j Discord Server
      | .
    p Good luck with your Neo4j journey!

  div(style='height:4rem')