extends ../layouts/default
include ../mixins/date
include ../course/sandbox
include ./_reward

block main
  .container.one-column
    .account-section.rewards
      h2 Available Rewards

      for reward in rewards
        +reward(reward)
