extends ./_layout
include ./mixins/reward


block major
  .account-header
    h1 Rewards &amp; Achievements

  .container.one-column
    .account-section.rewards
      h2 Available Rewards
      for reward in rewards
        +reward(reward)

    .account-section.account-public
      h2 Achievements

      include ./partials/public_profile

      p You can disable your public profile in your
        |
        |
        a(href='/account/#public') Account Settings
        | .

      //- p
      //-   a.btn(href='/account/#public') Edit Personal Information
