mixin breadcrumb(text, link)
  li.breadcrumb
    a(href=link)
      | #{text}

if breadcrumbs
  nav.breadcrumbs
    .container
      ul.breadcrumb-list
        each breadcrumb in breadcrumbs
          +breadcrumb(breadcrumb.text, breadcrumb.link)
