mixin breadcrumb(text, link)
  li.breadcrumb
    a.breadcrumb(href=link)
      | #{text}

if breadcrumbs
  ul.breadcrumbs
    each breadcrumb in breadcrumbs
      +breadcrumb(breadcrumb.text, breadcrumb.link)
