.footer-cutout.cutout-wrapper(style='margin-top: 6rem')
  .cutout
    h2.heading-4 Get Started with
      |
      |
      strong GraphAcademy

    ul.inline-path
      li.inline-path-item
        | !{'<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 12C5.25 7.99594 8.49594 4.75 12.5 4.75C16.5041 4.75 19.75 7.99594 19.75 12C19.75 16.0041 16.5041 19.25 12.5 19.25C8.49594 19.25 5.25 16.0041 5.25 12Z" stroke="#7AD1FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.25 12.75L10.6837 13.6744C11.0275 14.407 12.0536 14.4492 12.4564 13.7473L14.75 9.75" stroke="#7AD1FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
        | Register
      li.inline-path-item
        | !{'<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 12C5.25 7.99594 8.49594 4.75 12.5 4.75C16.5041 4.75 19.75 7.99594 19.75 12C19.75 16.0041 16.5041 19.25 12.5 19.25C8.49594 19.25 5.25 16.0041 5.25 12Z" stroke="#7AD1FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.25 12.75L10.6837 13.6744C11.0275 14.407 12.0536 14.4492 12.4564 13.7473L14.75 9.75" stroke="#7AD1FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
        | Learn the Fundamentals
      li.inline-path-item
        | !{'<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 12C5.25 7.99594 8.49594 4.75 12.5 4.75C16.5041 4.75 19.75 7.99594 19.75 12C19.75 16.0041 16.5041 19.25 12.5 19.25C8.49594 19.25 5.25 16.0041 5.25 12Z" stroke="#7AD1FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.25 12.75L10.6837 13.6744C11.0275 14.407 12.0536 14.4492 12.4564 13.7473L14.75 9.75" stroke="#7AD1FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
        | Follow your career path
    p
      a.btn(href='/courses/') Get Started with GraphAcademy
