include ../mixins/card

each category in categories
  .category
    h1 Learn by #{category.title}
    p  !{category.description}
      if category.children
        each child in category.children
          .child
            h2 #{child.title}
            p  !{child.description}
            .card-list
              each course in child.courses
                +card(course.title, course.thumbnail, course.caption, course.link)