script(src=`${cdnUrl}/js/bundle.js` defer)

include analytics

if ga.id
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src=`https://www.googletagmanager.com/gtag/js?id=${ga.id}`)
  script(nonce=nonce).
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '!{ga.id}');
