footer(data-c='footer navigation')
  #footer-v2.bg-baltic-80.text-white.py-16.text-sm
    .grid-container.flex.flex-col.gap-y-8
      .grid-x.grid-padding-y.grid-margin-y
        // Products column
        .cell.small-12.medium-3.flex.flex-col.gap-y-3
          .uppercase.font-bold Products
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='Neo4j Graph Database' target='_blank' href='https://neo4j.com/product/neo4j-graph-database/') Neo4j Graph Database
            li.mb-2
              a.leading-6(data-l='Neo4j AuraDB' target='_blank' href='https://neo4j.com/cloud/platform/aura-graph-database/') Neo4j AuraDB
            li.mb-2
              a.leading-6(data-l='Neo4j Graph Data Science' target='_blank' href='https://neo4j.com/product/graph-data-science/') Neo4j Graph Data Science
            li.mb-2
              a.leading-6(data-l='Download Center' target='_blank' href='https://neo4j.com/deployment-center/') Deployment Center
            li.mb-2
              a.leading-6(data-l='professional-services' target='_blank' href='https://neo4j.com/professional-services/') Professional Services
            li.mb-2
              a.leading-6(data-l='Pricing' target='_blank' href='https://neo4j.com/pricing/') Pricing
          // Graph Tools column
          .uppercase.font-bold Graph Tools
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='Neo4j Developer Tools' target='_blank' href='https://neo4j.com/product/developer-tools/') Neo4j Developer Tools
            li.mb-2
              a.leading-6(data-l='Neo4j Workspace' target='_blank' href='https://neo4j.com/workspace/') Neo4j Workspace
            li.mb-2
              a.leading-6(data-l='Neo4j Bloom' target='_blank' href='https://neo4j.com/product/bloom/') Neo4j Bloom
            li.mb-2
              a.leading-6(data-l='Neo4j GraphQL Library' target='_blank' href='https://neo4j.com/product/graphql-library/') Neo4j GraphQL Library
            li.mb-2
              a.leading-6(data-l='Neo4j Data Connectors' target='_blank' href='https://neo4j.com/product/connectors/') Neo4j Data Connectors
            li.mb-2
              a.leading-6(data-l='Cypher Query Language' target='_blank' href='https://neo4j.com/product/cypher-graph-query-language/') Cypher Query Language
          // Use Cases column
          .uppercase.font-bold Use Cases
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='Generative AI' target='_blank' href='https://neo4j.com/generativeai/') Generative AI
            li.mb-2
              a.leading-6(data-l='Industries & Use Cases' target='_blank' href='https://neo4j.com/use-cases/') Industries &amp; Use Cases
            li.mb-2
              a.leading-6(data-l='Case Studies' target='_blank' href='https://neo4j.com/case-studies/') Case Studies
            li.mb-2
              a.leading-6(data-l='Customers' target='_blank' href='https://neo4j.com/customers/') Customers
        .cell.small-12.medium-3.flex.flex-col.gap-y-3
          // Developers
          .uppercase.font-bold Developers
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='Developer Home' target='_blank' href='https://neo4j.com/developer/') Developer Home
            li.mb-2
              a.leading-6(data-l='Documentation' target='_blank' href='https://neo4j.com/docs/') Documentation
            li.mb-2
              a.leading-6(data-l='Deployment Center' target='_blank' href='https://neo4j.com/deployment-center/') Deployment Center
            li.mb-2
              a.leading-6(data-l='Developer Blog' target='_blank' href='https://neo4j.com/developer-blog/') Developer Blog
            li.mb-2
              a.leading-6(data-l='Community' href='https://community.neo4j.com/' aria-label='Community (opens in new tab)' target='_blank') Community
            li.mb-2
              a.leading-6(data-l='Virtual Events' target='_blank' href='https://neo4j.com/developer/online-meetup/') Virtual Events
            li.mb-2
              a.leading-6(data-l='GraphAcademy' href='https://graphacademy.neo4j.com/' aria-label='Graph Academy (opens in new tab)' target='_blank') GraphAcademy
          // Data Scientists
          .uppercase.font-bold Data Scientists
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='Graph Data Science Home' target='_blank' href='https://neo4j.com/product/graph-data-science/') Graph Data Science Home
            li.mb-2
              a.leading-6(data-l='Data Science Documentation' target='_blank' href='https://neo4j.com/docs/graph-data-science/current/') Data Science Documentation
            li.mb-2
              a.leading-6(data-l='Get Started with Graph Data Science' target='_blank' href='https://neo4j.com/graph-data-science-software/') Get Started with Graph Data Science
            li.mb-2
              a.leading-6(data-l='Data Science Community' href='https://community.neo4j.com/c/neo4j-graph-platform/graph-algorithms/73' aria-label='Data Science Community (opens in new tab)' target='_blank') Data Science Community
            li.mb-2
              a.leading-6(data-l='GraphAcademy for Data Science' href='https://graphacademy.neo4j.com/categories/data-scientist/' aria-label='GraphAcademy for Data Science (opens in new tab)' target='_blank') GraphAcademy for Data Science
        .cell.small-12.medium-3.flex.flex-col.gap-y-3
          // Learn column
          .uppercase.font-bold Learn
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='resources' target='_blank' href='https://neo4j.com/resources/') Resource Library
            li.mb-2
              a.leading-6(data-l='blog' target='_blank' href='https://neo4j.com/blog/') Neo4j Blog
            li.mb-2
              a.leading-6(data-l='GraphAcademy' href='https://graphacademy.neo4j.com/' aria-label='Graph Academy (opens in new tab)' target='_blank') GraphAcademy
            li.mb-2
              a.leading-6(data-l='Research Center' target='_blank' href='https://neo4j.com/research/') Research Center
            li.mb-2
              a.leading-6(data-l='Case Studies' target='_blank' href='https://neo4j.com/case-studies/') Case Studies
            li.mb-2
              a.leading-6(data-l='Executive Insights' target='_blank' href='https://neo4j.com/graph-database-executive-insights/') Executive Insights
            li.mb-2
              a.leading-6(data-l='Events Calendar' target='_blank' href='https://neo4j.com/events/') Events Calendar
            li.mb-2
              a.leading-6(data-l='Graph Summit' target='_blank' href='https://neo4j.com/graphsummit/') Graph Summit
            li.mb-2
              a.leading-6(data-l='Connections' target='_blank' href='https://neo4j.com/connections/') Connections
            li.mb-2
              a.leading-6(data-l='Webinars' target='_blank' href='https://neo4j.com/webinars/') Webinars
          // Partners
          .uppercase.font-bold Partners
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='Find a Partner' target='_blank' href='https://neo4j.com/partners/directory/') Find a Partner
            li.mb-2
              a.leading-6(data-l='Become a Partner' target='_blank' href='https://neo4j.com/partners/neo4j-partner-program/') Become a Partner
            li.mb-2
              a.leading-6(data-l='Solution Partners' target='_blank' href='https://neo4j.com/partners/solution-partners/') Solution Partners
            li.mb-2
              a.leading-6(data-l='OEM Partners' target='_blank' href='https://neo4j.com/partners/oem-partners/') OEM Partners
            li.mb-2
              a.leading-6(data-l='Technology Partners' target='_blank' href='https://neo4j.com/partners/technology-partners/') Technology Partners
            li.mb-2
              a.leading-6(data-l='Partner Portal Login' href='https://neo4j.my.site.com/Neo4jPartnerCommunity' aria-label='Partner Portal Login (opens in new tab)' target='_blank') Partner Portal Login
        // About column
        .cell.small-12.medium-3.flex.flex-col.gap-y-3
          // company
          .uppercase.font-bold Company
          ul.list-none.m-0.mb-4
            li.mb-2
              a.leading-6(data-l='company' target='_blank' href='https://neo4j.com/company/') About Us
            li.mb-2
              a.leading-6(data-l='newsroom' target='_blank' href='https://neo4j.com/news/') Newsroom
            li.mb-2
              a.leading-6(data-l='awards and honors' target='_blank' href='https://neo4j.com/awards/') Awards and Honors
            li.mb-2
              a.leading-6(data-l='Graphs4Good' target='_blank' href='https://neo4j.com/graphs4good/') Graphs4Good
            li.mb-2
              a.leading-6(data-l='careers' target='_blank' href='https://neo4j.com/careers/') Careers
            li.mb-2
              a.leading-6(data-l='culture' target='_blank' href='https://neo4j.com/culture/') Culture
            li.mb-2
              a.leading-6(data-l='diversity' target='_blank' href='https://neo4j.com/diversity-and-inclusion/') Diversity
            li.mb-2
              a.leading-6(data-l='staff' target='_blank' href='https://neo4j.com/leadership/') Leadership
            li.mb-2
              a.leading-6(data-l='support' href='https://support.neo4j.com' aria-label='Support (opens in new tab)' target='_blank') Support
          .uppercase.font-bold
            a.font-bold(data-l='contact us' target='_blank' href='https://neo4j.com/contact-us/?ref=footer') Contact Us &rarr;
          div
            ul.list-none.m-0.mb-4
              li.leading-6.mb-2
                | US:
                |
                a(data-l='US phone' href='tel:1-855-636-4532') 1-855-636-4532
              li.leading-6.mb-2
                | Sweden:
                |
                a(data-l='Sweden phone' href='tel:+46 171 480 113') +46 171 480 113
              li.leading-6.mb-2
                | UK:
                |
                a(data-l='UK phone' href='tel:+44 20 3868 3223') +44 20 3868 3223
              li.leading-6.mb-2
                | France:
                |
                a(data-l='France phone' href='tel:+33 (0) 1 88 46 13 20') +33 (0) 1 88 46 13 20
          #social-icons
            .uppercase.font-bold.mb-4 Social Networks
            a(data-l='linkedin icon' href='https://www.linkedin.com/company/neo4j' aria-label='Neo4j on LinkedIn (opens in new tab)' target='_blank' rel='noopener')
              .bg-baltic-55.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-linkedin.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='twitter icon' href='https://twitter.com/neo4j' aria-label='Neo4j on Twitter (opens in new tab)' target='_blank' rel='noopener')
              .bg-baltic-55.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-twitter.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='youtube icon' href='https://youtube.com/neo4j' aria-label='Neo4j on YouTube (opens in new tab)' target='_blank' rel='noopener')
              .bg-baltic-55.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-youtube.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='facebook icon' href='https://www.facebook.com/neo4j.graph.database' aria-label='Neo4j on Facebook (opens in new tab)' target='_blank' rel='noopener')
              .bg-baltic-55.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-facebook.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='community icon' href='https://community.neo4j.com' aria-label='Neo4j Community Forum (opens in new tab)' target='_blank' rel='noopener')
              .bg-baltic-55.rounded-full.p-2.inline-flex.justify-center
                i.n-icon.n-icon-conversation-text.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='github icon' href='https://github.com/neo4j' aria-label='Neo4j Github (opens in new tab)' target='_blank' rel='noopener')
              .bg-baltic-55.rounded-full.p-2.inline-flex.justify-center
                i.n-icon.n-icon-github.n-icon-white(style='height: 14px; width: 14px')
      .grid-x.grid-padding-y
        .cell.small-12.medium-3
          div
            | &copy;
            |
            span#footer-copyright-year #{new Date().getFullYear()}
            |  Neo4j, Inc.
          div
            a(data-l='terms' target='_blank' href='https://neo4j.com/terms/') Terms
            |
            |  |
            |
            a(data-l='privacy' target='_blank' href='https://neo4j.com/privacy-policy/') Privacy Policy
            |
            |  |
            |
            a(data-l='sitemap' target='_blank' href='https://neo4j.com/sitemap/') Sitemap
            br
            a(data-l='corruption' href='https://assets.neo4j.com/Neo4j_Anti_Corruption_Policy_Final.pdf' aria-label='Anti-Corruption Policy (opens in new tab)' target='_blank') Anti-Corruption Policy
        .cell.small-12.medium-9
          | Neo4j&reg;, Neo Technology&reg;, Cypher&reg;, Neo4j&reg; Bloom&trade;, Neo4j&reg; AuraDS&trade; and Neo4j&reg; AuraDB&trade; are registered trademarks
          | of Neo4j, Inc. All other marks are owned by their respective companies.
