footer(data-c='footer navigation')
  #footer-v2.bg-whitesmoke.py-16.text-sm.container
    .grid-container.flex.flex-col.gap-y-8
      .grid-x.grid-padding-y.grid-margin-y
        // Products column
        .cell.small-12.medium-3.flex.flex-col.gap-y-3
          .uppercase.font-bold Products
          ul.list-none.m-0
            li
              a.leading-6(data-l='Platform Overview' href='https://neo4j.com/product/') Platform Overview
            li
              a.leading-6(data-l='Neo4j Graph Database' href='https://neo4j.com/product/neo4j-graph-database/') Neo4j Graph Database
            li
              a.leading-6(data-l='Neo4j Aura' href='https://neo4j.com/cloud/aura/') Neo4j Aura
            li
              a.leading-6(data-l='Neo4j Bloom' href='https://neo4j.com/product/bloom/') Neo4j Bloom
            li
              a.leading-6(data-l='Neo4j Developer Tools' href='https://neo4j.com/product/developer-tools/') Neo4j Developer Tools
            li
              a.leading-6(data-l='Neo4j Graph Data Science Library' href='https://neo4j.com/product/graph-data-science-library/') Neo4j Graph Data Science Library
            li
              a.leading-6(data-l='Neo4j GraphQL Library' href='https://neo4j.com/product/graphql-library/') Neo4j GraphQL Library
            li
              a.leading-6(data-l='Cypher Query Language' href='https://neo4j.com/product/cypher-graph-query-language/') Cypher Query Language
            li
              a.leading-6(data-l='Pricing' href='https://neo4j.com/pricing/') Pricing
        // Learn column
        .cell.small-12.medium-2.flex.flex-col.gap-y-3
          .uppercase.font-bold Learn
          ul.list-none.m-0
            li
              a.leading-6(data-l='resources' href='https://neo4j.com/resources') Resources
            li
              a.leading-6(data-l='events' href='https://neo4j.com/events') Events
        // Solutions column
        .cell.small-12.medium-2.flex.flex-col.gap-y-3
          .uppercase.font-bold Solutions
          ul.list-none.m-0
            li
              a.leading-6(data-l='use-cases' href='https://neo4j.com/use-cases') Use Cases
            li
              a.leading-6(data-l='case-studies' href='https://neo4j.com/case-studies') Case Studies
            li
            li
              a.leading-6(data-l='customers' href='https://neo4j.com/customers') Customers
            li
            li
              a.leading-6(data-l='partners' href='https://neo4j.com/partners') Partners
            li
            li
              a.leading-6(data-l='professional-services' href='https://neo4j.com/professional-services') Professional Services
            li
        // About column
        .cell.small-12.medium-2.flex.flex-col.gap-y-3
          .uppercase.font-bold About
          ul.list-none.m-0
            li
              a.leading-6(data-l='company' href='https://neo4j.com/company') Company
            li
              a.leading-6(data-l='newsroom' href='https://neo4j.com/news') Newsroom
            li
              a.leading-6(data-l='awards and honors' href='https://neo4j.com/awards') Awards and Honors
            li
              a.leading-6(data-l='careers' href='https://neo4j.com/careers') Careers
            li
              a.leading-6(data-l='staff' href='https://neo4j.com/staff') Staff and Leadership
            li
              a.leading-6(data-l='support' href='https://support.neo4j.com' target='_blank') Support
        // Contact us column
        .cell.small-12.medium-3.flex.flex-col.gap-y-3
          .uppercase.font-bold
            a(data-l='contact us' href='https://neo4j.com/contact-us?ref=footer') Contact Us &rarr;
          div
            ul.list-none.m-0
              li.leading-6
                | US:
                a(data-l='US phone' href='tel:1-855-636-4532') 1-855-636-4532
              li.leading-6
                | Sweden:
                a(data-l='Sweden phone' href='tel:+46 171 480 113') +46 171 480 113
              li.leading-6
                | UK:
                a(data-l='UK phone' href='tel:+44 20 3868 3223') +44 20 3868 3223
              li.leading-6
                | France:
                a(data-l='France phone' href='tel:+33 (0) 1 73 23 56 07')
                  | +33 (0) 1 73 23 56
                  | 07
          #social-icons
            a(data-l='linkedin icon' href='https://www.linkedin.com/company/neo4j' title='Neo4j on LinkedIn' target='_blank' rel='noopener')
              .bg-charcoal.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-linkedin.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='twitter icon' href='https://twitter.com/neo4j' title='Neo4j on Twitter' target='_blank' rel='noopener')
              .bg-charcoal.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-twitter.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='youtube icon' href='https://youtube.com/neo4j' title='Neo4j on YouTube' target='_blank' rel='noopener')
              .bg-charcoal.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-youtube.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='facebook icon' href='https://www.facebook.com/neo4j.graph.database' title='Neo4j on Facebook' target='_blank' rel='noopener')
              .bg-charcoal.rounded-full.p-2.mr-1.inline-flex.justify-center
                i.n-icon.n-icon-facebook.n-icon-white(style='height: 14px; width: 14px')
            a(data-l='community icon' href='https://community.neo4j.com' title='Neo4j Community Forum' target='_blank' rel='noopener')
              .bg-charcoal.rounded-full.p-2.inline-flex.justify-center
                i.n-icon.n-icon-conversation-text.n-icon-white(style='height: 14px; width: 14px')
      .grid-x.grid-padding-y
        .cell.small-12.medium-3
          div
            | &copy;
            span#footer-copyright-year !{new Date().year}
            |  Neo4j, Inc.
          div
            a(data-l='terms' href='https://neo4j.com/terms/') Terms
            |
            |  |
            |
            a(data-l='privacy' href='https://neo4j.com/privacy-policy/') Privacy
            |
            |  |
            |
            a(data-l='sitemap' href='https://neo4j.com/sitemap/') Sitemap
        .cell.small-12.medium-9
          | Neo4j&reg;, Neo Technology&reg;, Cypher&reg;, Neo4j&reg; Bloom&trade; and Neo4j&reg; Aura&trade; are registered trademarks
          | of Neo4j, Inc. All other marks are owned by their respective companies.

if ga.id
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src=`https://www.googletagmanager.com/gtag/js?id=${ga.id}`)
  script(nonce=nonce).
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '!{ga.id}');

block scripts