if bugsnag && bugsnag.apiKey
  script(nonce=nonce, src='//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js').
  script(nonce=nonce).
    Bugsnag.start({ apiKey: '#{bugsnag.apiKey}', onError: function(event) {
      if (window.user) {
        event.setUser(window.user.sub, window.user.email)
      }
    } })
