.header
  .container
    .navbar
      button.navbar-burger(data-target="topbar-nav" aria-label="Mobile Navigation Button")
        span
        span
        span
      .navbar-brand
        a.navbar-item(href='/')
          .logo-icon !{iconSvg}
          .logo-full !{logoSvg}
          span.navbar-brand-text GraphAcademy
      .navbar-menu
        .navbar-end
          .navbar-item
            a.navbar-link(href='/courses') View Courses
          //- .navbar-item
          //-   a.navbar-link(href='/certification') Certification
          if user
            .navbar-item
              a.navbar-link.navbar-account.navbar-primary(href='/account') Hey
                if user.given_name
                  | , #{user.given_name}
                | !
              .navbar-dropdown
                .navbar-item.project
                  a.project-name(href=`/u/${user.id}`) Public Profile
                .navbar-item.project
                  a.project-name(href='/courses') My Courses
                .navbar-item.project
                  a.project-name.navbar-logout(href='/logout') Sign Out
          else
            .navbar-item
              a.navbar-link.navbar-login.navbar-primary(href='/login') Sign In