.header
  .container
    .navbar
      button.navbar-burger(data-target="topbar-nav" aria-label="Mobile Navigation Button")
        span
        span
        span
      .navbar-brand
        a.navbar-item(href='/')
          img.logo-icon(src='/img/icon-white.png' alt='logo-icon')
          img.logo-full(src='/img/logo-white.png' alt='logo-full')
          span.navbar-brand-text GraphAcademy
      .navbar-menu
        .navbar-end
          .navbar-item
            a.navbar-link(href='/courses') View Courses
          .navbar-item
            a.navbar-link(href='/certification') Certification
          if user
            .navbar-item
              a.navbar-link(href='/account') Hey, #{user.given_name}!
              .navbar-dropdown
                .navbar-item.project
                  a.project-name(href=`/u/${user.id}`) Public Profile
                .navbar-item.project
                  a.project-name(href='/courses') My Courses
                .navbar-item.project
                  a.project-name(href='/logout') Sign Out
          else
            .navbar-item
              a.navbar-link(href='/login') Sign In