include ../mixins/json

.pagination
  if previous
    div.pagination-link.pagination-link--previous
      span.pagination-link-direction Previous
      a(href=previous.link) &larr; #{previous.title}

  if next
    div.pagination-link.pagination-link--next
      span.pagination-link-direction Next
      a(href=next.link) #{next.title} &rarr;
