body.banner {
    background-color: $neutral-10;
    width: 524px;
    height: 274px;

    .container {
        position: relative;
        margin: 0;
        width: 524px;
        height: 274px;
        padding: $space-8 $space-6;
        // border: 1px solid $neutral-70;

        .logo {
            margin-bottom: $space-4;
            border-bottom: 1px solid $neutral-25;
            padding-bottom: $space-4;

            svg {
                height: $space-6;
                width: auto;
            }
        }

        .overline {
            @extend .body-small;

            margin-bottom: $space-1;
            color: $neutral-45;
        }

        .byline {
            @extend .body-small;
        }

        h1 {
            @extend .heading-4;
            margin: 0 0 $space-2;
            font-size: $space-6;
            // padding-right: $space-20;
        }

        .badge {
            position: absolute;
            top: $space-6;
            right: $space-4;

            svg {
                width: $space-24;
                height: $space-24;
            }
        }
    }
}