.container.one-column {
    padding: $spacing-12 0;

    &.simple {
        text-align: center;

        .section, .sectionbody {

            max-width: 820px;
            margin: auto;
        }

        .action {
            margin: $spacing-12 0;
        }
    }
}