.container.one-column {
    padding: $space-12 $space-4;
    background-color: $colors-neutral-10;
    // margin-bottom: $space-12*2;
    border-radius: $border-radius-lg;

    &.simple {
        text-align: center;

        .section,
        .sectionbody {

            max-width: 820px;
            margin: auto;
        }

        .action {
            margin: $space-12 0;
        }
    }
}