.container.two-column {
    @include min($screen-desktop) {
        display: flex;
        flex-direction: row;

        .column--minor {
            flex: 0 0 320px;
            margin-right: $spacing-4;
            margin-top: $spacing-4;

            .secondary-nav {
                margin-top: 0;

            }
        }

        .column--major {
            flex: 0 1 100%;
        }
    }
}

.secondary-nav {
    // border: 1px solid $neutral-20;
    // background-color: $primary-color-10;
    padding: $padding-vertical $padding-horizontal;
    margin-bottom: $spacing-8;
    border-radius: $radius-sm;

    @extend .body-small;

    margin-top: $spacing-8;

    a {
        color: $neutral-45;
    }

    &.secondary-nav--collapsible {
        background-color: $primary-color-10;

        @include min($screen-desktop) {
            background-color: transparent;
        }
    }

    .secondary-nav-title {
        margin: 0;
        color: $neutral-50;
        cursor: pointer;

        &:after {
            display: block;
            content: " ";
            border: solid $neutral-50;
            border-width: 0 2px 2px 0;
            margin-top: 6px;
            padding: 3px;
            transform: rotate(45deg);
            float: right;


        }
        @include min($screen-desktop) {
            cursor: auto;
            &:after {
                display: none;
            }
        }
    }

    &.secondary-nav--visible {
        .secondary-nav-title:after {
            transform: rotate(-135deg);
        }
        .secondary-nav-group {
            display: block;
        }
    }

    .secondary-nav-group {
        display: none;
        margin: 0 0 $spacing-8;

        @include min($screen-desktop) {
            display: block;
        }

        &--grouped {
            margin-bottom: 0;

            .secondary-nav-list {
                margin-bottom: 0 !important;
            }
        }
    }
    .secondary-nav-list {
        margin: 0 0 $spacing-4;
        padding: $spacing-4 0 0;

        &.secondary-nav-list--sticky {
            position: sticky;
        }
    }


    .secondary-nav-header {
        font-weight: 600;
        color: $neutral-40;
        @extend .body-small;
        margin: 0;
        border-top: 1px solid $neutral-20;
        padding-top: $spacing-4;
    }

    .secondary-nav-item {
        color: $neutral-50;
        list-style-type: none;

        &--grouped {
            margin: 0;
        }

        a {
            color: inherit;
            display: block;
            padding: $spacing-1 0;

            &:hover {
                color: $primary-color-50;
            }
        }

        &--active a {
            color: $primary-color;
        }
    }
}
