body.account .main {
    padding: $space-12 0;
}

.container.two-column {
    padding-bottom: $space-12;


    .column--minor {
        margin: 0 0 $space-12 0;
    }

    @include min($breakpoints-xl) {
        display: flex;
        flex-direction: row;

        .column--minor {
            flex: 0 0 293px;
            margin: 0 $space-4 $space-12 0;

            .secondary-nav {
                margin-top: 0;

            }
        }

        .column--major {
            flex: 0 1 100%;
        }
    }
}

.secondary-nav {
    position: sticky;
    top: 0;
    padding: $space-4 $space-4;
    margin-bottom: $space-8;
    border-radius: $border-radius-md;

    a {
        color: $colors-neutral-70;
        font-weight: normal;

        &:hover {
            color: $colors-neutral-60;
        }
    }

    &.secondary-nav--collapsible {
        background-color: $colors-neutral-10;

        @include min($breakpoints-xl) {
            background-color: transparent;
        }
    }

    &.secondary-nav--visible {
        .secondary-nav-title {
            margin: 0 0 $space-4;
        }
    }

    .secondary-nav-title {
        margin: 0;
        color: $colors-neutral-80;
        cursor: pointer;


        &:after {
            display: block;
            content: " ";
            border: solid $colors-neutral-80;
            border-width: 0 2px 2px 0;
            margin-top: 6px;
            padding: 3px;
            transform: rotate(45deg);
            float: right;
        }

        @include min($breakpoints-xl) {
            cursor: auto;

            &:after {
                display: none;
            }
        }
    }

    &.secondary-nav--visible {
        .secondary-nav-title:after {
            transform: rotate(-135deg);
        }

        .secondary-nav-group {
            display: block;
        }
    }

    .secondary-nav-group {
        display: none;
        margin: 0 0 $space-8;

        @include min($breakpoints-xl) {
            display: block;
        }

        &--grouped {
            margin-bottom: 0;

            .secondary-nav-list {
                margin-bottom: 0 !important;
            }
        }
    }

    .secondary-nav-list {
        margin: 0;
        padding: 0;

        &--separated {
            margin-top: $space-6;
            padding-top: $space-6;
            border-top: 1px solid $colors-neutral-40;
        }
    }


    .secondary-nav-header {
        font-weight: 600;
        color: $colors-neutral-80;
        font-size: 1rem;
        margin: 0;
        padding: $space-4 $space-4 0;
    }

    .secondary-nav-item {
        color: $colors-neutral-70;
        list-style-type: none;

        &--grouped {
            margin: 0;
        }

        a {
            color: inherit;
            display: flex;
            align-items: center;
            padding: $space-2 $space-4;
            border-radius: $border-radius-md;

            svg {
                margin-right: $space-4;
                width: 20px;
            }

            &:hover {
                color: $colors-primary-50;
            }
        }

        &--active a {
            background-color: $colors-neutral-40;
            color: $colors-primary-60;

            svg path {
                stroke: $colors-primary-60;
            }
        }
    }
}

.secondary-nav-meta-list {
    .secondary-nav-meta-list-type {
        width: 24px;
        margin-right: $space-2;
        float: left;

        span {
            display: none;
        }
    }

    .secondary-nav-meta-list-definition {
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
}