.container.two-column {
    padding-top: $space-12;

    @include min($breakpoints-xl) {
        display: flex;
        flex-direction: row;

        .column--minor {
            flex: 0 0 240px;
            margin-right: $space-4;
            margin-top: $space-4;

            .secondary-nav {
                margin-top: 0;

            }
        }

        .column--major {
            flex: 0 1 100%;
            background-color: $colors-neutral-10;
            padding: 16px;
        }
    }
}

.secondary-nav {
    padding: $space-4 $space-4;
    margin-bottom: $space-8;
    border-radius: $border-radius-md;

    margin-top: $space-8;

    a {
        color: $colors-neutral-70;
        font-weight: normal;

        &:hover {
            color: $colors-neutral-60;
        }
    }

    &.secondary-nav--collapsible {
        background-color: $colors-neutral-10;

        @include min($breakpoints-xl) {
            background-color: transparent;
        }
    }

    .secondary-nav-title {
        margin: 0;
        color: $colors-neutral-80;
        cursor: pointer;

        &:after {
            display: block;
            content: " ";
            border: solid $colors-neutral-80;
            border-width: 0 2px 2px 0;
            margin-top: 6px;
            padding: 3px;
            transform: rotate(45deg);
            float: right;
        }

        @include min($breakpoints-xl) {
            cursor: auto;

            &:after {
                display: none;
            }
        }
    }

    &.secondary-nav--visible {
        .secondary-nav-title:after {
            transform: rotate(-135deg);
        }

        .secondary-nav-group {
            display: block;
        }
    }

    .secondary-nav-group {
        display: none;
        margin: 0 0 $space-8;

        @include min($breakpoints-xl) {
            display: block;
        }

        &--grouped {
            margin-bottom: 0;

            .secondary-nav-list {
                margin-bottom: 0 !important;
            }
        }
    }

    .secondary-nav-list {
        margin: 0 0 $space-4;
        padding: $space-4 0 0;

        &.secondary-nav-list--sticky {
            position: sticky;
        }
    }


    .secondary-nav-header {
        font-weight: 600;
        color: $colors-neutral-80;
        font-size: 1rem;
        margin: 0;
        // border-top: 1px solid $colors-neutral-20;
        padding-top: $space-4;
    }

    .secondary-nav-item {
        color: $colors-neutral-70;
        list-style-type: none;

        &--grouped {
            margin: 0;
        }

        a {
            color: inherit;
            display: block;
            padding: $space-1 0;

            &:hover {
                color: $colors-primary-50;
            }
        }

        &--active a {
            color: $colors-primary-40;
        }
    }
}