.neo4j
.idea
node_modules
.env
.env.*
!.env.example
.DS_Store
server.py
**/.DS_Store
_/
asciidoc/certifications/*/
courses.zip
html.zip
build/html/*
tmp
*.pyc
__pycache__/
.pytest_cache/
.venv
_llm.md
asciidoc/certifications/*