node_modules
.env**
dist
.DS_Store
*.iml
.idea
test.sh

!browser/dist
cypress/videos
cypress/screenshots

public/css/*.css
public/css/*.css.map
public/js/*.js
public/js/*.js.map
.neo4j

k8s/**/env
tmp
service-account.json

_*