version: "3.7"

networks:
  graphacademy:
    driver: bridge

services:
  neo4j:
    image: neo4j:enterprise
    hostname: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - "./.neo4j/data:/data"
      - "./.neo4j/logs:/logs"
    environment:
      NEO4J_AUTH: neo4j/${NEO4J_PASSWORD}
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4JLABS_PLUGINS: '["apoc"]'
      NEO4J_dbms_memory_heap_max__size: 2G
      NEO4J_dbms_memory_heap_initial__size: 2G
      NEO4J_dbms_memory_pagecache_size: 1G
    healthcheck:
      test: [ "CMD", "neo4j", "status" ]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 40s
    networks:
      - graphacademy

  app:
    image: 715633473519.dkr.ecr.us-east-1.amazonaws.com/graphacademy
    ports:
      - "3000:3000"
    networks:
      - graphacademy
    environment:
      NODE_ENV: development
      BASE_URL: http://localhost:3000
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
      AUTH0_CLIENT_SECRET: ${AUTH0_CLIENT_SECRET}
      AUTH0_ISSUER_BASE_URL: ${AUTH0_ISSUER_BASE_URL}
      SANDBOX_URL: http://localhost:3000/test/sandbox/ # ${SANDBOX_URL}
      SANDBOX_DEV_INSTANCE_ID: 139f44bf53e91b10e9465bb9918e1660
      SANDBOX_DEV_INSTANCE_HASH_KEY: 139f44bf53e91b10e9465bb9918e1660
      SANDBOX_DEV_INSTANCE_SCHEME: neo4j
      SANDBOX_DEV_INSTANCE_HOST: neo4j
      SANDBOX_DEV_INSTANCE_PORT: 7687
      SANDBOX_DEV_INSTANCE_USERNAME: neo4j
      SANDBOX_DEV_INSTANCE_PASSWORD: ${NEO4J_PASSWORD}
      NEO4J_HOST: neo4j://neo4j:7687
      NEO4J_USERNAME: neo4j
      NEO4J_PASSWORD: ${NEO4J_PASSWORD}
      CACHE_ASCIIDOC: false

    volumes:
      - "./asciidoc:/app/asciidoc"
    depends_on:
      neo4j:
        condition: service_healthy
    command:
      - /bin/sh
      - -c
      - |
        npm install nodemon
        npm run dev:constraints
        npm run dev
