include ../mixins/date
include ../mixins/json

doctype html
html(lang='en')
  head
    title 🟢
      block title
      |  #{title}
      | | GraphAcademy
    link(rel='stylesheet' href='/css/app.css')

    block head

  body(class=classes)
    include ../partials/header

    .main
      .container
        include ../partials/breadcrumbs

        block main

    include ../partials/footer-scripts
