include ../mixins/date
include ../mixins/json
include ../mixins/hero

doctype html
html(lang='en')
  head
    title
      block title
      | !{title}
      | | Free Neo4j Courses from GraphAcademy

    include ../partials/meta.pug

    block head

  body(class=classes)
    include ../partials/header

    for message, key in messages
      .notification(class=`notification--${key}`) !{message}

    block hero
      if hero
        +hero(hero.title, hero.byline, hero.overline)

    .main
      //- .container
      include ../partials/breadcrumbs
      block main

    include ../partials/footer
    include ../partials/footer-scripts

