include ../mixins/date
include ../mixins/json

doctype html
html(lang='en')
  head
    title
      block title
      | !{title}
      | | GraphAcademy
    link(rel='stylesheet' href='/css/app.css')

    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    block head

  body(class=classes)
    include ../partials/header

    block hero

    .main
      .container
        include ../partials/breadcrumbs
        block main

    include ../partials/footer-scripts
