doctype html
html(lang='en')
  head
    title 🟢 #{title} | GraphAcademy
    link(rel='stylesheet' href='/css/app.css')
  body(class=classes)
    include ../partials/header

    .main
      .container
        block main

    include ../partials/footer-scripts