.account-header {
    padding: 0 $space-8;
    margin-bottom: $space-12;
}

.account-tabs {
    padding-left: $space-4;
}

.account-section {
    background-color: $colors-neutral-10;
    border-radius: $border-radius-2xl;
    padding: $space-8;
    margin-bottom: $space-12;

    h2 {
        margin-bottom: $space-4;
        font-size: 1.25rem;
        font-weight: normal;

        &:first-child {
            margin-top: 0;
        }
    }
}

.account-authentication {
    border: 1px solid $colors-neutral-40;
    padding: $space-4 $space-4;
    border-radius: $border-radius-md;

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    img {
        float: left;
        margin-right: $space-4;
        width: $space-24;
        height: $space-24;
        border: 1px solid $colors-neutral-30;
        border-radius: $border-radius-md;
    }


    .account-method {
        @extend .body-small;
        margin-bottom: 0;
        color: $colors-neutral-60;
    }

    .account-email {
        font-weight: 600;
        margin-top: 0;
        color: $colors-neutral-60;
    }
}

.btn-skip {
    display: inline-block;
    padding-top: $space-2;
    padding-left: $space-4;
    font-weight: normal;
    color: $colors-neutral-60;
    font-style: italic;

    &:hover {
        color: $colors-neutral-70;
    }
}

.account-section {
    .form {
        display: flex;
        flex-wrap: wrap;

        .form-group {
            flex: 0 0 50%;

            &.full {
                flex: 0 0 100%;
            }

            &.padded {
                padding-right: $space-4;
            }

            &.checkbox {
                flex: 0 0 100%;
                line-height: 1;

                input {
                    width: auto;
                    display: block;
                    float: left;
                    margin: 0 $space-4 $space-4 0;
                    height: $space-6;
                    width: $space-6;
                }

                label {
                    padding-left: 0;
                    font-weight: normal;
                }
            }
        }
    }

    &.verification-required {
        background: $colors-danger-10;
        border: 1px solid $colors-danger-20;
        border-radius: $border-radius-md;
        color: $colors-danger-70;
        margin: 0 $space-4 $space-12;
        padding-bottom: 0;

        h2 {
            font-size: 1.125rem;
            border-bottom: 0px none;
            color: $colors-danger-70;
        }

        .btn {
            background-color: $colors-danger-60;
            border-color: $colors-danger-60;
            color: $colors-neutral-10;
        }
    }
}

.account-public {
    .account-url {
        background-color: $colors-neutral-30;
        color: $colors-neutral-80;
        padding: $space-3 $space-4;
        display: flex;
        align-items: center;
        border-radius: $border-radius-md;

        .account-link {
            flex-grow: 1;
            font-weight: normal;
            font-family: $font-family-monospace;
            font-size: 14px;
            color: $colors-neutral-80;

            &:hover {
                color: $colors-primary-60;
            }
        }

        .account-action {
            flex-grow: 0;
            margin-left: $space-2;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            .account-action-label {
                @extend .body-small;
                position: absolute;
                background: $colors-neutral-70;
                color: $colors-neutral-10;
                position: absolute;
                bottom: 100%;
                left: 50%;
                padding: $space-1 $space-2;
                width: 120px;
                text-align: center;
                margin-left: -60px;
                margin-bottom: $space-1;
                display: none;
                border-radius: $border-radius-sm;
            }

            &:hover {
                .account-action-label {
                    display: block;
                }
            }
        }

    }
}

.account-courses {
    .account-course {
        padding: $space-2 0 $space-4;
        border-bottom: 1px solid $colors-neutral-40;

        &:last-child {
            border-bottom: 0px none;
        }

        .course-actions {
            display: flex;
            flex-direction: row;

            svg {
                margin-left: $space-2;
            }
        }

        @include min($breakpoints-lg) {
            display: flex;
            flex-direction: row;

            .course-image {
                flex: 0 0 120px;

                svg {
                    width: 80px;
                }

                .card-badge svg {
                    height: 80px;
                }
            }

            .course-details {
                flex-grow: 1;
                display: flex;
                // align-items: center;
                flex-direction: column;
                justify-content: center;

                a {
                    font-size: 1.125rem;
                    color: $colors-neutral-80;
                }

                .course-caption {
                    color: $colors-neutral-70;
                }
            }

            .course-progress {
                flex: 0 0 260px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: $space-2 $space-4;

                .progress-container {
                    margin-bottom: 0;
                }
            }

            .course-actions {
                flex: 0 0 180px;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}

.rewards {
    padding-bottom: $space-16;
    border-bottom: 1px solid $colors-neutral-40;
    border-radius: 0;

    .reward {
        background-color: $colors-neutral-20;
        border-radius: $border-radius-md;
        padding: $space-4;
        display: flex;

        .reward-details {
            flex-grow: 1;
        }

        .reward-description {
            margin-bottom: 0;
        }

        .btn {
            background-color: $colors-neutral-10;
        }

        .reward-title {
            margin-top: $space-4;
        }

        .reward-claim {
            padding-top: $space-8;
        }

        .reward-image {
            width: 20%;
            max-width: 160px;
            float: right;
            border: 1px solid $colors-neutral-30;
            border-radius: $border-radius-sm;
            margin-right: $space-4;

            img {
                width: 100%;
            }

        }
    }
}

.redeem-reward img {
    width: 100%;
    border: 1px solid $colors-neutral-30;
    border-radius: $border-radius-sm;
    margin-bottom: $space-12;
}

#state-container,
#tax-container,
#state-text-container {
    display: none;

    &.visible {
        display: block;
    }
}