
.account-section {
    padding: $padding-vertical $padding-horizontal $spacing-18;

    h2 {
        border-bottom: 1px solid $neutral-25;
        padding-bottom: $spacing-4;
        margin-bottom: $spacing-4;

        &:first-child {
            margin-top: 0;
        }
    }
}

.account-authentication {
    border: 1px solid $neutral-30;
    padding: $padding-vertical $padding-horizontal;
    border-radius: $radius-sm;

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    img {
        float: left;
        margin-right: $spacing-4;
        width: $spacing-24;
        height: $spacing-24;
        border: 1px solid $neutral-20;
        border-radius: $radius-sm;
    }


    .account-method {
        @extend .body-small;
        margin-bottom: 0;
        color: $neutral-40;
    }

    .account-email {
        font-weight: 600;
        margin-top: 0;
        color: $neutral-50;
    }
}

.account-section {
    .form {
        display: flex;
        flex-wrap: wrap;

        .form-group {
            flex: 0 0 50%;

            &:nth-child(odd) {
                padding-right: $spacing-4;
            }
        }
    }
}

.account-sandboxes {
    margin-bottom: $spacing-8;

    .account-sandbox {
        border: 1px solid $neutral-30;
        padding: $padding-vertical $padding-horizontal;
        margin-bottom: $spacing-4;
    }
}
.account-sandbox {
    // padding: $padding-vertical $padding-horizontal;
    border-radius: $radius-sm;

    .overline {
        color: $neutral-50;
        margin: 0;
    }

    .heading-4 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .body-small {
        color: $neutral-50;
    }

    .account-sandbox-url {
        a {
            &:after {
                color: inherit;
                display: inline-block;
                content: " →";
                margin-left: $spacing-2;
                transition: margin .2s linear;
            }

            &:hover:after {
                margin-left: $spacing-4;
            }
        }
    }

    .account-sandbox-details {
        @extend .body-small;

        color: $neutral-40;
        margin-top: 0;

        .account-sandbox-label {
            color: $neutral-60;
            display: inline-block;
            font-weight: 600;
            margin: 0 $spacing-2 0 0;
        }

        .account-sandbox-detail {
            display: inline-block;
            // font-weight: 600;
            margin: 0 $spacing-4 0 0;

            .btn-inline-copy {
                color: $neutral-45;
                border-bottom-width: 1px;
            }
        }
    }

}