
.account-section {
    padding: $space-4 $space-4 $space-20;

    h2 {
        border-bottom: 1px solid $neutral-25;
        padding-bottom: $space-4;
        margin-bottom: $space-4;

        &:first-child {
            margin-top: 0;
        }
    }
}

.account-authentication {
    border: 1px solid $neutral-30;
    padding: $space-4 $space-4;
    border-radius: $border-radius-md;

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    img {
        float: left;
        margin-right: $space-4;
        width: $space-24;
        height: $space-24;
        border: 1px solid $neutral-20;
        border-radius: $border-radius-md;
    }


    .account-method {
        @extend .body-small;
        margin-bottom: 0;
        color: $neutral-40;
    }

    .account-email {
        font-weight: 600;
        margin-top: 0;
        color: $neutral-50;
    }
}

.account-section {
    .form {
        display: flex;
        flex-wrap: wrap;

        .form-group {
            flex: 0 0 50%;

            &:nth-child(odd) {
                padding-right: $space-4;
            }
        }
    }

    &.verification-required {
        background: $colors-danger-10;
        border: 1px solid $colors-danger-20;
        border-radius: $border-radius-md;
        color: $colors-danger-70;
        margin: 0 $space-4  $space-12;
        padding-bottom: 0;

        h2 {
            font-size: 1.125rem;
            border-bottom: 0px none;
            color: $colors-danger-70;
        }

        .btn {
            background-color: $colors-danger-60;
            border-color: $colors-danger-60;
            color: $neutral-10;
        }
    }
}

.account-sandboxes {
    margin-bottom: $space-8;

    .account-sandbox {
        border: 1px solid $neutral-30;
        padding: $space-4 $space-4;
        margin-bottom: $space-4;
    }
}
.account-sandbox {
    // padding: $space-4 $space-4;
    border-radius: $border-radius-md;

    .overline {
        color: $neutral-50;
        margin: 0;
    }

    .heading-4 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .body-small {
        color: $neutral-50;
    }

    .account-sandbox-url {
        a {
            &:after {
                color: inherit;
                display: inline-block;
                content: " →";
                margin-left: $space-2;
                transition: margin .2s linear;
            }

            &:hover:after {
                margin-left: $space-4;
            }
        }
    }

    .account-sandbox-details {
        @extend .body-small;

        color: $neutral-40;
        margin-top: 0;

        .account-sandbox-label {
            color: $neutral-60;
            display: inline-block;
            font-weight: 600;
            margin: 0 $space-2 0 0;
        }

        .account-sandbox-detail {
            display: inline-block;
            // font-weight: 600;
            margin: 0 $space-4 0 0;

            .btn-inline-copy {
                color: $neutral-45;
                border-bottom-width: 1px;
            }
        }
    }

}