.achievement-group {
    margin-bottom: $space-12;

    .achievement-group-header {
        display: flex;
        width: 100%;
        // justify-content: space-between;
        border-bottom: 1px solid $neutral-30;
        padding: $space-4 0;

        .progress-container {
            flex: 0 0 $space-64;
            display: flex;
            justify-content: center;
        }

        .achievement-group-title {
            margin: 0;
            flex-grow: 1;
        }
        .achievement-group-progress {
            margin: 0;
            color: $neutral-50;
            flex-grow: 0;
            @extend .body-small;
        }
    }

    .achievement-list {
        display: flex;
        flex-wrap: wrap;

        .achievement-list-item {
            width: $space-32 + $space-6;
            padding: $space-4 $space-4 $space-4 0;
            position: relative;

            .achievement-list-item-title {
                font-size: 1rem;
                font-weight: 400;
                margin: 0;
                color: $neutral-60;
            }

            .achievement-badge svg {
                width: $space-24;
                height: $space-24;
            }
            .achievement-indicator {
                position: absolute;
                top: $space-20;
                right: $space-12;

                svg {
                    width: $space-8;
                    height: $space-8;
                }
            }

            &.achievement-list-item--disabled {
                .achievement-badge svg {
                    #lg {
                        fill: $neutral-25;
                    }
                    #md {
                        fill: $neutral-30;
                    }

                    #sm {
                        fill: $neutral-35;
                    }
                }
            }

            &.achievement-list-item--faded {
                opacity: .6;
            }
        }
    }
}
