.certificate {
    background-color: $colors-primary-60;
    padding: $space-4;

    .certificate-container {
        margin: $space-8 auto $space-24;
        width: 100%;
        max-width: 1020px;
        background-color: $colors-neutral-15;
        border: 1px solid $colors-neutral-30;
        background: $colors-neutral-10;
        border-radius: $border-radius-2xl * 2;
        position: relative;
        overflow: hidden;

        box-shadow: 0px 0px 2px rgba(52, 58, 67, 0.1), 0px 1px 2px rgba(52, 58, 67, 0.08), 0px 1px 4px rgba(52, 58, 67, 0.08);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(../img/static/certificate/certificate-left.svg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            z-index: 0;
        }

        @include min($breakpoints-lg) {
            padding-top: $space-8 + $space-2;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url(../img/static/certificate/certificate-right.svg);
                background-position: bottom right;
                background-repeat: no-repeat;
                z-index: 0;
            }
        }
    }

    .course-illustration {
        display: flex;
        justify-content: center;
        margin: $space-12 $space-12 $space-4 0;

        svg {
            // height: 600px;
            width: 220px;
            height: auto;
        }

        @include min($breakpoints-lg) {
            height: 240px;
        }
    }


    .certificate-body {

        padding: $space-12 $space-8 $space-4;
        text-align: left;
        z-index: 2;
        color: $colors-neutral-50;

        @include min($breakpoints-lg) {
            width: 70%;

            .course-illustration {
                position: absolute;
                bottom: 70px;
                right: 151px;
            }
        }

        .certificate-info {
            position: relative;
            z-index: 100;
        }

        .course-name {
            font-family: $font-family-sans-serif;
            color: $colors-primary-50;
            font-size: 1.4rem;
            margin-top: $space-2;
            margin-bottom: $space-8;
        }

        .certificate-text {
            font-size: 1.1rem;
            margin-top: $space-12;
            margin-bottom: 0;
        }

        .certificate-name {
            display: flex;
            align-items: center;
            font-weight: bold;
            // color: $colors-primary-60;
            font-size: 3rem;
            font-family: $font-family-header;
            margin: $space-4 0 $space-12 0;
            color: $colors-primary-70;

            .certificate-name-edit {
                @extend .body-small;
                display: none;
                margin-left: $space-2;
                font-family: $font-family-sans-serif;
                color: $colors-primary-50;
            }

            &:hover {
                .certificate-name-edit {
                    display: inline-block;
                }
            }
        }

        .certificate-keypoints {
            padding: 0;
            margin: 0 0 $space-8;


            li {
                list-style-type: none;
                font-size: 1.125rem;
                color: $colors-neutral-60;

                padding-left: $space-6;
                list-style-type: none;
                background: url(../img/static/icons/check.svg) no-repeat 2px 4px;

            }

        }


        .certificate-description {
            font-size: 1.125rem;
            color: $colors-neutral-60;
            margin-bottom: $space-12;
        }

        .certificate-date,
        .certificate-number {
            color: $colors-neutral-60;
            font-size: 1rem;
            margin: 0;
        }
    }

    .certificate-number {
        @extend .body-small;

        a {
            font-weight: normal;
            color: $colors-neutral-70;
        }
    }

    .certificate-footer {
        color: $colors-success-60;
        font-weight: 400;
        padding: $space-8 0 $space-4;
        margin: $space-4 $space-8;
        z-index: 2;

        .certificate-logo {
            display: flex;
            margin-bottom: $space-4;
            align-items: center;

            svg {
                margin: 0 $space-4 0 0;
            }
        }

        p {
            color: $colors-neutral-70;
            font-size: 0.8rem;
            margin: 0;
        }
    }

    .certificate-share {
        max-width: 1020px;
        margin: 0 auto $space-24;
        background-color: $colors-neutral-10;
        border-radius: $border-radius-2xl;
        padding: $space-12;

        h2 {
            margin-top: 0;
        }

        @media print {
            display: none;
        }

        .addthis_inline_share_toolbox {
            margin: 0 auto $space-12;
        }
    }

    .certificate-copy {
        // background: $colors-neutral-10;
        border: 1px solid $palette-light-neutral-border-weak;
        border-radius: $border-radius-lg;
        max-width: 1020px;
        margin: auto;
        display: flex;
        // justify-content: space-between;
        margin-bottom: $space-8;
        font-weight: .75rem;

        .certificate-copy-label,
        .certificate-copy-url,
        .certificate-linkedin {
            @extend .tooltip-label;
        }

        .certificate-copy-label {
            border-top-left-radius: $border-radius-md;
            border-bottom-left-radius: $border-radius-md;
        }

        .certificate-copy-url {
            border-top-right-radius: $border-radius-md;
            border-bottom-right-radius: $border-radius-md;
        }

        .certificate-linkedin {
            border-radius: $border-radius-md;
        }

        .certificate-spacer {
            flex-grow: 1;
        }

        .btn-inline-copy {
            font-weight: normal;
            border-bottom-color: $colors-neutral-10;
            color: $colors-primary-70;

            &:hover {
                border-bottom-color: $colors-primary-40;
            }
        }
    }
}