.certificate {
    background-color: $primary-color-10;
    padding: $spacing-12;

    .certificate-container {
        margin: $spacing-24 auto;
        width: 1020px;
        background-color: $neutral-20;
        border: 1px solid $neutral-30;
        border-top: 8px solid $primary-color-60;
        background: $neutral-10;
        border-radius: $radius-md;

        box-shadow: 0px 0px 2px rgba(52, 58, 67, 0.1), 0px 1px 2px rgba(52, 58, 67, 0.08), 0px 1px 4px rgba(52, 58, 67, 0.08);
    }

    .certificate-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid $primary-color-40;
        padding-bottom: $spacing-4;
        padding: $spacing-8;

        svg {
            width: auto;
            height: $spacing-8;
        }

        .certificate-title {
            font-size: 1rem;
            margin: 0;
            font-weight: 400;
            color: $primary-color-60;
        }
    }

    .certificate-body {
        display: flex;
        padding: 4rem 0;

        .certificate-badge {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: $spacing-8;
            position: relative;

            img {
                width: 80%;
            }

            .certificate-percentage {
                @extend .heading-4;
                font-size: $spacing-4;

                position: absolute;
                bottom: $spacing-8;
                right:  $spacing-12;

                background-color: $success-color;
                color: $success-color-10;
                width: $spacing-24;
                height: $spacing-24;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                border-radius: 50%;
                border: $spacing-3 solid $success-color-50;
            }
        }

        .certificate-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-right: 60px;

            p {
                margin: $spacing-2 0;

                &.date {
                    color: $success-color-50;
                    font-size: 0.9rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            strong {
                display: block;
                font-size: 1.5rem;
                line-height: 1.5;
                border-bottom: 2px dotted $success-color-30;
                padding: $spacing-2;
            }
        }
    }
    .certificate-footer {
        color: $success-color;
        font-weight: 600;
        border-top: 1px solid $success-color-20;
        padding-top: 1rem;

        p {
            text-align: right;
            color: $success-color-50;
            font-size: 0.9rem;
            margin: 0;
        }
    }

    .certificate-share {
        text-align: center;

        @media print {
            display: none;
        }

        .addthis_inline_share_toolbox {
            margin: 0 auto $spacing-12;
        }
    }

}
