.discrete h2 {
    display: none;
}

body.certifications {
    .main .container {
        max-width: 54rem;
        padding: $space-12 $space-4;

        .btn {
            margin-top: $space-6;
        }
    }
}

// TODO: Update class name
.certification.columns {
    img {
        width: 180px;
    }

    @media all and (min-width: $breakpoints-md) {
        // .column {
        display: flex;

        margin: 0 (-$space-4);

        .column {
            width: 50%;
            padding: 0 $space-4;
        }

        // }
    }

}

.certification-path ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        position: relative;
        // border-left: 1px solid $colors-primary-10;
        padding: 0 0 0 $space-6;
        margin: 0 0 0 $space-4;

        p {
            display: inline;
        }


        &:before {
            display: block;
            height: 100%;
            width: $space-2;
            height: $space-2;
            background-color: $colors-primary-20;
            border: $space-1 solid $colors-primary-10;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -$space-2;
            // margin-left: -$space-1;
            left: -$space-2;
            content: "";
            z-index: 10;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: $colors-primary-10;
            z-index: 0;
            transition: all .2s linear;

        }

        &:last-child:after {
            display: none;
        }

        &:hover {
            &:before {
                background-color: $colors-primary-30;
            }

            a {
                color: $colors-primary-40;
                transition: all .2s linear;
            }
        }

    }
}