.certificate {
    background-color: $colors-primary-70;
    padding: $space-12;

    .certificate-container {
        margin: $space-8 auto $space-24;
        width: 100%;
        max-width: 1020px;
        background-color: $colors-neutral-20;
        border: 1px solid $colors-neutral-30;
        background: $colors-neutral-10;
        border-radius: $border-radius-2xl;

        box-shadow: 0px 0px 2px rgba(52, 58, 67, 0.1), 0px 1px 2px rgba(52, 58, 67, 0.08), 0px 1px 4px rgba(52, 58, 67, 0.08);
    }

    .certificate-header {
        padding-top: $space-8;
        // height: 300px;
        background: url(../img/certificate/grid.svg) no-repeat center center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .course-badge {
            svg {
                width: 120px;
                height: 120px;
            }
        }
    }

    .certificate-body {
        display: flex;
        flex-direction: column;
        padding: 4rem 0 0;
        text-align: center;

        .course-name {
            font-family: $font-family-sans-serif;
        }

        .certificate-text {
            font-size: 1.3rem;
        }

        .certificate-name {
            font-weight: bold;
        }

        .certificate-name-edit {
            margin: 0;
            display: block;
            font-size: $space-4;
        }

        .certificate-description {
            font-size: 1.125rem;
            color: $colors-neutral-70;
        }

        .certificate-date {
            color: $colors-neutral-70;
            font-size: 1.3rem;
            margin: 0;
        }
    }

    .certificate-footer {
        color: $colors-success-60;
        font-weight: 400;
        border-top: 1px dotted $colors-neutral-70;
        padding: $space-8 0 $space-4;
        margin: $space-4 $space-8;
        text-align: center;

        .certificate-logo {
            svg {
                width: 220px;
                margin-bottom: $space-8;
            }
        }

        p {
            color: $colors-neutral-70;
            font-size: 0.8rem;
            margin: 0;
        }

        .certificate-number {
            a {
                font-weight: normal;
                color: $colors-neutral-80
            }
        }
    }

    .certificate-share {
        max-width: 1020px;
        margin: auto;
        background-color: $colors-neutral-10;
        border-radius: $border-radius-2xl;
        padding: $space-12;

        h2 {
            margin-top: 0;
        }

        @media print {
            display: none;
        }

        .addthis_inline_share_toolbox {
            margin: 0 auto $space-12;
        }
    }

    .certificate-copy {
        // background: $colors-neutral-10;
        border: 1px solid $colors-neutral-20;
        border-radius: $border-radius-lg;
        max-width: 1020px;
        margin: auto;
        display: flex;
        // justify-content: space-between;
        margin-bottom: $space-8;
        font-weight: .75rem;

        .certificate-copy-label,
        .certificate-copy-url,
        .certificate-linkedin {
            @extend .tooltip-label;
        }

        .certificate-copy-label {
            border-top-left-radius: $border-radius-md;
            border-bottom-left-radius: $border-radius-md;
        }

        .certificate-copy-url {
            border-top-right-radius: $border-radius-md;
            border-bottom-right-radius: $border-radius-md;
        }

        .certificate-linkedin {
            border-radius: $border-radius-md;
        }

        .certificate-spacer {
            flex-grow: 1;
        }

        .btn-inline-copy {
            font-weight: normal;
            border-bottom-color: $colors-neutral-10;
            color: $colors-primary-70;

            &:hover {
                border-bottom-color: $colors-primary-40;
            }
        }
    }
}