.discrete h2 {
    display: none;
}

body.certifications {
    .main .container {
        padding: $space-12 $space-4;

        .btn {
            margin-top: $space-6;
        }
    }

    .certification-detail {
        margin-bottom: $space-4;

        @include min($breakpoints-lg) {
            margin-bottom: 0;
            padding: 0 $space-16;
        }
    }

    .hero,
    .container {
        padding-bottom: 0;

        .heading {
            text-align: center;
        }

        .byline {
            text-align: center;
            margin-bottom: 0;
        }
    }

    .neutral {
        background-color: $colors-neutral-10;
    }

    .separated {
        border-top: 1px solid $palette-light-neutral-border-strong;
        margin-top: $space-8;
        padding-top: $space-8;

        h2 {
            @extend .heading-1;
            font-family: $font-family-header;
            margin-top: $space-12;
            text-align: center;
        }
    }

    .certification-metrics {
        .certification-detail {
            text-align: center;

            .metric {
                font-weight: bold;
                font-size: 3rem;
                display: block;
                margin-bottom: $space-4;
                font-family: $font-family-header;
            }

            margin-bottom: $space-8;
        }
    }
}