$toc-width: 300px;

.layout--classroom {
    background-color: $neutral-10;

    .header {
        width: $toc-width;
        background: $primary-color-60;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;

        svg {
            * {
                fill: $neutral-10;
                // stroke: $neutral-10;
            }
        }

        .navbar-burger {
            display: none;
        }

        .navbar-brand-text {
            color: $neutral-10;
        }

        .container {
            max-width: none;
        }

        .navbar-menu {
            display: none;
        }
    }

    .toc-toggle {
        border: 0px none;
        background-color: transparent;
    }

    &.toc-hidden {
        .header {
            width: 4rem;

            .logo-full {
                display: none;
            }

            .logo-icon {
                display: block;
                margin-top: 8px;
                width: 32px;
                height: 32px;
            }

            .navbar-brand-text {
                display: none;
            }
        }

        .toc {
            flex: 0 0 4rem;

            .toc-module,
            .toc-title-header {
                display: none;
            }
        }

        .toc-toggle {
            transform: rotate(180deg);
        }
    }

    &.lesson--completed {
        .read, input#answer {
            display: none;
        }

        .summary {
            display: block;
        }
    }
}

.classroom {
    display: flex;
    position: fixed;
    top: 0; //$header-height;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;

    .toc {
        flex: 0 0 $toc-width;
        overflow: auto;
        height: 100%;
        background: $primary-color-70;
        color: $neutral-10;
        padding: $header-height $padding-horizontal;

        a {
            color: $neutral-10;
        }

        .toc-module-lessons {
            .toc-module-lesson::before {
                border-color: $primary-color-10;
            }

            .toc-module-lesson {
                &.toc-module-lesson--completed {
                    a {
                        color: $mint-color-40;
                    }
                }
            }
        }
    }

    .classroom-content {
        flex: 1 1 100%;
        padding: $spacing-4 $spacing-4;
        overflow: auto;
        position: relative;

        .container {
            max-width: 620px;
            margin: auto;
        }
    }

    &--completed .classroom-content {
        padding-bottom: 4rem;
    }

    .panel-controls {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: $spacing-4;

        .panel-control {
            height: $spacing-12;
            background: $primary-color-70;
            border: 0px none;
            border-radius: 0.25rem;
            color: $neutral-10;
            font-weight: bold;
            padding: $spacing-2 $spacing-4;
            font-size: 0.8rem;
            margin-left: $spacing-4;
            position: relative;

            svg {
                width: 16px;
                height: 16px;
            }

            .panel-control-label {
                display: none;
                flex-direction: column;
                justify-content: space-around;
                width: 120px;
                text-align: right;

                position: absolute;
                top: 0;
                bottom: 0;
                right: 100%;
                margin-right: -$spacing-2;
                padding-right: $spacing-4;

                background: $primary-color-70;
                border: 0px none;
                border-radius: 0.25rem;
                color: $neutral-10;
            }

            &:hover {
                .panel-control-label {
                    display: flex;
                }
            }
        }
    }

    .classroom-sandbox {
        position: relative;
        flex: 0 0 1px;
        border-left: 1px solid $neutral-10;
        background: #d2d5d9;

        &.classroom-sandbox--visible {
            flex: 0 0 40%;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0px none;
        }
    }

    .classroom-support {
        display: none;
        border-left: 1px solid $neutral-30;
        background-color: $neutral-10;
        flex-direction: column;
        justify-content: space-between;

        &.classroom-support--visible {
            display: flex;
            flex: 0 0 320px;
        }

        .classroom-panel-header {
            display: flex;
            justify-content: space-between;
            flex: 0 0 auto;
            padding: ($padding-vertical/2) $padding-horizontal 0;

            h2 {
                display: inline-block;
                margin: 0;
                font-size: 1rem;
                border-bottom: 2px solid $primary-color-60;
                padding-bottom: $spacing-2
            }

            .classroom-panel-close {
                display: flex;
                flex-direction: column;
                justify-content: center;

                svg {
                    cursor: hand;
                    line {
                        stroke: $neutral-45;
                    }
                }
            }
        }

        .classroom-panel-body {
            display: flex;
            flex-direction: column;
            height: 100%;

            .classroom-panel-container {
                display: flex;
                flex-direction: column;
                flex-grow: 0;
                overflow: auto;
                border-top: 1px solid $neutral-30;

                &.classroom-panel-container--grow {
                    flex-grow: 1;
                }

                &.classroom-panel-container--chat {
                    min-height: 10rem;
                    background-color: $neutral-20;
                    padding-bottom: $spacing-16;

                    .btn {
                        background-color: $neutral-10;
                    }
                }

                .classroom-panel-container-header {
                    font-size: 1rem;
                    padding: $padding-vertical $padding-horizontal 0;
                    margin: 0;
                }

                .classroom-panel-container-content {
                    @extend .body-small;
                    padding: 0 $padding-horizontal;

                    h4 {
                        @extend .body-small;
                        border-bottom: 1px solid $neutral-25;
                        padding-bottom: $spacing-2;
                        margin-bottom: $spacing-2;
                    }
                }

                .btn {
                    @extend .body-small;
                    padding: $spacing-1 $spacing-2;
                }
            }

            .community-post {
                &:last-child {
                    border-bottom: 1px solid $neutral-25;
                    padding-bottom: $spacing-2;
                    background-color: redl
                }

                .community-post-title {
                    @extend .body-small;
                    margin: 0;
                    color: $neutral-40;
                    font-weight: 400;

                    a {
                        color: $primary-color-60;

                        font-weight: 600;
                    }
                }
                .community-post-meta {
                    font-size: .75rem;
                    color: $neutral-45;
                    margin-top: 0;
                    margin-bottom: $spacing-4;
                }
            }
        }
    }
}

.question, .read, .verify {
    background-color: $neutral-25;
    padding: $spacing-4;
    margin: $spacing-8 (-$spacing-4) $spacing-8;
    border-radius: $radius-sm;

    h2, h3 {
        margin: 0 0 $spacing-4;
        font-size: 1rem;
    }
}

.course-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color-70;
    color: $neutral-10;
    padding: 0 $spacing-3;

    a {
        background: $primary-color-60;
        color: $neutral-10;
        padding: $spacing-2 $spacing-8;
        margin-left: $spacing-4;
        display: block;
        border-radius: $spacing-8;
        font-size: 0.9rem;
        float: right;
        margin-top: -0.45rem;
        font-weight: bold;
    }
}

.btn-inline-copy {
    border: 0px solid $primary-color;
    border-bottom-width: 2px;
    background: transparent;
    padding: 0 0 $spacing-1;
    position: relative;
    font-weight: 600;

    .btn-label {
        font-size: 0.8rem;

        position: absolute;
        bottom: 100%;
        left: 50%;
        padding: $spacing-2;

        width: 80px;
        margin-left: -40px;
        margin-bottom: $spacing-1;

        background: $blueberry-color;
        color: $neutral-10;
        border-radius: $radius-xs;

        display: none;
    }

    &:hover {
        border-color: $blueberry-color;
        color: $blueberry-color;

        .btn-label {
            display: block;
        }
    }
}

.question, .read, .verify {
    &--correct {
        background-color: $success-color-10;
    //     h3 {
    //         color: $mint-color-70;
    //     }
    }

    &--incorrect {
        background-color: $secondary-color-10;
    //     h3 {
    //         color: $secondary-color;
    //     }
    }

    // Hide answers
    .ulist {
        display: none;
    }

    ul {
        padding: 0;

        li {
            list-style: none;

            p {
                display: inline;
            }
        }
    }

    .question-option {
        border: 1px solid $neutral-30;
        border-radius: 0.5rem;
        background: $neutral-10;
        margin-bottom: $spacing-2;
        padding: $spacing-3;

        label {
            cursor: pointer;
            display: block;
        }

        input {
            margin-right: $spacing-3;
        }

        &--selected {
            border-color: $primary-color-40;
        }

        &--correct {
            // color: $mint-color-70;
            background: $success-color-10;
            border-color: $success-color;
            // font-weight: bold;
        }

        &--incorrect {
            // color: $secondary-color;
            background: $secondary-color-10;
            border-color: $secondary-color;
            // font-weight: bold;
        }
    }

    .admonition {
        margin: $spacing-4 (-$spacing-4);
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $neutral-60;
        border: 0px none;
        background-color: transparent;
        // border: 1px solid $primary-color-70;
        // background: $neutral-10;
        // padding: $spacing-2 $spacing-3;
        // border-radius: 0.25rem;
        margin-bottom: $spacing-8;
    }

    .admonition-show--visible {
        display: block;
    }

    .admonition {
        display: none;
        margin-bottom: $spacing-8;

        &--visible {
            display: block;
        }
    }
}
.verify {
    .admonition {
        display: none;

        &--visible {
            display: block;
        }
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $primary-color-70;

        &--visible {
            display: block;
        }
    }
}

#_check_your_understanding {
    margin-top: $spacing-24;
    padding-top: $spacing-24;
    border-top: 1px dotted $neutral-30;
}

/* Dropdown menus inside a code block */
.question {
    pre select {
        padding: $spacing-1 $spacing-2;
        background: $neutral-10;
        border: 1px solid $primary-color-70;
        border-radius: 0.25rem;
        margin: 0 $spacing-2;
        outline: none;
    }
    input[type="text"] {
        width: 100%;
        padding: $spacing-2 $spacing-3;
        border-radius: 0.25rem;
        border: 1px solid $primary-color-10;
        margin-bottom: $spacing-3;
    }

    .code-correct {
        font-style: normal;
        color: $mint-color-40;
        font-weight: 600;
        border-bottom: 1px solid $mint-color-40;

        &:after {
            content: " ✓ "
        }
    }

    .admonition {
        background: transparent !important;
        margin: $spacing-8 0;
        padding: 0;
        border: 0px none;
        font-size: .9rem;
    }
}

.classroom-content .btn {
    background-color: $primary-color;
    color: $neutral-10;
    border: 1px solid $primary-color;
    border-radius: $radius-sm;
    font-weight: 600;
    padding: $spacing-4 $spacing-6;

    &:active {
        background-color: $primary-color-60;
    }

    &:disabled {
        background-color: $neutral-40;
        border-color: $neutral-40;
        color: $neutral-20;
    }

    .loading-indicator {
        display: none;
        width: 0;
    }

    &.btn--correct {
        border-color: $success-color-60;
        background-color: $success-color-60;

        &:disabled {
            color: $success-color-20;
        }
    }

    &.btn--negative {
        border-color: $secondary-color-60;
        background-color: $secondary-color-60;
    }

    &.btn--loading {
        background: $primary-color-30;

        .loading-indicator {
            display: inline-block;
            margin-right: $spacing-2;
            animation: spin 3s linear infinite;
            transition: all .2s;
            width: auto;

            svg path {
                fill: $neutral-10
            }
        }
    }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.summary {
    display: none;

    &.summary--visible {
        display: block;
    }
}
