$toc-width: 300px;

.layout--classroom {
    .header {
        width: $toc-width;
        background: $primary-color-60;

        svg {
            * {
            fill: $neutral-10;
            // stroke: $neutral-10;
            }
        }

        .navbar-burger {
            display: none;
        }

        .navbar-brand-text {
            color: $neutral-10;
        }

        .container {
            max-width: none;
        }

        .navbar-menu {
            display: none;
        }
    }

    .toc-toggle {
        border: 0px none;
        background-color: transparent;

    }

    &.toc-hidden {
        .header {
            display: none;
        }

        .toc {
            // display: none;

            .toc-module, .toc-title-header {
                display: none;

            }
        }

        .toc-toggle {
            transform: rotate(180deg);
        }
    }



}


.classroom {
    display: flex;
    position: fixed;
    top: 0; //$header-height;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;


    &--completed {
        // #_check_your_understanding,
        #answer,
        .btn.btn-submit,
        .verify,
        input#read {
            display: none;
        }

        .summary {
            display: block !important;
        }
    }

    .toc {
        flex: 0 0 $toc-width;
        overflow: auto;
        height: 100%;
        background: $primary-color-70;
        color: $neutral-10;
        padding: $header-height $padding-horizontal;

        a {
           color: inhert;
        }

        .toc-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: $spacing-8;

            .toc-title-header {
                font-size: 1.25rem;
                // padding: $spacing-3;
                margin: $spacing-4 0;

                a {
                    color: $neutral-10;
                }

            }
        }

        .toc-module {
            .toc-module-header {
                border-radius: $radius-xs;
                background: $primary-color-50;
                font-size: .9rem;
                font-family: $font-family-sans-serif;
                padding: $spacing-2 $spacing-4;
                color: $neutral-10;
                margin: $spacing-1 0 0;
                position: relative;


                a {
                    color: $neutral-10;
                    display: flex;
                }
            }

            &:last-child {
                .toc-module-lesson:last-child {
                    padding-bottom: 0;

                    &:before {
                        height: 50%;
                    }
                }

            }
        }

        .toc-icon {
            display: flex;
            // flex-direction: column;
            // justify-content: center;
            padding-top: $spacing-2;
            margin-right: $spacing-4;
            position: relative;
            z-index: 50;
        }


        .toc-module-lessons {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 0.9rem;



            .toc-module-lesson {
                position: relative;
                padding: $spacing-1 $spacing-4;

                &:last-child {
                    padding-bottom: $spacing-6;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    left: $spacing-6;
                    height: 100%;
                    width: 1px;
                    border-left: 1px dashed $primary-color-10;
                    opacity: .4;
                    content: "";
                }

                a {
                    display: flex;
                    width: 100%;
                    color: $neutral-10;

                    .toc-icon {
                        flex: 0 0 16px;
                    }

                    .lesson-title {
                        flex: 1;
                    }

                    .lesson-duration {
                        color: $primary-color-30;
                    }
                }

                code {
                    background: transparent;
                }


                // &--completed:after {
                //     display: block;
                //     float: right;
                //     content: "";
                //     height: 16px;
                //     width: 16px;
                //     border-radius: 50%;
                //     background: $mint-color;
                // }

                &.toc-module-lesson--current {
                    a {
                        font-weight: 600;
                    }
                }

                &.toc-module-lesson--completed {
                    a {
                        color: $mint-color-40;
                    }
                }

                // &--current {
                //     font-weight: bold;
                //     background-color: $primary-color-20;
                // }
            }
        }
    }

    .classroom-content {
        flex: 1 1 100%;
        padding: $spacing-1 $spacing-4;
        overflow: auto;

        .container {
            max-width: 800px;
            margin: auto;
        }
    }

    &--completed .classroom-content {
        padding-bottom: 4rem;
    }

    .classroom-sandbox {
        position: relative;
        flex: 0 0 1px;
        border-left: 1px solid $neutral-10;
        background: #D2D5D9;

        &.classroom-sandbox--visible {
            flex: 0 0 40%;
        }

        .classroom-sandbox-toggle {
            $toggle-width: 8rem;

            position: absolute;
            bottom: 1rem;
            left: -$toggle-width;
            margin-right: -1px;
            cursor: pointer;

            width: $toggle-width;
            background: $primary-color;
            border: 0px none;
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
            color: $neutral-10;
            font-weight: bold;
            padding: $spacing-3 $spacing-1 $spacing-3 $spacing-3;
            font-size: .8rem;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0px none;
        }
    }
}

.course-completed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color-70;
    color: $neutral-10;
    padding: 0 $spacing-3;

    a {
        background: $primary-color-60;
        color: $neutral-10;
        padding: $spacing-2 $spacing-8;
        margin-left: $spacing-4;
        display: block;
        border-radius: $spacing-8;
        font-size: 0.9rem;
        float: right;
        margin-top: -0.45rem;
        font-weight: bold;
    }
}

.btn-inline-copy {
    border: 0px solid $primary-color;
    border-bottom-width: 2px;
    background: transparent;
    padding: 0 0 $spacing-1;
    position: relative;
    font-weight: 600;

    .btn-label {
        font-size: .8rem;


        position: absolute;
        bottom: 100%;
        left: 50%;
        padding: $spacing-2;

        width: 80px;
        margin-left: -40px;
        margin-bottom: $spacing-1;


        background: $primary-color;
        color: $neutral-10;
        border-radius: $radius-xs;

        display: none;
    }

    &:hover {
        border-color: $mint-color;
        color: $neutral-50;

        .btn-label {
            display: block;
        }
    }

}

.question {
    &--correct {
        h3 {
            color: $mint-color-70;
        }
    }

    &--incorrect {
        h3 {
            color: $secondary-color;
        }
    }

    // Hide answers
    .ulist {
        display: none;
    }

    ul {
        padding: 0;

        li {
            list-style: none;

            p {
                display: inline;
            }
        }
    }

    .question-option {
        border: 1px solid $neutral-30;
        border-radius: 0.5rem;
        background: $neutral-10;
        margin-bottom: $spacing-2;
        padding: $spacing-3;

        label {
            cursor: pointer;
            display: block;
        }

        input {
            margin-right: $spacing-3;
        }

        &--correct {
            color: $mint-color-70;
            background: $mint-color-10;
            border-color: $mint-color-70;
            font-weight: bold;
        }

        &--incorrect {
            color: $secondary-color;
            background: $secondary-color-10;
            border-color: $secondary-color;
            font-weight: bold;
        }
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $primary-color-70;
        border: 1px solid $primary-color-70;
        background: $neutral-10;
        padding: $spacing-2 $spacing-3;
        border-radius: .25rem;
        margin-bottom: $spacing-8;
    }

    .admonition-show--visible {
        display: block;
    }

    .admonition {
        display: none;
        margin-bottom: $spacing-8;

        &--visible {
            display: block;
        }
    }
}
.verify {
    .admonition {
        display: none;

        &--visible {
            display: block;
        }
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $primary-color-70;

        &--visible {
            display: block;
        }
    }
}

/* Dropdown menus inside a code block */
.question {
    pre select {
        padding: $spacing-1 $spacing-2;
        background: $neutral-10;
        border: 1px solid $primary-color-70;
        border-radius: 0.25rem;
        margin: 0 $spacing-2;
        outline: none;
    }
    input[type="text"] {
        width: 100%;
        padding: $spacing-2 $spacing-3;
        border-radius: 0.25rem;
        border: 1px solid $primary-color-70;
        margin-bottom: $spacing-3;
    }
}

.classroom .btn {
    background-color: $primary-color;
    color: $neutral-10;
    border: 1px solid $primary-color;
    border-radius: $radius-sm;
    font-weight: 600;

    &:active {
        background-color: $primary-color-60;
    }
}

.summary {
    display: none;

    &.summary--visible {
        display: block;
    }
}