$toc-width: 300px;

.layout--classroom {
    background-color: $neutral-10;

    .header {
        width: $toc-width;
        background: $primary-color-60;

        svg {
            * {
                fill: $neutral-10;
                // stroke: $neutral-10;
            }
        }

        .navbar-burger {
            display: none;
        }

        .navbar-brand-text {
            color: $neutral-10;
        }

        .container {
            max-width: none;
        }

        .navbar-menu {
            display: none;
        }
    }

    .toc-toggle {
        border: 0px none;
        background-color: transparent;
    }

    &.toc-hidden {
        .header {
            width: 4rem;

            .logo-full {
                display: none;
            }

            .logo-icon {
                display: block;
                margin-top: 8px;
                width: 32px;
                height: 32px;
            }

            .navbar-brand-text {
                display: none;
            }
        }

        .toc {
            flex: 0 0 4rem;

            .toc-module,
            .toc-title-header {
                display: none;
            }
        }

        .toc-toggle {
            transform: rotate(180deg);
        }
    }

    &.lesson--completed {
        .read, input#answer {
            display: none;
        }

        .summary {
            display: block;
        }
    }
}

.classroom {
    display: flex;
    position: fixed;
    top: 0; //$header-height;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;


    .toc {
        flex: 0 0 $toc-width;
        overflow: auto;
        height: 100%;
        background: $primary-color-70;
        color: $neutral-10;
        padding: $header-height $padding-horizontal;

        a {
            color: inhert;
            text-decoration: none;
            font-weight: 400;
        }

        .toc-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: $spacing-4;
            height: 4rem;

            .toc-title-header {
                font-size: 1.1rem;
                margin: $spacing-4 0;

                a {
                    color: $neutral-10;
                }
            }
        }

        .toc-module {
            .toc-module-header {
                border-radius: $radius-xs;
                background: $primary-color-50;
                font-size: 0.9rem;
                font-family: $font-family-sans-serif;
                padding: $spacing-2 $spacing-4;
                color: $neutral-10;
                margin: $spacing-1 0 0;
                position: relative;

                a {
                    color: $neutral-10;
                    display: flex;
                    font-weight: 600;
                }
            }

            &:last-child {
                .toc-module-lesson:last-child {
                    padding-bottom: 0;

                    &:before {
                        height: 50%;
                    }
                }
            }
        }

        .toc-icon {
            display: flex;
            // flex-direction: column;
            // justify-content: center;
            padding-top: $spacing-2;
            margin-right: $spacing-4;
            position: relative;
            z-index: 50;
        }

        .toc-module-lessons {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 0.9rem;

            .toc-module-lesson {
                position: relative;
                padding: $spacing-1 $spacing-4;

                &:last-child {
                    padding-bottom: $spacing-6;
                }

                &:before {
                    position: absolute;
                    top: 0;
                    left: $spacing-6;
                    height: 100%;
                    width: 1px;
                    border-left: 1px dashed $primary-color-10;
                    opacity: 0.4;
                    content: "";
                }

                a {
                    display: flex;
                    width: 100%;
                    color: $neutral-10;

                    .toc-icon {
                        flex: 0 0 16px;
                    }

                    .lesson-title {
                        flex: 1;
                    }

                    .lesson-duration {
                        color: $primary-color-30;
                    }

                    .lesson-current {
                        svg path {
                            stroke: $mint-color-40;
                        }
                    }
                }

                code {
                    background: transparent;
                }

                &.toc-module-lesson--current {
                    a {
                        font-weight: 600;
                    }
                }

                &.toc-module-lesson--completed {
                    a {
                        color: $mint-color-40;
                    }
                }
            }
        }
    }

    .classroom-content {
        flex: 1 1 100%;
        padding: $spacing-4 $spacing-4;
        overflow: auto;

        .container {
            max-width: 620px;
            margin: auto;
        }
    }

    &--completed .classroom-content {
        padding-bottom: 4rem;
    }

    .classroom-sandbox {
        position: relative;
        flex: 0 0 1px;
        border-left: 1px solid $neutral-10;
        background: #d2d5d9;

        &.classroom-sandbox--visible {
            flex: 0 0 40%;
        }

        .classroom-sandbox-toggle {
            $toggle-width: 2.5rem;
            $toggle-width-expanded: 10rem;

            position: absolute;
            bottom: 1rem;
            margin-right: -1px;
            cursor: pointer;
            left: -$toggle-width;
            width: $toggle-width;

            display: flex;
            flex-direction: row;

            background: $primary-color-70;
            border: 0px none;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            color: $neutral-10;
            font-weight: bold;
            padding: $spacing-3 $spacing-1 $spacing-3 $spacing-3;
            font-size: 0.8rem;

            .classroom-sandbox-toggle-label {
                display: none;
            }

            &:hover {
                left: -$toggle-width-expanded;
                width: $toggle-width-expanded;
                background-color: $primary-color-60;


                .classroom-sandbox-toggle-label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-left: $spacing-4;
                    padding-top: .1rem;
                }
            }


        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0px none;
        }
    }
}

.question, .read, .verify {
    background-color: $neutral-25;
    padding: $spacing-4;
    margin: $spacing-8 (-$spacing-4) $spacing-8;
    border-radius: $radius-sm;

    h2, h3 {
        margin: 0 0 $spacing-4;
        font-size: 1rem;
    }
}

.course-completed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color-70;
    color: $neutral-10;
    padding: 0 $spacing-3;

    a {
        background: $primary-color-60;
        color: $neutral-10;
        padding: $spacing-2 $spacing-8;
        margin-left: $spacing-4;
        display: block;
        border-radius: $spacing-8;
        font-size: 0.9rem;
        float: right;
        margin-top: -0.45rem;
        font-weight: bold;
    }
}

.btn-inline-copy {
    border: 0px solid $primary-color;
    border-bottom-width: 2px;
    background: transparent;
    padding: 0 0 $spacing-1;
    position: relative;
    font-weight: 600;

    .btn-label {
        font-size: 0.8rem;

        position: absolute;
        bottom: 100%;
        left: 50%;
        padding: $spacing-2;

        width: 80px;
        margin-left: -40px;
        margin-bottom: $spacing-1;

        background: $blueberry-color;
        color: $neutral-10;
        border-radius: $radius-xs;

        display: none;
    }

    &:hover {
        border-color: $blueberry-color;
        color: $blueberry-color;

        .btn-label {
            display: block;
        }
    }
}

.question, .read, .verify {
    &--correct {
        background-color: $success-color-10;
    //     h3 {
    //         color: $mint-color-70;
    //     }
    }

    &--incorrect {
        background-color: $secondary-color-10;
    //     h3 {
    //         color: $secondary-color;
    //     }
    }

    // Hide answers
    .ulist {
        display: none;
    }

    ul {
        padding: 0;

        li {
            list-style: none;

            p {
                display: inline;
            }
        }
    }

    .question-option {
        border: 1px solid $neutral-30;
        border-radius: 0.5rem;
        background: $neutral-10;
        margin-bottom: $spacing-2;
        padding: $spacing-3;

        label {
            cursor: pointer;
            display: block;
        }

        input {
            margin-right: $spacing-3;
        }

        &--selected {
            border-color: $primary-color-40;
        }

        &--correct {
            // color: $mint-color-70;
            background: $success-color-10;
            border-color: $success-color;
            // font-weight: bold;
        }

        &--incorrect {
            // color: $secondary-color;
            background: $secondary-color-10;
            border-color: $secondary-color;
            // font-weight: bold;
        }
    }

    .admonition {
        margin: $spacing-4 (-$spacing-4);
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $neutral-60;
        border: 0px none;
        background-color: transparent;
        // border: 1px solid $primary-color-70;
        // background: $neutral-10;
        // padding: $spacing-2 $spacing-3;
        // border-radius: 0.25rem;
        margin-bottom: $spacing-8;
    }

    .admonition-show--visible {
        display: block;
    }

    .admonition {
        display: none;
        margin-bottom: $spacing-8;

        &--visible {
            display: block;
        }
    }
}
.verify {
    .admonition {
        display: none;

        &--visible {
            display: block;
        }
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $primary-color-70;

        &--visible {
            display: block;
        }
    }
}

#_check_your_understanding {
    margin-top: $spacing-24;
    padding-top: $spacing-24;
    border-top: 1px dotted $neutral-30;
}

/* Dropdown menus inside a code block */
.question {
    pre select {
        padding: $spacing-1 $spacing-2;
        background: $neutral-10;
        border: 1px solid $primary-color-70;
        border-radius: 0.25rem;
        margin: 0 $spacing-2;
        outline: none;
    }
    input[type="text"] {
        width: 100%;
        padding: $spacing-2 $spacing-3;
        border-radius: 0.25rem;
        border: 1px solid $primary-color-10;
        margin-bottom: $spacing-3;
    }

    .code-correct {
        font-style: normal;
        color: $mint-color-40;
        font-weight: 600;
        border-bottom: 1px solid $mint-color-40;

        &:after {
            content: " ✓ "
        }
    }

    .admonition {
        background: transparent !important;
        margin: $spacing-8 0;
        padding: 0;
        border: 0px none;
        font-size: .9rem;
    }
}

.classroom .btn {
    background-color: $primary-color;
    color: $neutral-10;
    border: 1px solid $primary-color;
    border-radius: $radius-sm;
    font-weight: 600;

    &:active {
        background-color: $primary-color-60;
    }

    &:disabled {
        background-color: $neutral-40;
        border-color: $neutral-40;
        color: $neutral-20;
    }
}

.summary {
    display: none;

    &.summary--visible {
        display: block;
    }
}
