$course-gutter: 20rem;



.course-header {
//     text-align: left;

    padding: $spacing-16 $padding-horizontal $spacing-32 $padding-horizontal;

//     p {
//         font-weight: 400;
//         color: $neutral-25;
//     }
}

.course-container {
    .card {
        flex-direction: column;
        // display: block;

        .card-title {
            @extend .heading-4;
            font-size: 1.25rem;
            margin: 0;

        }

        .course-badge {
            p {
                width: 100%;
                text-align: center;
            }
            svg {
                width: 240px;
                height: 240px;
                max-width: 80%;
                display: block;
                margin: auto;
            }
        }

        .btn {
            @extend .body-small;

            display: block;
            text-align: center;
            font-weight: 600;
            width: 100%;
            background-color: $primary-color;
            color: $neutral-10;
            border-radius: $radius-sm;

        }
    }

    @include min($screen-tablet) {
        display: flex;
        flex-direction: row-reverse;
    }

    .course-overview {
        margin-top: -$spacing-16;
        flex: 0 0 $course-gutter;
    }


    .course-modules {
        padding: 0;
        margin: 0;
        border: 1px solid $neutral-20;
        border-radius: $spacing-3;
        list-style-type: none;

        .course-module {
            background-color: $neutral-10;

            a {
                display: block;
                padding: $spacing-3;
                color: $primary-color-70;
                font-weight: bold;
            }

            &.module--completed a:after {
                display: block;
                float: right;
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: $mint-color;
            }

            .course-module-lessons {
                padding: 0;
                margin: 0 0 $spacing-3;
                list-style-type: none;

                .course-module-lesson {
                    background-color: $neutral-10;
                    font-size: 0.9rem;
                    border-bottom: 1px solid $neutral-10;

                    &:last-child {
                        border-bottom: 0px none;
                    }

                    a {
                        color: $primary-color;
                        font-weight: normal;
                        margin-bottom: 0;
                        padding: $spacing-2 $spacing-3;
                    }

                    &.lesson--completed a:after {
                        display: block;
                        float: right;
                        content: "";
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        background: $mint-color;
                    }
                }
            }
        }
    }
}

.course-details {
    padding-bottom: $spacing-12;
    @include min($screen-tablet) {
        margin-right: $spacing-8;
    }
}


    // .course-details {
    //     display: flex;
    //     flex-direction: row-reverse;

    //     .course-overview {
    //         flex: 1 1 auto;
    //         padding-right: $spacing-4;

    //         .course-modules {
    //             padding: 0;
    //             margin: 0;
    //             border: 1px solid $neutral-20;
    //             border-radius: $spacing-3;
    //             list-style-type: none;

    //             .course-module {
    //                 background-color: $neutral-10;

    //                 a {
    //                     display: block;
    //                     padding: $spacing-3;
    //                     color: $primary-color-70;
    //                     font-weight: bold;
    //                 }

    //                 &.module--completed a:after {
    //                     display: block;
    //                     float: right;
    //                     content: "";
    //                     height: 16px;
    //                     width: 16px;
    //                     border-radius: 50%;
    //                     background: $mint-color;
    //                 }

    //                 .course-module-lessons {
    //                     padding: 0;
    //                     margin: 0 0 $spacing-3;
    //                     list-style-type: none;

    //                     .course-module-lesson {
    //                         background-color: $neutral-10;
    //                         font-size: 0.9rem;
    //                         border-bottom: 1px solid $neutral-10;

    //                         &:last-child {
    //                             border-bottom: 0px none;
    //                         }

    //                         a {
    //                             color: $primary-color;
    //                             font-weight: normal;
    //                             margin-bottom: 0;
    //                             padding: $spacing-2 $spacing-3;
    //                         }

    //                         &.lesson--completed a:after {
    //                             display: block;
    //                             float: right;
    //                             content: "";
    //                             height: 16px;
    //                             width: 16px;
    //                             border-radius: 50%;
    //                             background: $mint-color;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .course-actions {
    //         flex: 0 0 320px;

    //         .card {
    //             width: auto;
    //         }
    //     }

    //     .course-badge {
    //         background: $neutral-10;
    //         text-align: center;
    //         font-size: 1.2rem;
    //         padding-top: $spacing-8;
    //         img {
    //             max-width: 80%;
    //         }
    //     }
    // }