@include min($breakpoints-md) {
    .course-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: $space-12;

        .course-grid-item {
            padding: $space-4 $space-2;
            box-sizing: border-box;
            flex: 0 0 50%;
            height: 380px;

            .card {
                height: 100%;
            }
        }
    }
}

.course-group {
    .course-group-title {
        margin-top: $space-8;
    }
}

@include min($breakpoints-xl) {
    .course-grid {
        .course-grid-item {
            flex: 0 0 280px;
        }
    }
}

.progress-indicator {
    circle {
        stroke-width: 6;
        stroke: $colors-primary-10;
        fill: $colors-primary-20;
    }

    &--in-progress {
        circle {
            stroke: $colors-blueberry-40;
            stroke-width: 2;
            fill: $colors-blueberry-10;
            transition: stroke-dashoffset 0.35s;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }
    }

    &--completed {
        circle {
            stroke-width: 2;
            fill: $colors-success-10;
            stroke: $colors-success-10;
        }

        path {
            fill: $colors-success-60;
        }
    }

    &--coming-soon {
        circle {
            fill: $neutral-40;
            stroke: $neutral-30;
        }
    }
}

.course {
    &--draft {
        .card-status {
            color: $neutral-40;
        }

        .card-title a {
            color: $neutral-50;
        }

        .card-badge {
            svg {
                #lg {
                    fill: $neutral-25;
                }
                #md {
                    fill: $neutral-30;
                }

                #sm {
                    fill: $neutral-35;
                }
            }
        }

        &:hover {
            .card-badge {
                &:before {
                    background-color: $neutral-15;
                }
                &:after {
                    background-color: $neutral-20;
                }
            }
        }
    }
}