$overview-width-tablet: 20rem;
$overview-width-desktop: 30rem;
$course-gutter: $overview-width-desktop + $spacing-8;

.course-container {
    .container {
        position: relative;
    }


    .hero {
        .container {
            text-align: left;
            padding: $spacing-4 $padding-horizontal $spacing-4 $padding-horizontal  !important;

            @include min($screen-tablet) {
                padding: $spacing-4 $course-gutter $spacing-4 $padding-horizontal !important;
            }

            .heading, .byline {
                width: 100%;
                text-align: left;
            }

            .heading {
                @extend .heading-3;
                margin-bottom: $spacing-2;
            }

            .byline {
                @extend .heading-4;
                font-weight: 400;
            }
        }
    }


    .course-overview {
        margin-top: -$spacing-12;

        .card-header {
            padding-bottom: 0;
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 1rem;
                margin: 0;
            }

            .course-bookmark {
                @extend .body-small;

                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-grow: 0;
                color: $neutral-50;

                svg {
                    margin-left: $spacing-4;
                }

                &.course-bookmark--remove {
                    svg path {
                        fill: $success-color;
                    }

                    &:hover {
                        svg path {
                            fill: $secondary-color;
                        }

                    }
                }

            }
        }

        img, iframe {
            width: 100%;
        }

        .btn {
            display: block;
            width: 100%;
            text-align: center;
        }

        @include min($screen-tablet) {
            position: absolute;
            top: -14rem;
            right: 1rem;
            width: $overview-width-desktop;
            margin-top: 0;

        }

        @include min($screen-desktop) {
            // position: absolute;
            top: -16rem;
            // right: 1rem;
            // width: $overview-width-desktop;
            // margin-top: 0;
        }

        .card {
            margin-top: $spacing-8;

            h3 {
                margin: 0;
            }
        }

        .course-coming-soon {
            h3 {
                @extend .heading-4;
            }
        }

        .card-actions {
            width: 100%;
            display: flex;
            flex-direction: row;
            order: 20;
            justify-content: space-between;

            padding: $padding-vertical 0;

            .btn {
                margin: 0 $padding-horizontal;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    margin-right: $spacing-4;
                }
            }

        }

        .progress-container {
            width: 100%;
            margin-bottom: $spacing-8;

            .progress-header {
                display: flex;
                justify-content: space-between;
                @extend .body-small;
                color: $neutral-55;

                h2 {
                    color: inherit;
                    font-size: inherit;
                    margin: 0 0 $spacing-2;
                }
            }

            .progress-bar {
                margin: 0;
                span {
                    background-color: $success-color;
                }
            }
        }

        .account-sandbox {
            .heading-4 {
                font-size: 1rem;
                margin-bottom: $spacing-4;

                a:after {
                    display: none;
                }
            }
            .body-small {
                margin-top: 0;
            }

            .account-sandbox-label {
                // display: block;
                // margin-top: $spacing-4;
            }
        }

        &.course--completed {
            .card {
                background-color: $success-color-30;
                color: $neutral-10 !important;

                .card-header {
                    h2 {
                        color: $neutral-10;
                    }
                }

                .btn {
                    background-color: transparent;
                    color: $neutral-10;
                    border-color: transparent;
                }

                .progress-container {
                    .progress-header {
                        color: $neutral-10;
                    }

                    .progress-bar span {
                        background-color: $success-color-60;
                    }
                }
            }

            .course-completed {
                font-family: $font-family-header;
                padding: $spacing-8;
                background-color: $success-color-60;
                border-radius: $radius-sm;
                width: 100%;
                // text-align: center;

                display: flex;
                justify-content: flex-start;

                .overline {
                    font-size: 1rem;
                }
                .overline, p {
                    @extend .heading-4;
                    margin: 0;
                }

                .course-badge {
                    display: flex;
                    align-items: center;

                    svg {
                        flex: 0 0 $spacing-32;
                        margin: 0 $spacing-6 0 0;

                        width: $spacing-24;
                        height: $spacing-24;
                    }
                }
            }
        }
    }

    .course-details {
        padding: $spacing-12 0;

        @include min($screen-tablet) {
            padding-right: $overview-width-desktop + $spacing-8;
        }

        h2 {
            margin-top: $spacing-8;
        }

        .course-meta {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            width: 100%;
        }

        .course-meta-list {
            display: flex;
            flex-direction: column;
            margin-right: $spacing-4;

            .course-meta-term {
                @extend .body-small;
                color: $neutral-40;

                svg {
                    float: left;
                    margin-right: $spacing-1;
                }
            }

            .course-meta-details {
                @extend .heading-4;
                color: $neutral-60;
                margin-left: 0;
            }
        }
    }

    .toc {
        .toc-module-header {
            .toc-icon {
                circle {
                    fill: $primary-color-10;
                }
            }
        }

        .toc-module-lesson {
            .toc-icon {
                path {
                    fill: $primary-color-30;
                }
            }
        }
    }

    .course-unenrol {
        @extend .body-small;
        // text-align: center;

        .course-unenrol-link {
            color: $secondary-color;
        }
    }

    .course-path {
        margin: 0 0 $spacing-12;
        padding: 0;
        position: relative;

        .course-path-item {
            list-style-type: none;
            padding: $spacing-4 $spacing-4 $spacing-4 $spacing-6;
            margin-left: $spacing-4;
            border-left: 1px solid $neutral-25;

            $bullet-offset: 0;
            $bullet-large-size: 24px;
            $bullet-small-size: $bullet-large-size/2;

            &::before {
                display: block;
                content: "";
                width: $spacing-8;
                height: $spacing-16;
                background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                display: block;
                content: "";
                width: $spacing-8;
                height: $spacing-8;
                background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            a {
                position: relative;

                &:before {
                    position: absolute;
                    left: -$spacing-6;
                    margin-left: -($bullet-large-size/2) - 1;
                    top: $bullet-offset;
                    content: " ";
                    border: 1px solid transparent; // $primary-color-20;
                    border-radius: 50%;
                    background: transparent; // $primary-color-10;
                    height: $bullet-large-size;
                    width: $bullet-large-size;
                    transition: all 250ms ease-in-out;
                    transition-delay: 10ms;
                }

                &:after {
                    position: absolute;
                    left: -$spacing-6;
                    margin-left: -($bullet-small-size/2);
                    top: $bullet-offset + ($bullet-small-size/2) + 1;
                    content: " ";
                    // border: 8px solid $primary-color-10;
                    border-radius: 50%;
                    background: $neutral-30; // $primary-color;
                    height: $bullet-small-size;
                    width: $bullet-small-size;
                    transition: all 200ms ease-in-out;
                }
            }

            &:hover {
                a:before {
                    background: $primary-color-10;
                    border-color: $primary-color-20;
                }
                a:after {
                    background: $primary-color;
                }
            }


            .overline {
                color: $neutral-50;
                font-size: 0.7rem;
                margin: 0;
            }
        }
    }
}

.course-summary {
    padding: $spacing-12 0;

}

// .course-container {
//     .card {
//         flex-direction: column;
//         // display: block;

//         .card-title {
//             @extend .heading-4;
//             font-size: 1.25rem;
//             margin: 0;

//         }

//         .course-badge {
//             p {
//                 width: 100%;
//                 text-align: center;
//             }
//             svg {
//                 width: 240px;
//                 height: 240px;
//                 max-width: 80%;
//                 display: block;
//                 margin: auto;
//             }
//         }

//         .btn {
//             @extend .body-small;

//             display: block;
//             text-align: center;
//             font-weight: 600;
//             width: 100%;
//             background-color: $primary-color;
//             color: $neutral-10;
//             border-radius: $radius-sm;

//         }
//     }

//     @include min($screen-tablet) {
//         display: flex;
//         flex-direction: row-reverse;
//     }

//     .course-overview {
//         margin-top: -$spacing-16;
//         flex: 0 0 $course-gutter;
//     }


//     .course-modules {
//         padding: 0;
//         margin: 0;
//         border: 1px solid $neutral-20;
//         border-radius: $spacing-3;
//         list-style-type: none;

//         .course-module {
//             background-color: $neutral-10;

//             a {
//                 display: block;
//                 padding: $spacing-3;
//                 color: $primary-color-70;
//                 font-weight: bold;
//             }

//             &.module--completed a:after {
//                 display: block;
//                 float: right;
//                 content: "";
//                 height: 16px;
//                 width: 16px;
//                 border-radius: 50%;
//                 background: $mint-color;
//             }

//             .course-module-lessons {
//                 padding: 0;
//                 margin: 0 0 $spacing-3;
//                 list-style-type: none;

//                 .course-module-lesson {
//                     background-color: $neutral-10;
//                     font-size: 0.9rem;
//                     border-bottom: 1px solid $neutral-10;

//                     &:last-child {
//                         border-bottom: 0px none;
//                     }

//                     a {
//                         color: $primary-color;
//                         font-weight: normal;
//                         margin-bottom: 0;
//                         padding: $spacing-2 $spacing-3;
//                     }

//                     &.lesson--completed a:after {
//                         display: block;
//                         float: right;
//                         content: "";
//                         height: 16px;
//                         width: 16px;
//                         border-radius: 50%;
//                         background: $mint-color;
//                     }
//                 }
//             }
//         }
//     }
// }

// .course-details {
//     padding-bottom: $spacing-12;
//     @include min($screen-tablet) {
//         margin-right: $spacing-8;
//     }
// }


    // .course-details {
    //     display: flex;
    //     flex-direction: row-reverse;

    //     .course-overview {
    //         flex: 1 1 auto;
    //         padding-right: $spacing-4;

    //         .course-modules {
    //             padding: 0;
    //             margin: 0;
    //             border: 1px solid $neutral-20;
    //             border-radius: $spacing-3;
    //             list-style-type: none;

    //             .course-module {
    //                 background-color: $neutral-10;

    //                 a {
    //                     display: block;
    //                     padding: $spacing-3;
    //                     color: $primary-color-70;
    //                     font-weight: bold;
    //                 }

    //                 &.module--completed a:after {
    //                     display: block;
    //                     float: right;
    //                     content: "";
    //                     height: 16px;
    //                     width: 16px;
    //                     border-radius: 50%;
    //                     background: $mint-color;
    //                 }

    //                 .course-module-lessons {
    //                     padding: 0;
    //                     margin: 0 0 $spacing-3;
    //                     list-style-type: none;

    //                     .course-module-lesson {
    //                         background-color: $neutral-10;
    //                         font-size: 0.9rem;
    //                         border-bottom: 1px solid $neutral-10;

    //                         &:last-child {
    //                             border-bottom: 0px none;
    //                         }

    //                         a {
    //                             color: $primary-color;
    //                             font-weight: normal;
    //                             margin-bottom: 0;
    //                             padding: $spacing-2 $spacing-3;
    //                         }

    //                         &.lesson--completed a:after {
    //                             display: block;
    //                             float: right;
    //                             content: "";
    //                             height: 16px;
    //                             width: 16px;
    //                             border-radius: 50%;
    //                             background: $mint-color;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .course-actions {
    //         flex: 0 0 320px;

    //         .card {
    //             width: auto;
    //         }
    //     }

    //     .course-badge {
    //         background: $neutral-10;
    //         text-align: center;
    //         font-size: 1.2rem;
    //         padding-top: $spacing-8;
    //         img {
    //             max-width: 80%;
    //         }
    //     }
    // }