.course-list {
    padding: $spacing-16 0;

    .course-filters {
        border: 1px solid $neutral-20;
        background-color: $primary-color-10;
        padding: $padding-vertical $padding-horizontal;
        margin-bottom: $spacing-8;
        border-radius: $radius-sm;

        a {
            color: $neutral-45;
        }

        .course-filter-options {
            display: none;
            margin-top: $spacing-8;

            @include min($screen-desktop) {
                display: block;
            }
        }

        .course-filter-title {
            color: $neutral-50;

            &:after {
                display: block;
                content: " ";
                border: solid $neutral-50;
                border-width: 0 2px 2px 0;
                margin-top: 6px;
                padding: 3px;
                transform: rotate(45deg);
                float: right;
            }

        }

        &--visible {
            .course-filter-title:after {
                transform: rotate(-135deg);
            }
            .course-filter-options {
                display: block;
            }
        }
        .course-filter-header {
            font-weight: 600;
            color: $neutral-50;
            @extend .body-small;
            margin: 0;
            border-top: 1px solid $neutral-20;
            padding-top: $spacing-4;

        }

        .course-filter-group {
            margin: 0 0 $spacing-8;
        }

        .course-filter-list {
            margin: 0 0 $spacing-4;
            padding: $spacing-4 0 0;
        }

        .course-filter-list-item {
            list-style-type: none;
            color: $neutral-45;

            &.no-padding {
                padding: 0;
                border-top: 0px none;
            }

            a {
                color: inherit;
                display: block;
                padding: $spacing-1 0;
            }

            &--active a {
                color: $primary-color;
            }
        }

        .course-filter-list-item--all {
            @extend .body-small;
            margin-bottom: 0;
        }

        .course-filter-group.category--certification {
            margin-top: 0;
        }
    }

    @include min($screen-desktop) {
        display: flex;
        flex-direction: row;

        .course-filters {
            flex: 0 0 280px;
            margin-right: $spacing-4;
            background: transparent;
            border: 0px none;

            .course-filter-title:after {
                display: none;
            }
        }
        .course-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .course-grid-item {
                padding: $spacing-4 $spacing-2;
                box-sizing: border-box;
                flex: 0 0 320px;
                height: 420px;
            }

        }
    }

}

.progress-indicator {
    circle {
        stroke-width: 6;
        stroke: $primary-color-10;
        fill: $primary-color-20;
    }

    &--in-progress {
        circle {
            stroke: $blueberry-color;
            stroke-width: 2;
            fill: $blueberry-color-10;
            transition: stroke-dashoffset 0.35s;
            transform: rotate(-90deg);
            transform-origin: 50% 50%,
        }
    }

    &--completed {
        circle {
            stroke-width: 2;
            fill: $success-color-10;
            stroke: $success-color-10;
        }

        path {
            fill: $success-color-60;
        }
    }
}
