$overview-width-tablet: 20rem;
$overview-width-desktop: 30rem;
$course-gutter: $overview-width-desktop + $space-8;
$bullet-offset: 0;
$bullet-large-size: 24px;
$bullet-small-size: math.div($bullet-large-size, 2);


$minor-width: 452px;

.certification {
    .course-container {
        .course-overview {
            background-color: $colors-neutral-15;
            padding: 0;

            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;


                .minor {
                    display: flex;
                    order: 1;
                    justify-content: center;

                    &.course-certification img {
                        width: 60%;
                    }
                }

                .major {
                    order: 2;

                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                @include min($breakpoints-lg) {
                    flex-direction: row;

                    .major {
                        order: 1;
                    }

                    .minor {
                        order: 2;

                        &.course-certification {
                            display: relative;
                            transform: translate(100px, 0);

                            img {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }


    }
}

.course-container {
    .container {
        position: relative;

    }

    .card {
        background: transparent none;
    }

    .neutral {
        background: $colors-neutral-10;
    }

    @include min($breakpoints-lg) {
        .container {
            display: flex;
            flex-direction: row;

            .heading {
                padding-top: $space-4;
            }
        }

        .major {
            flex-grow: 1;
            padding-right: $space-8;
        }

        .minor {
            flex: 0 0 $minor-width;
        }
    }

    .course-overview {
        padding: $space-12 0;

        .heading {
            @extend .heading-3;
            margin-bottom: $space-2;
        }

        .byline {
            @extend .heading-5;
            font-weight: 400;
        }
    }

    .course-video-placeholder {
        width: 100%;
        height: 251px;
        border-radius: $border-radius-xl;
        border: 1px solid $colors-primary-20;
        background-color: $colors-neutral-10;
        background-image: url(../img/static/video-placeholder.svg);
        background-repeat: no-repeat;
        background-position: 105% center;
        position: relative;
        cursor: pointer;
        margin: $space-2 0;

        .course-video-logo {
            position: absolute;
            left: 5%;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
        }

        .course-video-illustration {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 20px;
            width: 30%;
            display: flex;
            align-items: center;
        }

        .course-video-play {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 64px;
            height: 64px;
            margin-left: -32px;
            margin-top: -32px;
            z-index: 100;
        }

        animation: all .2s linear;

        &:hover {
            .course-video-play {
                transform: scale(1.2);
            }
        }
    }

    .course-meta {
        @extend .body-small;
        // display: flex;
        // flex-direction: row;
        // flex: 0 0 auto;
        // width: 100%;
    }

    .course-video {
        border-radius: $border-radius-lg;
        margin-bottom: $space-4;
        position: relative;
    }

    .course-completed-label {
        position: absolute;
        bottom: -16px;
        left: 50%;
        margin-left: -25%;

        .label {
            padding-right: $space-6;
        }

        .course-completed-label-neo4j-check {
            position: relative;
            margin-left: -20px;
            z-index: 200;
        }
    }

    .course-meta-list {
        // display: flex;
        // flex-direction: column;
        margin: $space-4 $space-4 0 0;
        display: inline-block;

        .course-meta-term {
            @extend .body-small;
            display: inline-block;
            color: $colors-neutral-80;
            margin-right: $space-2;

            svg {
                display: inline-block;
                margin-right: $space-1;
            }

            span {
                display: none;
            }
        }

        .course-meta-details {
            display: inline-block;
            // @extend .heading-4;
            color: $colors-neutral-80;
            margin-left: 0;
            margin-right: $space-4;

            &.course-meta-duration {
                content: " ";
                padding-right: $space-6;
                border-right: 1px solid $colors-neutral-60;
            }

            a {
                color: inherit;
                font-weight: normal;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .course-actions {
        @extend .heading-5;

        margin-bottom: $space-12;

        @include min($breakpoints-lg) {
            margin-bottom: 0;
        }


        .btn {
            color: $colors-primary-50;
            background-color: $colors-neutral-15;
            display: inline-block;
            margin-right: $space-4;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.5rem;
            padding: $space-3 $space-6;

            &--primary {
                color: $colors-neutral-10;
                background-color: $colors-primary-50;
            }

            &--disabled {
                color: $colors-neutral-60;
                border-color: $colors-neutral-60;
                background-color: $colors-neutral-15;
                cursor: default;
            }

            &.course-bookmark {
                color: $colors-neutral-70;
                font-weight: normal;
                border-color: transparent;
                font-size: 1rem;

                svg {
                    margin-right: $space-2;
                }

                display: inline-flex;
                justify-content: center;
                align-items: center;

                &.course-bookmark--remove {
                    svg path {
                        fill: $colors-primary-60;
                        margin-left: $space-4;
                    }

                    &:hover {
                        svg path {
                            fill: $colors-danger-40;
                        }

                    }
                }
            }
        }
    }

    .card--share {
        background-color: $colors-primary-60;
        // color: $colors-neutral-10;

        @include min($breakpoints-lg) {
            width: $minor-width;
        }

        p {
            margin: $space-2 0 $space-4;
        }

        .share-form {
            @extend .body-small;
        }

        .btn {
            color: $colors-neutral-60;
            border-color: $colors-primary-60;
            background: $colors-neutral-10;
        }
    }

    .course-progress {
        background-color: $colors-primary-50;
        color: $colors-neutral-10;
        border-radius: $border-radius-xl;
        padding: $space-6;

        .course-progress-title {
            color: $colors-neutral-10;
            font-size: 1.125rem;
            margin-top: 0;
        }

        .course-progress-percentage {
            @extend .heading-4;
            color: $colors-primary-10;
        }

        .course-progress-next {
            margin-bottom: 0;

            a {
                color: $colors-neutral-10;
                font-weight: normal;
            }
        }

        .progress-bar,
        .progress-remaining {
            margin: 0 $space-6 0 0;

            .progress-bar-container {
                background-color: $colors-primary-60;

                span {
                    background-color: $colors-primary-10;
                }
            }

        }

        .progress-percentage {
            display: none;
        }

    }
}

.progress-container {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: row;
    margin-bottom: $space-4;

    .progress-header {
        display: flex;
        justify-content: space-between;
        @extend .body-small;
        color: $colors-neutral-50;

        h2 {
            color: inherit;
            font-size: inherit;
            margin: 0 0 $space-2;
        }
    }

    color: $colors-neutral-70;

    .progress-bar,
    .progress-remaining {
        margin: 0 $space-6 0 0;

        .progress-bar-container {
            background-color: $palette-light-neutral-border-weak;

            span {
                background-color: $colors-primary-50;
            }
        }
    }

    &.progress-container--completed {
        .progress-bar-container {
            span {
                background-color: $colors-success-50;
            }
        }
    }
}

.course {
    .course-carousel-item {
        &.course-carousel-item--0 {
            margin-left: -42px;
        }
    }

    .card {

        border-color: $colors-neutral-30;
        background-color: $colors-neutral-10;

        .card-body {
            padding: $space-6;
        }
    }
}


.course-description {
    background-color: $colors-neutral-10;
    padding: ($space-12 * 2) 0;

    &.no-padding {
        padding: 0;
    }

    h2 {
        @extend .heading-5;
        margin-top: 0;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .certification-detail {
        padding-right: $space-8;
        flex: 1;

        h3 {
            font-size: 1.125rem;
            display: flex;
            align-items: center;
            margin: $space-4 0 $space-2;

            svg {
                margin-right: $space-4;
            }
        }

        p {
            margin: 0;
        }
    }

    .ulist {
        ul {
            margin: 0;
            padding: 0;

            li {

                padding-left: $space-6;
                list-style-type: none;
                background: url(../img/static/icons/check.svg) no-repeat 2px 4px;

                p {
                    margin: 0;
                }
            }
        }
    }

    .dlist {

        dt {
            font-weight: bold;
            padding: $space-2 0 0;
        }

        dd {
            margin: 0 0 $space-8;
        }

        &.dlist--accordion {

            border-bottom: 1px solid $colors-neutral-30;

            dt {
                border-top: 1px solid $colors-neutral-30;
                cursor: pointer;

                &:after {
                    display: block;
                    content: "";
                    border: 1px solid $colors-neutral-80;
                    border-width: 0 1px 1px 0;
                    height: 8px;
                    width: 8px;
                    float: right;
                    transform: rotate(45deg);
                    margin: $space-2 $space-4;
                }

                &.dt--visible {
                    &:after {
                        transform: rotate(225deg);
                    }
                }
            }

            dd {
                margin: 0;
                display: none;
                padding: 0 $space-8 $space-4 0;

                &.dd--visible {
                    display: block;
                }
            }
        }
    }

    .includes {
        .ulist {
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;

                li {
                    background: transparent none;
                    padding-left: 0;

                    span {
                        display: inline-block;
                        padding: $space-2 0 $space-2 $space-8;
                        background: url(../img/static/icons/check.svg) no-repeat left center;

                        &.lessons {
                            background-image: url(../img/static/icons/lesson.svg);
                        }

                        &.videos {
                            background-image: url(../img/static/icons/video.svg);
                        }

                        &.quizes {
                            background-image: url(../img/static/icons/quiz.svg);
                        }

                        &.challenges {
                            background-image: url(../img/static/icons/challenge.svg);
                        }
                    }
                }
            }
        }
    }
}

.course-structure {
    border: 1px solid $palette-light-neutral-border-strong;
    padding: $space-6 $space-6 0;
    border-radius: $border-radius-lg;

    .toc-module {
        width: 100%;
    }


    .toc-module-header {
        @extend .heading-5;
        margin: 0;

        a:hover {
            color: $colors-neutral-80;
        }
    }

    .toc-module-description {
        margin: 0;
        color: $colors-neutral-80;
    }

    .toc-module-meta {
        @extend .body-small;
        color: $colors-neutral-70;

        .toc-meta-term {
            display: inline-block;

            span {
                display: none;
            }
        }

        dd.toc-meta-details {
            display: inline-block;
            margin-left: $space-2;
        }
    }

    .toc-module-lessons {
        margin: 0 0 $space-8;
        padding: 0 0 0 $space-1;


        .toc-module-lesson {
            list-style-type: none;
            position: relative;

            padding: 0 0 0 $space-4;

            .lesson-optional {
                @extend .body-small;
                display: block;
                float: right;
                color: $colors-neutral-60;
            }

            a {
                display: block;
                font-weight: normal;
                color: $colors-neutral-60;
                padding: $space-2;


                &:before {
                    display: block;
                    content: "";
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 4px;
                    background-color: $colors-neutral-30;
                }

                &:after {
                    display: block;
                    content: "";
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    top: calc(50% - 8px);
                    left: 0;
                    background-color: $colors-neutral-30;
                    border-radius: 50%;
                    transition: all .2s linear;
                }

                &:hover {
                    color: $colors-primary-50;

                    &:after {
                        background-color: $colors-primary-40;
                    }
                }
            }

            &:last-child {
                a:before {
                    display: none;
                }
            }
        }

    }
}

.certification {
    .course-overview {
        background-color: $colors-neutral-10
    }
}

.course-unenrol {
    @extend .body-small;

    .btn--unenrol {
        color: $colors-danger-40;
    }
}

.course-summary {
    padding: $space-12 0;
}

.prerequisites {
    .lesson-optional {
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: $colors-neutral-40 !important;
    }

    .prerequisite--in-progress {
        svg {
            height: 16px;
            width: 16px;
            margin-left: $space-1;

            path {
                stroke: $colors-neutral-40
            }
        }
    }

    .prerequisite--completed {
        a {
            color: $colors-primary-50 !important;
            text-decoration: line-through;
        }

        svg {
            height: 24px;
            width: 24px;
            margin-right: -4px;
        }
    }
}

//     margin: 0;
//     padding: 0;
//     width: 100%;

//     .prerequisite {
//         list-style-type: none;

//         a {
//             &:before {}

//             display: flex;
//             flex-direction: row;
//             font-weight: normal;

//             .prerequisite-title {
//                 flex-grow: 1;
//             }
//         }


//     }

// }