.layout--exam {
  background-color: $colors-neutral-15;
}

.exam {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // height: 100%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  background-color: $colors-neutral-15;

  .exam-header {
    padding: $space-4;
    border-bottom: 1px solid $colors-neutral-20;
    margin-bottom: $space-12;
    background-color: $colors-neutral-10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar-brand {
      .navbar-item {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .navbar-brand-text {
        color: $colors-primary-60;
        // font-size: 0.8rem;
        font-weight: normal;
        border-left: 1px solid $colors-primary-60;
        padding-left: $space-4;
        margin-left: $space-4;
      }
    }

    .navbar-end {
      display: none;
    }

    .exam-certification-title {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .exam-question-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress-container {
      margin-bottom: $space-12;

      .progress-bar-container {
        background-color: $colors-neutral-10;
      }
    }

    img {
      width: 100%;
    }

    .exam-question {
      width: 100%;
      max-width: 720px;
      background-color: $colors-neutral-10;
      border-radius: $border-radius-xl;
      padding: $space-12 $space-8;
      margin-bottom: $space-12;

      .exam-question-title {
        font-size: 1.125rem;
        font-weight: bold;

        h2 {
          margin: 0;
          font-size: 1.125rem;
        }
      }

      .question {
        background-color: transparent;
        margin-top: $space-4;

        .code-header .btn-play {
          display: none;
        }

        blockquote {
          background-color: $colors-neutral-15;
          border-left: 3px solid $colors-primary-40;
          padding: $space-4;
          margin: $space-8 0;
        }


      }
    }
  }

  #footer {
    display: none;
  }
}

.exam-results {
  width: 100%;
  max-width: 750px;

  .exam-details {
    width: 100%;
    margin: $space-4 0;

    .exam-summary {
      display: flex;
      cursor: pointer;
      padding: $space-2;

      .exam-summary-spacer {
        flex-grow: 1;
      }

      .exam-summary-marks {
        font-weight: 400;
      }

      .exam-summary-percentage {
        margin-left: $space-4;

        &.exam-summary-percentage--warning {
          color: $colors-warning-40;
        }

        &.exam-summary-percentage--danger {
          color: $colors-danger-40;
        }

        &.exam-summary-percentage--success {
          color: $colors-success-40;
        }
      }

      .exam-summary-arrow {
        margin-right: $space-4;
        transform: rotate(90deg);

        svg {
          path {
            stroke:
              $colors-neutral-50;

          }
        }
      }
    }

    &[open] {
      .exam-summary-arrow {
        transform: rotate(-90deg);
      }
    }
  }


  .exam-question {
    padding: $space-2 !important;

    .exam-question-title {
      h2 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }

      svg {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: $space-2;

        path {
          fill: $colors-success-30;
        }
      }
    }

    .exam-answer-feedback,
    blockquote {
      margin-top: $space-12;

      background-color: $colors-neutral-15;
      border-left: 3px solid $colors-success-40;
      padding: $space-4 $space-4 $space-2;
      margin: $space-8 0;

      .exam-answer-feedback-title {
        font-size: 1rem;
        margin-top: 0;
      }

      code {
        display: inline-block;
        background-color: $colors-neutral-10;
        padding: $space-1;
      }
    }

    &.exam-question--incorrect {
      .exam-answer-feedback {
        border-left-color: $colors-danger-40;
      }
    }
  }

  .exam-answer-options {
    margin: 0;
    padding: 0;

    .exam-answer-option {
      padding: $space-4;
      border: 1px solid $colors-neutral-30;
      border-radius: $border-radius-md;
      list-style-type: none;
      margin-bottom: $space-2;

      &.exam-answer-option--correct {
        background-color: $colors-success-10;
        border-color: $colors-success-40;
      }

      &.exam-answer-option--incorrect {
        opacity: .4;
        text-decoration: line-through;
      }

      &.exam-answer-option--incorrect.exam-answer-option--selected {
        background-color: $colors-danger-10;
        border-color: $colors-danger-40;
      }

      &.exam-answer-option--unselected {
        // background-color: transparent !important;
      }
    }
  }

  .exam-results-return {
    margin-top: $space-12;
    text-align: center;
  }
}