body.home {
    background: url(/img/home/hero-background-full.svg) no-repeat center -115px;

    .main {
        background-color: $neutral-10;
    }
}

.hero {
    h2 {
        font-size: 2.2rem;
        line-height: 1.3;
        color: $colors-primary-70;
        padding: 6rem;
        text-align: center;
        max-width: 720px;
        margin: 0 auto $space-4;
    }

    em {
        color: $colors-primary-40;
        border: 0px none;
    }

    svg {
        display: none;
    }

    .btn {
        font-size: 1.2rem;
    }
}

$hero-height: 610px;
@media all and (min-width: $breakpoints-xl) {
    .hero {
        height: $hero-height;
        overflow: hidden;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: $hero-height;
        }

        .home-graph {
            width: 755px;
        }

        h2 {
            color: $colors-primary-70;
            line-height: 1.3;
            text-align: left;
            padding: 0;
        }

        svg {
            display: block;
        }
    }
}

// .hero {
//     height: 610px;
//     overflow: hidden;

//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding: 1rem;

//     .intro {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     .home-graph {
//         width: 755px;
//     }

//     h2 {
//         margin: 0;
//         font-size: 2.2rem;
//         line-height: 1.3;
//         color: $colors-primary-70;
//     }

//     // h2, p {
//     //     max-width: 50%;
//     // }

//     em {
//         color: $colors-primary-40;
//         border: 0px none;
//     }
// }

.home-graph {
    svg {
        margin-top: -40px;
    }

    circle,
    line {
        transition: all 0.2s linear;
    }

    line {
        opacity: 0.5;
    }

    circle {
        opacity: 0.5;
    }

    circle[id*="-s"] {
        opacity: 0;
        transition: opacity .2s linear;
    }

    circle[id*="-s1"] {
        transition: opacity .2s linear;
    }
    circle[id*="-s2"] {
        transition: opacity .4s linear;
    }
    circle[id*="-s3"] {
        transition: opacity .5s linear;
    }
    circle[id*="-s4"] {
        transition: opacity .6s linear;
    }

    #n1 {
        opacity: 1;
        animation: fadeInCentral 0.8s linear;
        // animation-delay: 1s;
    }

    circle:not([id*="-s"]) {
        animation: fadeInNode 1s linear;

        &:nth-child(2n) {
            animation-duration: 0.8s;
        }
        &:nth-child(3n) {
            animation-duration: 1.3s;
        }
        &:nth-child(4n) {
            animation-duration: 1.4s;
        }
        &:nth-child(5n) {
            animation-duration: 1.8s;
        }
        &:nth-child(6n) {
            animation-duration: 1.6s;
        }
    }

    g[id^="branch"]:hover {
        > line,
        > circle:not([id*="-s"]) {
            opacity: 1;
        }
        > circle[id*="-s"] {
            opacity: 0.15;
        }
        > line {
            animation: dash 1s linear;
        }
    }
}

body.preload {
    .home-graph {
        line {
            animation: fadeInLines 1.5s linear;

            &:nth-child(2n) {
                animation-duration: 1.8s;
            }
            &:nth-child(3n) {
                animation-duration: 2s;
            }
            &:nth-child(4n) {
                animation-duration: 2.2s;
            }
            &:nth-child(5n) {
                animation-duration: 2.5s;
            }
        }
    }
}

@keyframes fadeInCentral {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInNode {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes fadeInLines {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 10;
        stroke-dasharray: 10;
    }
    50% {
        stroke-dashoffset: 10;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
    }
}
