@use 'sass:math' as math;

$bullet-offset: 3px;
$bullet-large-size: 38px;
$bullet-small-size: math.div($bullet-large-size, 2);

.home {
    background-color: $colors-neutral-10;

    .hero {
        @extend .hero--contained;
        @extend .hero--primary;
        margin-bottom: $space-12;

        @include min($breakpoints-sm) {
            background: url('../img/static/hero/hero-primary-1024.jpg') no-repeat bottom center;
        }

        @include min($breakpoints-lg) {
            background: $colors-primary-50 url('../img/static/hero/hero-primary-1024.jpg') no-repeat bottom center;
        }

        @include min($breakpoints-xl) {
            background: url('../img/static/hero/hero-primary-1990.jpg') no-repeat bottom center;

        }

        .container {
            @include min($breakpoints-lg) {
                padding: $space-8 0;
                max-width: $breakpoints-md;
            }

            @include min($breakpoints-xl) {
                padding: ($space-16 + $space-2) 0;
                max-width: $breakpoints-lg * 1.2;
            }
        }

        .heading-1 {
            @extend .heading-2;
        }

        .heading,
        .byline {
            color: $colors-neutral-10;
        }

        .heading {
            font-size: 30px;
            line-height: 40px;
            width: 100%;

            @include min($breakpoints-lg) {
                font-size: 40px;
                line-height: 48px;
            }

            @include min($breakpoints-xl) {
                font-size: 64px;
                line-height: 86px;
            }
        }

        .byline {
            font-size: 1.2rem;
            line-height: 1.8;
            font-weight: 300;

            @include min($breakpoints-lg) {
                font-size: 24px;
                line-height: 36px;
            }
        }
    }

    .category-path-description {
        padding-right: 48px;
        font-size: 20px;
    }

    .section {
        overflow-x: hidden;
        margin-bottom: 48px;
    }
}

.home,
.certifications {

    .certification-list .card,
    .card.course--certification {
        .card-body {
            .course-title::before {
                width: 25%;
            }
        }

        .card-illustration {
            width: 25%;

            svg {
                transform: none;
            }
        }

        .card-caption {
            &:after {
                display: block;
                content: "";
                width: 25%;
                height: 2rem;
                float: right;
            }
        }

        .card-meta {
            .meta-list-term {
                clear: none
            }

            .meta-list-definition {
                float: left;
                margin-right: $space-4;
            }
        }
    }
}


.secondary {
    background: $colors-neutral-20;
    padding: $space-4 0;

    &.fill-right {
        position: relative;

        &::after {
            position: absolute;
            width: 100%;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: 0;
            content: "";
            background: $colors-neutral-20;
        }
    }
}

.primary {
    background: $colors-primary-60;
    color: $colors-neutral-10;
    padding: $space-24 0;
}

.section {
    padding: $space-4 0;

    &.no-bottom-padding {
        padding-bottom: 0;
    }

    .container {
        padding: 48px 0 48px 48px; // $space-8 $space-8;
        border-radius: $border-radius-lg;

        &.no-bottom-padding {
            padding-bottom: 0;
        }

        &.no-top-padding {
            padding-top: 0;
        }

        h2 {
            margin-top: 0;
        }

        .byline {
            font-size: 20px;
            padding-right: 48px;
        }
    }
}

.course-grid-item {
    .card {
        &:hover {
            box-shadow: $box-shadow-l4;
            transform: scale(1.02);
        }
    }
}

.course-list {
    display: grid;
    grid-gap: 18px;
    grid-auto-flow: column;
    margin-top: $space-4;
    grid-auto-columns: 284px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    // margin-left: -48px;
    padding-top: $space-4;

    .card {
        height: 360px;
        margin-bottom: 0;

        &:hover {
            box-shadow: $box-shadow-l4;
            transform: scale(1.02);
        }
    }

    // &.course-list--scrollable {
    //     overflow-x: scroll;
    //     scroll-snap-type: x proximity;
    //     height: 350px;

    //     .spacer {
    //         grid-column-start: 1;
    //     }
    // }

    &.course-list--full {
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        height: 410px;
        grid-template-columns: 24px 1fr 1fr; //repeat(auto-fit, minmax(1fr, 1fr));
        //     margin-top: 0;
        //     margin-bottom: $space-16;
        //     grid-template-columns: 76px repeat(auto-fit, minmax(1fr, 1fr));

        @include min($breakpoints-xl) {
            grid-template-columns: calc(max(1024px, 100vw)/2 - 610px) 1fr 1fr;
            // grid-template-columns: calc((max(1024px, 100vw)/2) - math.div($container-width, 2)) 1fr 1fr;
        }
    }

    &.course-list--contained {
        margin: 0 0 0 -48px;
        grid-template-columns: 24px 1fr 1fr; //repeat(auto-fit, minmax(1fr, 1fr));

        @include min($breakpoints-xl) {
            overflow-x: hidden;
        }
    }

    .course-list-item {
        // scroll-snap-align: center;
        height: 100%;
        margin-bottom: 0;

        .card:hover {
            transform: scale(1.02);
        }

        .card {
            display: flex;
            width: 284px;
        }

        .view-more {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            a {
                display: flex;
            }
        }
    }
}

.certification-list {
    // padding: 0 48px 48px;
    padding-right: 48px;

    .card {
        height: 100%;
        width: 100%;

        .card-title {
            height: 67px
        }

        &:hover {
            box-shadow: $box-shadow-l4;
            transform: scale(1.02);
        }
    }

    @include min($breakpoints-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        align-items: stretch;
    }
}

.category-path {
    margin-bottom: $space-16;
}

.continue {
    border: 1px solid $colors-neutral-40;
    border-radius: $border-radius-lg;
    margin-right: 48px;
    padding: 0 0 $space-1;

    .continue-title {
        display: flex;
        justify-content: space-between;

        h2 {
            @extend .heading-5;
            display: flex;
            align-items: center;
            padding: 0 $space-4;
            margin: 0;
        }

        svg {
            margin-right: $space-4;
        }
    }

    .accordion-course {
        flex-direction: row;
        padding: $space-4;

        .accordion-display {
            display: flex;
            flex-direction: row;
            padding: $space-2 0;

            .course-title {
                flex: 1;
            }

            .course-progress {
                flex: 0 0 320px;
            }

            .course-actions {
                flex: 0;
                margin-left: $space-4;
            }
        }

        .course-title {
            display: flex;
            align-items: center;

            a {
                font-weight: normal;
                color: $colors-neutral-80;
            }
        }

        .course-progress,
        .course-actions {
            display: flex;
            align-items: center;

            .progress-container {
                margin: 0;
            }
        }

        .course-actions .btn {
            @extend .btn--small
        }

    }

    .continue-cta {
        background-color: $colors-neutral-20;
        padding: $space-4;
        margin: $space-8 $space-1 0;
        text-align: center;
        border-bottom-left-radius: $border-radius-lg;
        border-bottom-right-radius: $border-radius-lg;
        color: $colors-primary-50;
    }
}

.accordion {
    .accordion-item {
        width: 100%;
        padding: $space-2 $space-4;
        border-top: 1px solid $colors-neutral-40;

        .accordion-expand {
            display: flex;
            align-items: center;
            flex: 0 0 $space-8;

            a {
                span {
                    display: none;
                }

                &:before {
                    display: block;
                    content: " ";
                    border: solid $colors-neutral-70;
                    border-width: 0 2px 2px 0;
                    padding: 3px;
                    transform: rotate(45deg);
                    float: right;
                    cursor: pointer;
                    margin-right: $space-4;
                }
            }
        }

        .accordion-reveal {
            display: none;
            margin-left: $space-4;
            padding: 0 $space-4;

            @extend .body-small;
            color: $colors-neutral-70;

            p {
                margin-top: 0;
            }
        }

        &--visible {
            .accordion-expand a:before {
                transform: rotate(-135deg);
            }

            .accordion-reveal {
                display: block;
            }
        }
    }
}