@use 'sass:math' as math;

.home .hero {
    padding: $space-32 0;
}

.secondary {
    background: $neutral-20;
    padding: $space-24 0;
}

.primary {
    background: $colors-primary-60;
    color: $neutral-10;
    padding: $space-24 0;
}

.learn-neo4j {
    background-color: $neutral-10;
    padding: $space-12 0;

    .level,
    .category-list {
        .level-overline {
            @extend .subtitle;

            position: relative;
            color: $colors-primary-50;
            font-weight: 600;
            margin: 0;
            padding: $space-4 0;
        }

        .level-title {
            @extend .heading-3;
            position: relative;
            margin: 0 0 $space-4;
            color: $neutral-70;
        }
    }

    .card {
        height: 100%;
    }

    .course {
        position: relative;
        overflow: hidden;
    }
}

.levels {
    margin: 0;
    padding: 0;

    .level {
        width: 100%;
        position: relative;
        list-style-type: none;
        padding-bottom: $space-12;

        @include min($breakpoints-md) {
            border-left: 1px solid $neutral-25;
            padding-left: $space-4;
            padding: 0 0 $space-16 $space-12;
            margin-left: $space-4;
            margin-bottom: -$space-4;

            &.level-certification {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1px;
                    height: 70px;
                    background-color: $neutral-25;
                    display: block;
                }
            }

            &:hover {
                border-color: $colors-primary-20;

                .heading-2 {
                    &:before {
                        border-color: $colors-primary-30;
                        background: $colors-primary-10;
                    }
                    &:after {
                        background: $colors-primary-30;
                    }
                }
            }
        }

        &:last-child {
            border-left: 0px none;
        }

        &:first-child {
            .subtitle:before {
                position: absolute;
                left: -$space-20;
                top: 0;
                content: " ";
                background: $neutral-10;
                height: 130%;
                width: $space-12;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }

        .level-title {
            $bullet-offset: 3px;
            $bullet-large-size: 38px;
            $bullet-small-size: math.div($bullet-large-size, 2);

            @include min($breakpoints-md) {
                &:before {
                    position: absolute;
                    left: -$space-12;
                    margin-left: -(math.div($bullet-large-size,2)) - 1;
                    top: $bullet-offset;
                    content: " ";
                    border: 1px solid transparent; // $colors-primary-20;
                    border-radius: 50%;
                    background: transparent; // $colors-primary-10;
                    height: $bullet-large-size;
                    width: $bullet-large-size;
                    transition: all 250ms ease-in-out;
                    transition-delay: 10ms;
                }

                &:after {
                    position: absolute;
                    left: -$space-12;
                    margin-left: -(math.div($bullet-small-size, 2));
                    top: $bullet-offset + (math.div($bullet-small-size, 2)) + 1;
                    content: " ";
                    // border: 8px solid $colors-primary-10;
                    border-radius: 50%;
                    background: $neutral-30; // $colors-primary-40;
                    height: $bullet-small-size;
                    width: $bullet-small-size;
                    transition: all 200ms ease-in-out;
                }
            }
        }

        &:hover {
            border-color: $colors-primary-20;

            .level-title {
                &:before {
                    background: $colors-primary-10;
                    border-color: $colors-primary-20;
                }

                &:after {
                    background: $colors-primary-40;
                }
            }
        }

        p {
            color: $neutral-55;
            max-width: 44rem;
        }
    }

    .level-nav {
        // Hidden on mobile
        display: none;

        .level-nav-item {
            @extend .heading-4;
            font-size: 1.25rem;

            a {
                font-weight: 600;
                transition: all 0.2s linear;
            }
        }

        .view-all {
            @extend .arrow-after;

            font-weight: 600;

            &::after {
                content: "→";
                display: inline-block;
                margin-left: $space-2;
                transition: margin 0.2s linear;
            }

            &:hover {
                color: $colors-primary-30;

                &:after {
                    margin-left: $space-4;
                }
            }
        }
    }

    .category-list {
        .category {
            position: relative;

            .category-path-overline {
                @extend .body-small;

                color: $colors-primary-40;
                font-weight: 600;
                margin-bottom: 0;
            }

            .category-path-title {
                margin-top: $space-2;
                @extend .heading-3;
                color: $neutral-65;
            }

            .category-path-icon {
                border-radius: 50%;
                border: 4px solid $neutral-10;
                background-color: $colors-danger-10;
                width: $space-16;
                height: $space-16;
                padding: $space-3;
                margin-bottom: $space-8;
                float: right;

                @include min($breakpoints-md) {
                    position: absolute;
                    top: $space-12;
                    left: -$space-8;
                    float: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .category-path-description {
                @extend .body-small;
            }

            .category-path-actions {
                margin-top: $space-8;
            }

            .follow {
                @extend .body-small;
                @extend .arrow-after;
                font-weight: 600;
            }
        }
    }

    /**
     * Stacked course on mobile
     */
    .category-list {
        .category.category-path {
            @include max($breakpoints-md) {
                .category-path-toggle {
                    // font-size: .875rem;
                    padding: $space-2 0 $space-4;
                    color: $neutral-40;
                    border-bottom: 1px solid $neutral-25;
                    cursor: pointer;

                    &:after {
                        display: block;
                        content: " ";
                        border: solid $neutral-35;
                        border-width: 0 2px 2px 0;
                        margin-top: 6px;
                        padding: 3px;
                        transform: rotate(45deg);
                        float: right;
                    }
                }

                .heading-3,
                .subtitle,
                .category-meta,
                .category-courses,
                .category-details {
                    display: none;
                }

                &--visible {
                    .category-path-toggle {
                        border-bottom: 0px none;
                    }
                    .heading-3,
                    .subtitle,
                    .category-courses,
                    .category-details {
                        display: block;
                    }
                    .category-meta,
                    .card-footer a {
                        display: flex;
                    }

                    .category-path-toggle:after {
                        transform: rotate(-135deg);
                    }
                }
            }

            @include min($breakpoints-md) {
                .heading-3:after {
                    display: none;
                }
            }
        }
    }

    /**
     * Scrollable lists on tablet and above
     */
    @include min($breakpoints-md) {
        .category-path-toggle {
            display: none;
        }

        .level-select {
            display: flex;
            width: 100%;

            .level-nav {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 0 0 220px;
                margin-top: $space-12;
                margin-right: $space-12;
                list-style-type: none;

                a {
                    color: $colors-primary-40;
                }

                .level-nav-list {
                    margin: 0 0 $space-12;
                    padding: 0;

                    .level-nav-item {
                        position: relative;
                        margin: 0 0 $space-4;
                        padding: 0;
                        list-style-type: none;

                        &:before {
                            display: block;
                            height: 9px;
                            width: 9px;
                            content: "";
                            background: $neutral-25;
                            margin-right: $space-2;
                            border-radius: 50%;
                            position: absolute;
                            top: 6px;
                            left: -$space-12;
                            margin-left: -5px;
                            transition: all 0.2s linear;
                        }

                        a {
                            color: $neutral-50;

                            &:hover {
                                color: $colors-primary-30;
                            }
                        }

                        &--active {
                            padding-left: $space-6;

                            &:before {
                                left: 0;
                                background-color: $colors-primary-20;
                            }

                            &:after {
                                position: absolute;
                                top: 10px;
                                left: -$space-12;
                                height: 1px;
                                border-top: 1px dashed $neutral-30;
                                display: block;
                                content: " ";
                                width: $space-12;
                            }

                            a {
                                color: $colors-primary-40;
                            }
                        }

                        &:hover:before {
                            background: $colors-primary-30;
                        }
                    }
                }
            }
        }

        .category-list {
            display: flex;
            flex-grow: 1;
            margin-right: -1px;
        }

        .category-path {
            display: none;
            background: $colors-primary-10;
            border: 1px solid $colors-primary-10;
            padding: 0 $space-4 $space-20 ($space-8 + $space-2);
            flex-direction: row;
            border-radius: $border-radius-md;
            position: relative;

            &.category-path--active {
                display: flex;
                flex-grow: 1;
            }

            .category-details {
                flex: 0 0 320px;
                margin-right: $space-4;
            }

            .category-courses {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 340px;
                // padding-bottom: $space-12;

                overflow-x: hidden;
                border: 1px solid $colors-primary-10;
                border-radius: $border-radius-md;

                .course-list {
                    padding-right: $space-4;
                    // display: none;


                    .course-list-item {
                        margin-right: $space-4;
                    }
                }
            }

            .horizontal-controls {
                position: absolute;
                bottom: $space-4;
                right: 0;
            }
        }
    }

    .horizontal-scroll {
        width: 100%;
        overflow-x: hidden;
        padding-bottom: $space-2;
    }

    .horizontal-controls {
        display: none;

        @include min($breakpoints-md) {
            display: block;
            text-align: right;
        }

        .horizontal-control {
            display: inline-block;
            padding: 0 $space-4;
        }

        svg {
            height: $space-4;
            width: $space-4;

            &:active {
                path {
                    stroke: $colors-primary-40;
                }
            }

            &:hover {
                path {
                    stroke: $colors-primary-50;
                }
            }
        }
    }

    .category-courses {
        background-color: $neutral-20;
        flex: 1;
        margin-top: 0;
        margin-left: -$space-4;
        margin-right: -$space-4;
        padding: $space-4 $space-4;

        list-style-type: none;

        display: flex;
    }

    .category-details {
        background-color: $neutral-20;
        margin-left: -$space-4;
        margin-right: -$space-4;
        margin-bottom: 0;
        padding: $space-4 $space-4;
    }

    .course-list {
        list-style-type: none;
        padding: $space-2 0 $space-4;
        margin: 0 0 $space-4;
        width: 100%;
        position: relative;

        @include min($breakpoints-md) {
            display: flex;
            flex-direction: row;
            width: 100%;

            .course-list-item {
                flex: 0 0 320px;

                padding-right: $space-2;
                margin-bottom: $space-4;
                margin-right: $space-4;

                &:first-child {
                    margin-left: 2px;
                }
            }
        }
    }
}

.meta {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;

    .meta-list {
        margin: 0;
        color: $neutral-40;

        display: flex;
        flex-direction: row;

        .meta-list-term {
            margin: 0 $space-2 0 0;

            svg path {
                fill: $neutral-50;
            }
        }

        .meta-list-definition {
            margin: 0 $space-4 0 0;
            color: $neutral-50;
        }
        span {
            display: none;
        }
    }

    dd {
        align-items: center;
    }
}

.get-started {
    .heading-1 {
        max-width: 720px;
        margin: auto;
        text-align: center;
        margin-bottom: $space-12;
    }

    .get-started-reason {
        padding: 0 $space-12 $space-4;
        margin: 0 auto $space-12;

        max-width: 720px;

        .get-started-reason-image {
            img {
                width: 100%;
                height: auto;
            }
        }

        .heading-3 {
            margin-top: 0;
            margin-bottom: $space-2;
        }

        .overline {
            margin-bottom: $space-2;
        }

        @include min($breakpoints-xl) {
            max-width: $breakpoints-xl;
            margin: auto;
            display: flex;

            .get-started-reason-text,
            .get-started-reason-image {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: $space-12;
                // align-items: center;

                img {
                    width: 100%;
                }
            }

            &.get-started-reason--left .get-started-reason-image {
                order: 2;
            }
        }
    }
}