body.home {
    background: url(/img/home/hero-background-full.svg) no-repeat center -115px;

    .main {
        background-color: $white;
    }
}


.hero {
    h2 {
        font-size: 2.2rem;
        line-height: 1.3;
        color: $navy;
        padding: 6rem;
        text-align: center;
        max-width: 720px;
        margin: 0 auto $padding-xl;
    }

    em {
        color: $blue;
        border: 0px none;
    }

    svg {
        display: none;
    }

    .btn {
        font-size: 1.2rem;
    }
}

@media all and (min-width: $screen-desktop) {
    .hero {
        height: 610px;
        overflow: hidden;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;

        }

        .intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .home-graph {
            width: 755px;
        }

        h2 {
            color: $navy;
            line-height: 1.3;
            text-align: left;
            padding: 0;
        }

        svg {
            display: block;
        }
    }

}

// .hero {
//     height: 610px;
//     overflow: hidden;

//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding: 1rem;

//     .intro {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     .home-graph {
//         width: 755px;
//     }

//     h2 {
//         margin: 0;
//         font-size: 2.2rem;
//         line-height: 1.3;
//         color: $navy;
//     }

//     // h2, p {
//     //     max-width: 50%;
//     // }

//     em {
//         color: $blue;
//         border: 0px none;
//     }
// }

.home-graph {
    svg {
        margin-top: -90px;
    }

    circle, line {
        transition: all .2s linear;
    }

    line {
        opacity: .3;
    }


    circle {
        opacity: .5;
    }

    circle[id*="-s"] {
        opacity: 0;
    }

    #n1 {
        opacity: 1;
        animation: fadeInCentral 1s linear;
        // animation-delay: 1s;
    }

    circle:not([id*="-s"]) {
        animation: fadeInNode 2s linear;

        &:nth-child(2n) {
            animation-duration: 1s;
        }
        &:nth-child(3n) {
            animation-duration: 1.3s;
        }
        &:nth-child(4n) {
            animation-duration: 1.6s;
        }
        &:nth-child(5n) {
            animation-duration: 2.1s;
        }
        &:nth-child(6n) {
            animation-duration: 2.3s;
        }
    }

    g[id^="branch"]:hover {
        > line, > circle:not([id*="-s"]) { opacity: 1; }
        > circle[id*="-s"] { opacity: .1 }
        > line {
            animation: dash 1s linear;
        }
    }

    line {
        animation: fadeInLines 2s linear;

        &:nth-child(2n) {
            animation-duration: 2.5s;
        }
        &:nth-child(3n) {
            animation-duration: 2.8s;
        }
        &:nth-child(4n) {
            animation-duration: 3s;
        }
        &:nth-child(5n) {
            animation-duration: 3.2s;
        }
    }
}


@keyframes fadeInCentral {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeInNode {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: .5}
}

@keyframes fadeInLines {
    0% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: .3}
}

@keyframes dash {
    0% {stroke-dashoffset: 10; stroke-dasharray: 10;}
    50% {stroke-dashoffset: 10;}
    100% {stroke-dashoffset: 0; stroke-dasharray: 0;}
  }