.ide {
  background-color: $colors-neutral-15;

  .code {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;

    .code-header {
      flex-grow: 0;
    }

    .code-editor {
      flex-grow: 1;

      .cm-editor {
        height: 100%;
        width: 100%;
      }
    }
  }
}