.public-profile {
    .main {
        background-color: $colors-neutral-10;
    }

    .achievement-tabs {
        margin: 0 $space-4;
    }

    .achievement-group {
        background-color: $colors-neutral-20;
        border-radius: $border-radius-2xl;
        padding: $space-8;
        margin-bottom: $space-12;

        h2 {
            margin-bottom: $space-4;
            font-size: 1.25rem;
            font-weight: normal;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .bio {
        margin-bottom: $space-12;
    }
}

.profile-image {
    margin-bottom: $space-12;
}

.profile-image-placeholder {
    width: $space-32 + $space-12;
    height: $space-32 + $space-12;
    background-color: $colors-primary-40;
    color: $colors-neutral-10;
    font-size: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}