.quiz {
    .quiz-intro-block {
        margin-bottom: $space-4;
    }

    .quiz-questions {
        display: none;

        &--visible {
            display: block;
        }

        .question {
            display: none;

            .question-lesson {
                .toc-icon {
                    margin-right: $space-2;
                }

                @extend .body-small;
                margin-bottom: 0;

                a {
                    // color: $colors-neutral-60;
                }
            }

            &.question--current {
                display: block;
            }
        }
    }

    .progress-container {
        display: flex;
        background: $colors-neutral-20;
        padding: $space-2 $space-4;
        border-radius: $border-radius-lg;
        margin: $space-8 (
            -$space-4) $space-8;

        .progress-bar {
            margin-left: 0;
        }
    }

    .modal-close {
        display: none;
    }
}