.leaderboard {

  td,
  th {
    padding: $space-4;
    border-top: 1px solid $colors-neutral-40;
  }

  .position {
    text-align: right;
    vertical-align: top;
  }

  a {
    font-weight: normal;
    color: $colors-neutral-90;
  }

  .learner {
    a {
      display: flex;
      flex-direction: row;
      text-align: left;
      line-height: 1.3;

      .profile-underline {
        color: $colors-neutral-70;
        display: block;
        font-size: 0.9rem;
      }

      .profile-image {
        margin-bottom: 0;

        .profile-image-placeholder {
          font-size: 1.25rem;
          width: 3rem;
          height: 3rem;
          margin-right: $space-4;
        }
      }
    }
  }

  .points {
    text-align: left;
    vertical-align: top;
  }

  .courses {
    display: flex;
    flex-direction: row;

    img {
      width: 2rem;
      margin-right: $space-2;
    }
  }

}