.leaderboard,
.course-matrix {

  td,
  th {
    padding: $space-4;
    border-top: 1px solid $palette-light-neutral-border-strong;
  }

  .position {
    text-align: right;
    vertical-align: top;
  }

  a {
    font-weight: normal;
    color: $colors-neutral-80;
  }

  .learner {
    a {
      display: flex;
      flex-direction: row;
      text-align: left;
      line-height: 1.3;

      .profile-underline {
        color: $colors-neutral-60;
        display: block;
        font-size: 0.9rem;
      }

      .profile-image {
        margin-bottom: 0;

        .profile-image-placeholder,
        img {
          font-size: 1.25rem;
          width: 3rem;
          height: 3rem;
          margin-right: $space-4;
        }

        img {
          border-radius: $border-radius-md;
          width: 3rem;
        }
      }
    }
  }

  .points {
    text-align: left;
    vertical-align: top;
  }

  .courses {
    display: flex;
    flex-direction: row;

    img {
      width: 2rem;
      margin-right: $space-2;
    }
  }

}

.course-matrix-container {
  overflow-x: auto;
}

.course-matrix {
  width: 100%;
  border-collapse: collapse;

  // th.course-matrix-course {
  //   transform: rotate(-90deg);
  //   transform-origin: left bottom;
  //   transform: scale(1);
  // }

  .course-matrix-course {
    text-align: center;

    img {
      width: 60px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .learner {
    text-align: left;
    position: sticky;
    left: 0;
    background-color: $colors-neutral-15;
    z-index: 10;
  }

  .course-matrix-icon-enrolled {

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke: $colors-neutral-40;
      }
    }
  }

  // .course-matrix-course--completed {
  //   img {
  //     opacity: 1;
  //   }
  // }
}

.teams-container {
  .tabs {
    border-bottom: 0px none;
  }

  .continue {
    margin-right: 0;

  }
}

.form-team-courses {
  .course-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: $space-4;

    &:last-child {
      margin-bottom: $space-12;
    }

    .course {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      font-weight: normal;
      color: $colors-neutral-80;

      img {
        width: 60px;
        height: 60px;
        margin-right: $space-4;
      }

      .course-caption {
        color: $colors-neutral-50;
      }
    }

    select {
      width: $space-24;
    }

  }
}

.team-form-container .team-form {
  padding: $space-4;
}