mixin course(header, course)
  li.course-path-item(class=`course-path-item--${header.toLowerCase().replace(' ', '-')}`)
    p.overline.body-small #{header}
    a(href=course.link) !{course.title}

if (prerequisites && prerequisites.length) || (progressTo && progressTo.length)
  h3 Learning Path

  ul.course-path
    if prerequisites && prerequisites.length
      for course in prerequisites
        +course('Prerequisite', course)

    +course('This Course', { link, title })

    if progressTo && progressTo.length
      for course in progressTo
        +course('Progress To', course)
