extends ../layouts/default

block main
  include partials/header

  .course-description.course-container.teams-container.secondary
    .container
      .major
        .team-form-container.account-section
          h2 Edit Team Settings
          include partials/form 
