extends ../layouts/default

block main
  include partials/header

  .course-description.course-container.team-form-container
    .container
      .major
        include partials/tabs
        include partials/form 
