extends ../layouts/default

block main
  include partials/header

  .course-description.course-container.teams-container.secondary
    .container
      .major
        .team-form-container.account-section
          form.form(action=`/teams/${team.id}/invite` method='post')
            h2 Invite Members

            .form-group.full
              label(for='emails') Enter the email addresses below to invite new members to the team.
              
              textarea(name='emails' id='emails' placeholder='Enter email addresses' required rows='3')
              label.form-hint(for='emails') Separate emails with semicolon.

            .form-buttons
              button.btn.btn--primary(type='submit') Invite
