div.section(class=[node.$attr('style'),node.$attr('role'),node.$attr('class')].filter(a => !!a).join(' '))
  if node.getTitle()
    if node.level == 1
      h2 !{node.getTitle()}
    else if node.level == 2
      h3 !{node.getTitle()}
    else if node.level == 3
      h4 !{node.getTitle()}
  | !{node.getContent()}
