extends layouts/default
include course/card

block main
  .section
    .container
      .certification-list
        for cert in certifications
          +course(cert)

  .certification
    .course-description.no-padding
      .course-container.no-padding
        .container
          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.375 28.125C11.5758 28.125 19.5204 29.2218 27.0701 31.2768C28.1606 31.5737 29.25 30.7629 29.25 29.6327V28.125M5.625 6.75V7.875C5.625 8.49632 5.12132 9 4.5 9H3.375M3.375 9V8.4375C3.375 7.50552 4.13052 6.75 5.0625 6.75H30.375M3.375 9V22.5M30.375 6.75V7.875C30.375 8.49632 30.8787 9 31.5 9H32.625M30.375 6.75H30.9375C31.8695 6.75 32.625 7.50552 32.625 8.4375V23.0625C32.625 23.9945 31.8695 24.75 30.9375 24.75H30.375M32.625 22.5H31.5C30.8787 22.5 30.375 23.0037 30.375 23.625V24.75M30.375 24.75H5.625M5.625 24.75H5.0625C4.13052 24.75 3.375 23.9945 3.375 23.0625V22.5M5.625 24.75V23.625C5.625 23.0037 5.12132 22.5 4.5 22.5H3.375M22.5 15.75C22.5 18.2353 20.4853 20.25 18 20.25C15.5147 20.25 13.5 18.2353 13.5 15.75C13.5 13.2647 15.5147 11.25 18 11.25C20.4853 11.25 22.5 13.2647 22.5 15.75ZM27 15.75H27.0112V15.7613H27V15.75ZM9 15.75H9.01125V15.7613H9V15.75Z" stroke="#006FD6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Cost
            p
              | Free.  This certification is available to you at no cost.

          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 25.875V27.386C13.5 28.5795 13.0259 29.7241 12.182 30.568L11.25 31.5H24.75L23.818 30.568C22.9741 29.7241 22.5 28.5795 22.5 27.386V25.875M31.5 7.875V22.5C31.5 24.364 29.989 25.875 28.125 25.875H7.875C6.01104 25.875 4.5 24.364 4.5 22.5V7.875M31.5 7.875C31.5 6.01104 29.989 4.5 28.125 4.5H7.875C6.01104 4.5 4.5 6.01104 4.5 7.875M31.5 7.875V18C31.5 19.864 29.989 21.375 28.125 21.375H7.875C6.01104 21.375 4.5 19.864 4.5 18V7.875" stroke="#006FD6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Flexible Format
            p
              | Online and on your own time. No proctoring.

          div.certification-detail
            h3
              | !{'<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.5 13.5H28.125M22.5 18H28.125M22.5 22.5H28.125M6.75 29.25H29.25C31.114 29.25 32.625 27.739 32.625 25.875V10.125C32.625 8.26104 31.114 6.75 29.25 6.75H6.75C4.88604 6.75 3.375 8.26104 3.375 10.125V25.875C3.375 27.739 4.88604 29.25 6.75 29.25ZM15.75 14.0625C15.75 15.6158 14.4908 16.875 12.9375 16.875C11.3842 16.875 10.125 15.6158 10.125 14.0625C10.125 12.5092 11.3842 11.25 12.9375 11.25C14.4908 11.25 15.75 12.5092 15.75 14.0625ZM17.6908 23.567C16.2734 24.3221 14.6553 24.75 12.9373 24.75C11.2192 24.75 9.60111 24.3221 8.18372 23.567C8.89479 21.6311 10.7547 20.25 12.9373 20.25C15.1198 20.25 16.9797 21.6311 17.6908 23.567Z" stroke="#006FD6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'}
              | Share achievements
            p
              | Use the generated URL to share your certificate on LinkedIn.

    .section.neutral
      .container.separated
        h2 Join the Graph Movement

      .course-container.no-padding.certification-metrics
        .container
          div.certification-detail
            span.metric 950+
            | Enterprise and Fortune 100 companies use Neo4j

          div.certification-detail
            span.metric 10 000+
            | practitioners have completed a Neo4j Certification

          div.certification-detail
            span.metric 80%
            | of data and analytics innovations with use graph technology by 2025 - Gartner
