extends layouts/default
include mixins/card

block hero
  .hero
    .container
      .intro
        h2 Free, Self-Paced,
          |
          |
          strong Hands-on
          |
          | Online Training
          |
          strong with
          |
          |
          em GraphAcademy

        p
          a.btn(href='/courses/') Start learning today
            span &rarr;
      .home-graph !{graphSvg}

block main
  .main
    .container
      | !{doc}
