extend ./layouts/default

block hero
  +hero(
      hero.title,
      hero.byline,
      hero.overline,
  )

block main
  .container.one-column.simple
    if header
      h1 #{header}

    if content
     | !{content}

    if action
      div.action
        a.btn(href=action.link) !{action.text}
