extend ../layouts/default

block hero
  +hero(
      'Page Not Foud',
      `We couldn't find anything at this address`,
      'Oops'
  )

block main
  .container
    p(style='text-align: center; margin-top: 0; padding-top: 4rem')
      a.btn(href='/categories') View Course Catalogue


  div(style='height:4rem')