// Typography
// https://design.neo4j.com/40a8cff71/p/586d17-typography/b/51f37d
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Public+Sans:wght@200;400;700&display=swap');

@font-face {
    font-family: "SyneNeo";
    src: url("../fonts/syne-neo/SyneNeo-Medium.woff");
    font-display: swap;
}


$font-family-header: "SyneNeo", "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-sans-serif: "Public Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: 'Fira Code', monospace;

$size-base: 16px;
$line-base: 1.8rem;

//

/* h4 */
$size-heading-4: 1.5rem;
$line-heading-4: 2rem;
$weight-heading-4: 600;

$size-heading-4--mobile: 1rem;
$line-heading-4--mobile: $line-base;

/* h3 */
$size-heading-3: 1.875rem;
$line-heading-3: 2.5rem;
$weight-heading-3: 600;

$size-heading-3--mobile: $size-heading-4;
$line-heading-3--mobile: $line-heading-4;

/* h2 */
$size-heading-2: 2rem;
$line-heading-2: 2.5rem;
$weight-heading-2: 600;

$size-heading-2--mobile: $size-heading-3;
$line-heading-2--mobile: $line-heading-3;

/* h1 */
$size-heading-1: 2.5rem;
$line-heading-1: 3rem;
$weight-heading-1: 400;

$size-heading-1--mobile: $size-heading-2;
$line-heading-1--mobile: $line-heading-2;

h1,
h2,
h3,
h4,
h5 {
    // font-family: $font-family-header;
    color: $palette-light-neutral-text-default;
    font-weight: 600;

    a {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }
}


h1 {
    font-family: $font-family-header;
    margin: $space-4 0 $space-2;
}

h2 {
    margin: $space-8 0 $space-2;
}

h3 {
    margin: $space-8 0 $space-2;
}


.heading-5 {
    //styleName: H5;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: left;
}

.heading-4 {
    font-size: $size-heading-4--mobile;
    line-height: $line-heading-4--mobile;
    font-weight: $weight-heading-4;

    @include min($breakpoints-md) {
        font-size: $size-heading-4;
        line-height: $line-heading-4;
    }
}

.heading-3 {
    font-size: $size-heading-3--mobile;
    line-height: $line-heading-3--mobile;
    font-weight: $weight-heading-3;

    @include min($breakpoints-md) {
        font-size: $size-heading-3;
        line-height: $line-heading-3;
    }
}


.heading-2 {
    font-size: $size-heading-2--mobile;
    line-height: $line-heading-2--mobile;
    font-weight: $weight-heading-2;

    @include min($breakpoints-md) {
        font-size: $size-heading-2;
        line-height: $line-heading-2;
    }
}

.heading-1,
.heading {
    font-size: $size-heading-1--mobile;
    line-height: $line-heading-1--mobile;
    font-weight: $weight-heading-1;

    @include min($breakpoints-md) {
        font-size: $size-heading-1;
        line-height: $line-heading-1;
    }
}


.body,
body {
    font-family: $font-family-sans-serif;
    font-size: $size-base;
    line-height: $line-base;
    font-weight: 400;
    color: $colors-neutral-80;
    letter-spacing: 0.01563rem;
}

a {
    text-decoration: none;
    color: $colors-primary-60;
    font-weight: 600;

    &:active {
        color: $colors-success-60;
    }

    &:hover {
        color: $colors-info-60;
    }
}


.subtitle {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    // text-transform: uppercase;
}

.overline {
    font-family: $font-family-sans-serif;
    font-size: $size-base;
    line-height: $line-base;
    text-transform: uppercase;
    letter-spacing: 3px;
}

small,
.body-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

pre,
code,
.monospace {
    font-family: $font-family-monospace;
    font-weight: 500;
}


.btn {
    display: inline-block;
    padding: $space-4 $space-8;
    border: 1px solid $colors-primary-50;
    background-color: transparent; // $colors-neutral-10;
    color: $colors-primary-60;
    transition: all .2s linear;

    code {
        background-color: $colors-primary-60 !important;
        color: $colors-neutral-10;
        font-size: .9em;
    }

    &.btn--primary,
    &.btn-lab {
        background-color: $colors-primary-60;
        color: $colors-neutral-10;

        &:hover {
            background-color: $colors-primary-40;
        }

        &:active {
            background-color: $colors-primary-50;
        }
    }

    &.btn-lab {
        color: $colors-neutral-10 !important;
    }

    &.btn--success {
        border-color: $colors-success-40;
        background-color: $colors-success-40;
        color: $colors-neutral-10;

        &.btn--loading {
            background-color: $colors-success-50;
        }

        &:hover {
            background-color: $colors-success-30;
        }

        &:active {
            background-color: $colors-success-60;
        }
    }

    &.btn--neutral {
        border-color: transparent;
        background-color: transparent;
        color: $colors-neutral-80;
    }

    .loading-indicator {
        display: none;
        width: 0;
    }

    &.btn--loading {
        background: $colors-primary-30;

        .loading-indicator {
            display: inline-block;
            margin-right: $space-2;
            animation: spin 3s linear infinite;
            transition: all .2s;
            width: auto;

            svg path {
                fill: $colors-neutral-10
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.arrow-after {
    &::after {
        content: "→";
        display: inline-block;
        margin-left: $space-2;
        transition: margin .2s linear;
    }

    &:hover {
        &:after {
            margin-left: $space-4;
        }
    }
}

.text-muted {
    color: $colors-neutral-70;
    font-weight: normal;
}

.label {
    align-items: center;
    background-color: $colors-primary-10;
    border: 1px solid $colors-primary-20;
    color: $colors-primary-50;
    border-radius: 1rem;
    padding: $space-1 $space-3;
    position: relative;
    @extend .body-small;
    line-height: 1;

    svg {
        margin-right: $space-2;
    }

    &.label--neutral {
        color: $colors-neutral-50;
        border-color: $colors-neutral-20;
        background-color: $colors-neutral-15;
    }

    &.label--neutral-strong {
        color: $colors-neutral-60;
        border-color: $colors-neutral-30;
        background-color: $colors-neutral-20;
        display: inline-flex;
        justify-content: center;
        margin-bottom: $space-4;

        svg {
            margin-left: $space-2;
            display: inline-block;
        }
    }

    &.label--success {
        color: $colors-success-60;
        border-color: $colors-success-25;
        background-color: $colors-success-10;
    }
}

.tooltip-label {
    font-weight: 600;
    color: $colors-neutral-60;
    background: $colors-neutral-10;
    padding: $space-4 $space-8;
    border-top-left-radius: $border-radius-md;
    border-bottom-left-radius: $border-radius-md;
}

// .main a[target="_blank"]:after {
//     display: inline-block;
//     content: "";
//     background-position: top left;
//     background-repeat: no-repeat;
//     background-image: url('data:image/svg+xml;utf8,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M3.16699 1.50008H1.50033C1.04009 1.50008 0.666992 1.87318 0.666992 2.33341V6.50008C0.666992 6.96032 1.04009 7.33341 1.50033 7.33341H5.66699C6.12723 7.33341 6.50033 6.96032 6.50033 6.50008V4.83341M4.83366 0.666748H7.33366M7.33366 0.666748V3.16675M7.33366 0.666748L3.16699 4.83341" stroke="#0A6190" stroke-linecap="round" stroke-linejoin="round"></g></svg> ');
//     height: 18px;
//     width: 8px;
// }