// Typography
// https://design.neo4j.com/40a8cff71/p/586d17-typography/b/51f37d
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Nunito+Sans:wght@200;400;700&display=swap');

@font-face {
	font-family: "Nudista";
	src: url("/fonts/nudista/nudista_semibold-webfont.woff");
	font-display: swap;
}


$font-family-header: "Nudista", "Nunito Sans", NunitoSans-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-sans-serif: "Nunito Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
$font-family-monospace: 'Fira Code', monospace;


$size-base: 16px;
$line-base: 1.8rem;


//


/* h4 */
$size-heading-4: 1.5rem;
$line-heading-4: 2rem;
$weight-heading-4: 600;

$size-heading-4--mobile: 1rem;
$line-heading-4--mobile: $line-base;

/* h3 */
$size-heading-3: 1.875rem;
$line-heading-3: 2.5rem;
$weight-heading-3: 600;

$size-heading-3--mobile: $size-heading-4;
$line-heading-3--mobile: $line-heading-4;

/* h2 */
$size-heading-2: 2.5rem;
$line-heading-2: 3rem;
$weight-heading-2: 600;

$size-heading-2--mobile: $size-heading-3;
$line-heading-2--mobile: $line-heading-3;

/* h1 */
$size-heading-1: 3rem;
$line-heading-1: 3.75rem;
$weight-heading-1: 600;

$size-heading-1--mobile: $size-heading-2;
$line-heading-1--mobile: $line-heading-2;

h1, h2, h3, h4, h5 {
    font-family: $font-family-header;

    a {
        color: inherit;
        font-weight: inherit;
    }
}

h2 {
    margin: $spacing-18 0 $spacing-4;
}

h3 {
    margin: $spacing-12 0 $spacing-4;
}

.heading-4 {
    font-size: $size-heading-4--mobile;
    line-height: $line-heading-4--mobile;
    font-weight: $weight-heading-4;

    @include min($screen-tablet) {
        font-size: $size-heading-4;
        line-height: $line-heading-4;
    }
}

.heading-3 {
    font-size: $size-heading-3--mobile;
    line-height: $line-heading-3--mobile;
    font-weight: $weight-heading-3;

    @include min($screen-tablet) {
        font-size: $size-heading-3;
        line-height: $line-heading-3;
    }
}


.heading-2 {
    font-size: $size-heading-2--mobile;
    line-height: $line-heading-2--mobile;
    font-weight: $weight-heading-2;

    @include min($screen-tablet) {
        font-size: $size-heading-2;
        line-height: $line-heading-2;
    }
}

.heading-1 {
    font-size: $size-heading-1--mobile;
    line-height: $line-heading-1--mobile;
    font-weight: $weight-heading-1;

    @include min($screen-tablet) {
        font-size: $size-heading-1;
        line-height: $line-heading-1;
    }
}


// .heading-5 {
//     font-size: $size-heading-5--mobile;
//     line-height: $line-heading-5--mobile;

//     @include min($screen-tablet) {
//         font-size: $size-base;
//         line-height: $line-base;

//     }
// }





// $size-heading-1: 3.75rem;
// $line-heading-1: 2.75rem;

// $size-heading-1: 2.25rem;
// $line-heading-1--mobile: 2.75rem;


// $size-heading-1: 3.75rem;


// $size-heading-2: 2.25rem;
// $size-heading-2: 2.25rem;
// $line-heading-2: 2.75rem;

// $size-heading-3: 1.875rem;
// $size-heading-3: 1.875rem;

// $line-heading-3: 2.5rem;

// $size-heading-4: 1.5rem;
// $size-heading-4: 1.5rem;

// $size-heading-5: 1.375rem;
// $size-heading-5: 1.375rem;

// $size-heading-6: 1.25rem;
// $size-heading-6: 1.25rem;


// $size-heading-hero: $size-heading-1;
// $line-heading-hero: $line-heading-1;

// $size-heading-hero--mobile: s;
// $line-heading-hero--mobile: $line-heading-2;

// .hero-heading {
//     font-size: $size-heading-hero--mobile;
//     line-height: $line-heading-hero--mobile;
// }



.body, body {
    font-family: $font-family-sans-serif;
    font-size: $size-base;
    line-height: $line-base;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $primary-color-60;
    font-weight: 400;
}


.subtitle {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    // text-transform: uppercase;
}

.overline {
    font-family: $font-family-sans-serif;
    font-size: $size-base;
    line-height: $line-base;
    text-transform: uppercase;
    letter-spacing: 3px;
}

small, .body-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

pre, code, .monospace {
    font-family: $font-family-monospace;
    font-weight: 500;
}


.btn {
    display: inline-block;
    padding: $spacing-4 $spacing-8;
    border: 1px solid $primary-color;
    background-color: $neutral-10;
    color: $primary-color;

    &.btn--primary {
        background-color: $primary-color;
        color: $neutral-10;
    }
}

.btn {
    display: inline-block;
    padding: $spacing-4 $spacing-8;
    border: 1px solid $primary-color;
}

.arrow-after {
    &::after {
        content: "→";
        display: inline-block;
        margin-left: $spacing-2;
        transition: margin .2s linear;
    }

    &:hover {
        &:after {
            margin-left: $spacing-4;
        }
    }
}