@import '../../node_modules/@neo4j-ndl/base/lib/tokens/scss/tokens.scss';


// Spacing
$space-64: 16rem;

// Header
$header-height: 4.5rem;
$burger-width: 22px;

$header-links: $colors-neutral-80;
$header-links-hover: $colors-neutral-70;

$container-width: 1280px;