@import '../../node_modules/@neo4j-ndl/base/lib/tokens/scss/tokens.scss';

// Colours
// https://design.neo4j.com/40a8cff71/p/444bb0-color/b/67d634
$primary-color: $colors-primary-50;
$primary-color-70: $colors-primary-70;
$primary-color-60: $colors-primary-60;
$primary-color-50: $colors-primary-50;
$primary-color-40: $colors-primary-40;
$primary-color-30: $colors-primary-30;
$primary-color-20: $colors-primary-20;
$primary-color-10: $colors-primary-10;

$secondary-color: $colors-danger-50;
$secondary-color-70: $colors-danger-70;
$secondary-color-60: $colors-danger-60;
$secondary-color-50: $colors-danger-50;
$secondary-color-60: $colors-danger-60;
$secondary-color-30: $colors-danger-30;
$secondary-color-20: $colors-danger-20;
$secondary-color-10: $colors-danger-10;

$blueberry-color: $colors-blueberry-50;
$blueberry-color-70 : $colors-blueberry-70;
$blueberry-color-60: $colors-blueberry-60;
$blueberry-color-50: $colors-blueberry-50;
$blueberry-color-40: $colors-blueberry-40;
$blueberry-color-30: $colors-blueberry-30;
$blueberry-color-20: $colors-blueberry-20;
$blueberry-color-10: $colors-blueberry-10;

$mint-color: $colors-mint-50;
$mint-color-70 : $colors-mint-70;
$mint-color-60: $colors-mint-60;
$mint-color-50: $colors-mint-50;
$mint-color-40: $colors-mint-40;
$mint-color-30: $colors-mint-30;
$mint-color-20: $colors-mint-20;
$mint-color-10: $colors-mint-10;

$success-color: $colors-success-50;
$success-color-70: $colors-success-70;
$success-color-60: $colors-success-60;
$success-color-50: $colors-success-50;
$success-color-60: $colors-success-60;
$success-color-30: $colors-success-30;
$success-color-20: $colors-success-20;
$success-color-10: $colors-success-10;

$warning-color: $colors-warning-50;
$warning-color-70: $colors-warning-70;
$warning-color-60: $colors-warning-60;
$warning-color-50: $colors-warning-50;
$warning-color-60: $colors-warning-60;
$warning-color-30: $colors-warning-30;
$warning-color-20: $colors-warning-20;
$warning-color-10: $colors-warning-10;

$neutral-10: white;
$neutral-15: #f9fcff;
$neutral-20: #edf7ff;
$neutral-25: #d7e6f1;
$neutral-30: #c4d3df;
$neutral-35: #b6c4d0;
$neutral-40: #91a1ae;
$neutral-45: #758694;
$neutral-50: #5f6e7a;
$neutral-55: #485662;
$neutral-60: #374754;
$neutral-65: #192a37;
$neutral-70: #080f15;

// Screen
$screen-tablet: 760px;
$screen-desktop: 1280px;

// Spacing
$space-64: 16rem;

$padding-vertical: $space-4;
$padding-horizontal: $space-4;

// Header
$header-height: 4.5rem;
$burger-width: 22px;

$header-links: $neutral-60;
$header-links-hover: $neutral-70;