@use 'sass:math' as math;

@import "utilities.scss";
@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_typography.scss";

@import "highlight.scss";

@import "partials/header.scss";
@import "partials/breadcrumbs.scss";
@import "partials/footer.scss";
@import "partials/forms.scss";
@import "partials/code.scss";
@import "partials/hero.scss";
@import "partials/card.scss";
@import "partials/cutout.scss";
@import "partials/pagination.scss";
@import "partials/notification.scss";
@import "partials/doc.scss";
@import "partials/tabs.scss";
@import "partials/feedback.scss";
@import "partials/modal.scss";
@import "partials/toc.scss";

@import "layouts/one-column.scss";
@import "layouts/two-column.scss";
@import "layouts/banner.scss";

@import "pages/account.scss";
@import "pages/home.scss";
@import "pages/course-list.scss";
@import "pages/course-overview.scss";
@import "pages/classroom.scss";
@import "pages/achievements.scss";
@import "pages/certificate.scss";
@import "pages/certification.scss";
@import "pages/quiz.scss";
@import "partials/notice.scss";

@import "print.scss";

body {
    // background: linear-gradient(180deg, rgba(217, 240, 255, 0.5) 65.16%, rgba(249, 252, 255, 0) 100%);
    background: #EEF1F7; // Footer background
}

body.browser-loading {
    background: #E3EDF5;
}


.container {
    // max-width: 1280px;
    max-width: 75rem;
    margin: auto;
    padding: 0 $space-4;
}

.main {
    // padding: $space-8 0 20rem;
    background: $neutral-10;
}