@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_typography.scss";

@import "highlight.scss";

@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/forms.scss";
@import "partials/code.scss";
@import "partials/hero.scss";
@import "partials/card.scss";
@import "partials/cutout.scss";
@import "partials/pagination.scss";
@import "partials/notification.scss";
@import "partials/doc.scss";
@import "partials/tabs.scss";
@import "partials/feedback.scss";

@import "layouts/one-column.scss";
@import "layouts/two-column.scss";

@import "pages/account.scss";
@import "pages/home.scss";
@import "pages/course-list.scss";
@import "pages/course-overview.scss";
@import "pages/classroom.scss";
@import "pages/certificate.scss";

// TODO:  Get background image from Joe
body {
    // background: linear-gradient(180deg, rgba(217, 240, 255, 0.5) 65.16%, rgba(249, 252, 255, 0) 100%);
    background: #EEF1F7; // Footer background
}


.container {
    // max-width: 1280px;
    max-width: 1480px;
    margin: auto;
    padding: 0 $padding-horizontal;
}

.main {
    // padding: $spacing-8 0 20rem;
    background: $neutral-10;
}


// .main {
    // padding-top: $header-height;
// }


// @media all and (min-width: $screen-desktop) {
//     .navbar {
//         .navbar-brand .logo-icon,
//         .navbar-burger {
//             display: none;
//         }
//         .navbar-brand {
//             .logo-full,
//             .navbar-brand-text {
//                 display: flex;
//             }
//         }
//     }
// }

// .course {
//     .course-details {
//         display: flex;

//         .course-overview {
//             flex: 1 1 auto;
//             padding-right: $spacing-4;

//             .course-modules {
//                 padding: 0;
//                 margin: 0;
//                 border: 1px solid $neutral-20;
//                 border-radius: $spacing-3;
//                 list-style-type: none;

//                 .course-module {
//                     background-color: $neutral-10;

//                     a {
//                         display: block;
//                         padding: $spacing-3;
//                         color: $primary-color-70;
//                         font-weight: bold;
//                     }

//                     &.module--completed a:after {
//                         display: block;
//                         float: right;
//                         content: "";
//                         height: 16px;
//                         width: 16px;
//                         border-radius: 50%;
//                         background: $mint-color;
//                     }

//                     .course-module-lessons {
//                         padding: 0;
//                         margin: 0 0 $spacing-3;
//                         list-style-type: none;

//                         .course-module-lesson {
//                             background-color: $neutral-10;
//                             font-size: 0.9rem;
//                             border-bottom: 1px solid $neutral-10;

//                             &:last-child {
//                                 border-bottom: 0px none;
//                             }

//                             a {
//                                 color: $primary-color;
//                                 font-weight: normal;
//                                 margin-bottom: 0;
//                                 padding: $spacing-2 $spacing-3;
//                             }

//                             &.lesson--completed a:after {
//                                 display: block;
//                                 float: right;
//                                 content: "";
//                                 height: 16px;
//                                 width: 16px;
//                                 border-radius: 50%;
//                                 background: $mint-color;
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//         .course-actions {
//             flex: 0 0 320px;

//             .card {
//                 width: auto;
//             }
//         }

//         .course-badge {
//             background: $neutral-10;
//             text-align: center;
//             font-size: 1.2rem;
//             padding-top: $spacing-8;
//             img {
//                 max-width: 80%;
//             }
//         }
//     }
// }

// .card-list {
//     display: flex;
// }

// .card {
//     background: $neutral-10;
//     border-radius: $spacing-3;
//     overflow: hidden;
//     width: 320px;
//     margin: $spacing-3;
//     border: 1px solid $neutral-20;

//     .card-image {
//         height: 180px;
//         background-size: cover;
//         background-position: center;
//     }

//     .card-header {
//         padding: $spacing-3 $spacing-3 0;

//         .card-title {
//             margin: 0;
//             font-size: 1rem;

//             a {
//                 color: $primary-color-70;

//                 &:hover {
//                     color: $primary-color;
//                 }
//             }
//         }
//     }

//     .card-body {
//         padding: $spacing-3;

//         .card-caption {
//             color: $neutral-50;
//             font-size: 0.9rem;
//             margin-top: 0;
//         }

//         dl {
//             dt {
//                 color: $neutral-50;
//                 font-weight: bold;
//             }

//             dd {
//                 margin: 0 0 $spacing-2;
//             }
//         }
//     }

//     .btn {
//         display: flex;
//     }
// }

// .btn {
//     display: inline-flex;
//     padding: $spacing-2 $spacing-8;
//     font-weight: 700;
//     color: $neutral-10;
//     background-color: $primary-color;
//     border-radius: 2rem;
//     justify-content: center;
//     border: 0px none;
//     outline: none;

//     span {
//         display: inline-block;
//         margin-left: $spacing-3;
//     }

//     &:hover {
//         background-color: $primary-color-70;
//     }

//     &:active {
//         background-color: $mint-color;
//     }

//     &--loading {
//         background: $neutral-50;
//     }
// }

// .pagination {
//     border-top: 1px solid $primary-color-70;
//     margin: $spacing-8 0 $spacing-8 *2;
//     padding: $spacing-2 $spacing-4;
//     display: flex;
//     justify-content: space-between;

//     .pagination-link {
//         flex: 1;
//     }

//     .pagination-link--next {
//         text-align: right;
//         align-self: flex-end;
//     }

//     .pagination-link-direction {
//         display: block;
//         font-size: 0.7rem;
//     }
// }

// .notification {
//     background-color: $neutral-10;
//     border-radius: $spacing-2;
//     border-left: 4px solid black;
//     padding: $spacing-3;
//     overflow: hidden;
//     margin: $spacing-3;

//     &.positive {
//         background-color: $mint-color-10;
//         border-left-color: $mint-color-70;
//         color: $mint-color-70;
//     }
// }

// form {
//     margin-top: $spacing-4;
//     padding-top: $spacing-4;

//     input {
//         border: 1px solid $neutral-40;
//         background: $neutral-10;
//         padding: $spacing-3 $spacing-2;
//         width: 100%;
//         border-radius: $spacing-2;
//         margin-bottom: 12px;
//         color: $neutral-50;
//     }

//     button {
//         border: 0px none;
//         width: 100%;
//     }
// }


// .module {
//     max-width: 780px;
//     margin: auto;
// }

// .inline-frame {
//     width: 100%;
//     height: 320px;
//     border: 0px none;
// }

// .floated-frame {
//     float: right;
//     border: 0px none;
//     width: 50%;
//     height: 320px;
//     margin: 0 0 $spacing-4 $spacing-4;
// }

// .admonition {
//     border-left: 3px solid $mint-color-70;
//     border-radius: 0.5rem;
//     background: $mint-color-40;
//     padding: 0.5rem 1rem;
//     margin-top: 1rem;

//     a {
//         font-weight: 800;
//     }

//     .admonition-title {
//         // padding-top: $spacing-2;
//         margin-bottom: 0;
//         font-weight: bold;
//         font-size: 0.9rem;
//     }

//     &--tip {
//         border-left-color: $mint-color-70;
//         color: $mint-color-70;

//         .admonition-title {
//             color: $mint-color-70;
//         }

//         a {
//             color: $mint-color-70;
//         }
//     }

//     &--success {
//         border-left-color: $mint-color-70;
//         color: $mint-color-70;

//         .admonition-title {
//             color: $mint-color-70;
//         }

//         a {
//             color: $mint-color-70;
//         }
//     }

//     &--warning {
//         background-color: $secondary-color;
//         border-left-color: $secondary-color;
//         color: $neutral-10;

//         .admonition-title {
//             color: $neutral-10;
//         }

//         a {
//             color: $neutral-10;
//         }
//     }
// }

// .breadcrumbs {
//     border-bottom: 1px solid $neutral-20;
//     padding-bottom: 1rem;
//     margin: 1rem 0 4rem;

//     font-size: 0.9rem;

//     li {
//         display: inline-block;
//         margin-right: 2rem;
//         padding: 0;

//         &:before {
//             display: inline-block;
//             content: ">";
//             margin-right: .5rem;
//             color: $primary-color-70;
//         }

//         a {
//             color: $primary-color;
//             font-weight: bold;
//         }
//     }
// }

// .certificate {
//     margin: auto;
//     width: 820px;
//     // height: 480px;
//     border: 1px solid $neutral-20;
//     background: $neutral-10;
//     border-radius: 1rem;
//     padding: 1rem;

//     .certificate-header {
//         border-bottom: 1px solid $neutral-20;
//         padding-bottom: 1rem;

//         h1 {
//             text-align: right;
//             font-size: 1rem;

//             span {
//                 color: $primary-color-70;
//             }
//         }
//     }

//     .certificate-body {
//         display: flex;
//         padding: 4rem 0;

//         .certificate-badge {
//             width: 50%;
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//             padding: 20px;
//         }

//         .certificate-text {
//             width: 50%;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             text-align: center;
//             padding-right: 60px;

//             p {
//                 margin: $spacing-2 0;
//             }

//             strong {
//                 display: block;
//                 font-size: 1.5rem;
//             }
//         }
//     }
//     .certificate-footer {
//         border-top: 1px solid $neutral-20;
//         padding-top: 1rem;

//         p {
//             text-align: right;
//             color: $neutral-50;
//             font-size: 0.9rem;
//         }
//     }
// }



// code {
//     background: $neutral-10;
//     padding: $spacing-1 $spacing-2;
//     border-radius: 0.5rem;
//     font-size: 0.9em;
// }

// iframe.browser {
//     border: 1px solid $primary-color-70;
//     width: 100%;
//     height: 530px;
// }

// body.browser-loading {
//     background-color: #D2D5D9;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     position: fixed;
//     inset: 0;
//     height: 100%;
//     width: 100%;

//     .loading {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;

//         span {
//             display: block;
//             width: 18px;
//             height: 18px;
//             border-radius: 50%;
//             background: $neutral-10;
//             margin: 8px;
//             animation: fade 2s infinite;
//             opacity: 0;

//             &:nth-child(2) {
//                 animation-delay: .2s;
//             }
//             &:nth-child(3) {
//                 animation-delay: .4s;
//             }
//         }
//     }

// }

// @keyframes fade {
//     0% { opacity: 0 }
//     50% { opacity: .5 }
//     90% { opacity: 0 }
//     100% { opacity: 0 }
// }



// .question .highlight select, .highlight input {
//     display: inline-block;
//     background: #3D4148;
//     color: #DEDFDF;
//     margin: 0;
//     border: 1px solid $neutral-50;
//     outline: none;
// }

// .highlight input {
//     font-size: .9rem;
//     padding: $spacing-1;
//     border-radius: $spacing-1;
// }

// .highlight.has-header {
//     margin-top: 0;

//     .hljs {
//         border-top-left-radius: 0;
//         border-top-right-radius: 0;
//         padding: $spacing-3;
//     }
// }

// .btn-inline-copy {
//     cursor: pointer;
//     border: 1px solid $neutral-20;
//     background: $neutral-10;
//     color: $neutral-50;
//     border-radius: $spacing-2;
//     font-size: 0.8rem;
//     padding: $spacing-1 $spacing-2;
//     font-style: normal;
//     font-weight: bold;
//     font-family: $font-family-monospace;

//     .btn-label {
//         display: inline-block;
//         padding: $spacing-1 $spacing-2;
//         background-color: $neutral-20;
//         border-radius: $spacing-2;
//         margin-left: $spacing-2;
//         font-size: 0.7rem;
//     }
// }

// .summary {
//     display: none;

//     &.summary--visible {
//         display: block;
//     }
// }

// @import "pages/home.scss";
