@import "_normalize.scss";
@import "_variables.scss";
// @import "//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css";

@import "highlight.scss";

* {
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $font-family-sans-serif;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

em {
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px dotted $navy;
}

code,
pre {
    font-family: $font-family-monospace;
}

$burger-width: 22px;

.container {
    max-width: 1280px;
    margin: auto;
}

$header-height: 78px;

.header {
    background: $navy;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    height: $header-height;
    transition: all .2s;
    padding: $padding-md 0;
}

body.transparent-nav {
    .header {
        background: rgba(255, 255, 255, .4);

        a {
            color: $navy;
        }

        .navbar-brand {
            svg {
                * {
                    fill: #000;
                }
                .accent {
                    fill: $blue;
                }
            }
        }

        .navbar-primary {
            padding: $padding-md $padding-xxl;
            background: $blue;
            color: $white;
            border-radius: 1.5rem;
        }

        .navbar-burger {
            span {
                background: $navy;
            }
        }
    }
}

.navbar {
    color: $white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        color: $white;
    }

    .navbar-burger {
        background: transparent;
        border: 0px none;
        flex-direction: row;
        padding: $padding-xl;

        width: $burger-width;
        height: $burger-width;

        span {
            display: block;
            width: $burger-width;
            height: 2px;
            content: "";
            margin: 6px 0;
            background-color: $white;

            &:nth-child(2) {
                width: $burger-width - 8px;
            }

            &:nth-child(3) {
                width: $burger-width - 2px;
            }
        }
    }

    .navbar-brand {
        svg * {
            fill: #fff;
        }
    }

    .navbar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $padding-md;
        position: relative;

        .navbar-link {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-left: $padding-lg;
        }

        .navbar-dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $blue;
            border-radius: $padding-lg;
            font-size: .9rem;
            padding: $padding-sm $padding-lg;

            a {
                color: $white;
            }
        }

        &:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }

    .navbar-brand {
        img {
            height: 48px;
        }

        .navbar-item {
            flex-direction: row;
        }

        .navbar-brand-text {
            display: none;
            justify-content: center;
            flex-direction: column;
            margin-left: $padding-lg;
        }

        .logo-full {
            display: none;
        }
    }

    .navbar-end {
        display: flex;
        height: 100%;

        .navbar-account {
            // border-left: 1px solid $navy-100;
            margin-left: $padding-xl;

            span {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
            }

            img {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                margin-left: $padding-lg;
            }
        }
    }

    .navbar-primary {
        padding: $padding-md $padding-xxl;
        background: $white;
        color: $navy;
        border-radius: 1.5rem;
    }
}

.main {
    padding-top: $header-height;
}


@media all and (min-width: $screen-desktop) {
    .navbar {
        .navbar-brand .logo-icon,
        .navbar-burger {
            display: none;
        }
        .navbar-brand {
            .logo-full,
            .navbar-brand-text {
                display: flex;
            }
        }
    }
}

.course {
    .course-details {
        display: flex;

        .course-overview {
            flex: 1 1 auto;
            padding-right: $padding-xl;

            .course-modules {
                padding: 0;
                margin: 0;
                border: 1px solid $gray-200;
                border-radius: $padding-lg;
                list-style-type: none;

                .course-module {
                    background-color: $gray-100;

                    a {
                        display: block;
                        padding: $padding-lg;
                        color: $navy;
                        font-weight: bold;
                    }

                    &.module--completed a:after {
                        display: block;
                        float: right;
                        content: "";
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        background: $mint;
                    }

                    .course-module-lessons {
                        padding: 0;
                        margin: 0 0 $padding-lg;
                        list-style-type: none;

                        .course-module-lesson {
                            background-color: $white;
                            font-size: 0.9rem;
                            border-bottom: 1px solid $gray-100;

                            &:last-child {
                                border-bottom: 0px none;
                            }

                            a {
                                color: $blue;
                                font-weight: normal;
                                margin-bottom: 0;
                                padding: $padding-md $padding-lg;
                            }

                            &.lesson--completed a:after {
                                display: block;
                                float: right;
                                content: "";
                                height: 16px;
                                width: 16px;
                                border-radius: 50%;
                                background: $mint;
                            }
                        }
                    }
                }
            }
        }

        .course-actions {
            flex: 0 0 320px;

            .card {
                width: auto;
            }
        }

        .course-badge {
            background: $gray-100;
            text-align: center;
            font-size: 1.2rem;
            padding-top: $padding-xxl;
            img {
                max-width: 80%;
            }
        }
    }
}

.card-list {
    display: flex;
}

.card {
    background: $white;
    border-radius: $padding-lg;
    overflow: hidden;
    width: 320px;
    margin: $padding-lg;
    border: 1px solid $gray-200;

    .card-image {
        height: 180px;
        background-size: cover;
        background-position: center;
    }

    .card-header {
        padding: $padding-lg $padding-lg 0;

        .card-title {
            margin: 0;
            font-size: 1rem;

            a {
                color: $navy;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .card-body {
        padding: $padding-lg;

        .card-caption {
            color: $gray-500;
            font-size: 0.9rem;
            margin-top: 0;
        }

        dl {
            dt {
                color: $gray-500;
                font-weight: bold;
            }

            dd {
                margin: 0 0 $padding-md;
            }
        }
    }

    .btn {
        display: flex;
    }
}

.btn {
    display: inline-flex;
    padding: $padding-md $padding-xxl;
    font-weight: 700;
    color: $white;
    background-color: $blue;
    border-radius: 2rem;
    justify-content: center;
    border: 0px none;
    outline: none;

    span {
        display: inline-block;
        margin-left: $padding-lg;
    }

    &:hover {
        background-color: $navy;
    }

    &:active {
        background-color: $mint;
    }

    &--loading {
        background: $gray-500;
    }
}

.pagination {
    border-top: 1px solid $navy;
    margin: $padding-xxl 0 $padding-xxl *2;
    padding: $padding-md $padding-xl;
    display: flex;
    justify-content: space-between;

    .pagination-link {
        flex: 1;
    }

    .pagination-link--next {
        text-align: right;
        align-self: flex-end;
    }

    .pagination-link-direction {
        display: block;
        font-size: 0.7rem;
    }
}

.notification {
    background-color: $white;
    border-radius: $padding-md;
    border-left: 4px solid black;
    padding: $padding-lg;
    overflow: hidden;
    margin: $padding-lg;

    &.positive {
        background-color: $mint-100;
        border-left-color: $mint-800;
        color: $mint-900;
    }
}

form {
    margin-top: $padding-xl;
    padding-top: $padding-xl;

    input {
        border: 1px solid $gray-400;
        background: $gray-100;
        padding: $padding-lg $padding-md;
        width: 100%;
        border-radius: $padding-md;
        margin-bottom: 12px;
        color: $gray-500;
    }

    button {
        border: 0px none;
        width: 100%;
    }
}

.classroom {
    .header .container {
        max-width: none;
    }
}

.lesson {
    display: flex;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;

    &--completed {
        #_check_your_understanding,
        .question,
        .btn.btn-submit,
        .verify,
        input#read {
            display: none;
        }
    }



    .toc {
        flex: 0 0 280px;
        overflow: auto;
        height: 100%;
        background: $navy-500;
        color: $white;

        a {
           color: $white;
        }

        .toc-title {
            font-size: 1rem;
            padding: $padding-lg;

            a {
                color: $white;
            }
        }

        .toc-module {
            .toc-module-header {
                font-size: 1rem;
                padding: $padding-lg;
                background: $navy;
                margin: $padding-sm 0 0;

                a {
                    color: $blue-300;
                    display: block;
                }
            }
        }

        .toc-module-lessons {
            list-style-type: none;
            margin: 0 0 $padding-lg;
            padding: 0;
            font-size: 0.8rem;

            .toc-module-lesson {
                padding: $padding-sm $padding-lg;

                &--completed:after {
                    display: block;
                    float: right;
                    content: "";
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: $mint;
                }

                &--current {
                    font-weight: bold;
                    background-color: $navy-400;
                }
            }
        }
    }

    .lesson-content {
        flex: 1 1 100%;
        padding: $padding-sm $padding-xl;
        overflow: auto;

        .lesson-content-container {
            max-width: 800px;
            margin: auto;
        }
    }

    &--completed .lesson-content {
        padding-bottom: 4rem;
    }

    .lesson-sandbox {
        position: relative;
        flex: 0 0 1px;
        border-left: 1px solid $gray-100;
        background: #D2D5D9;

        &.lesson-sandbox--visible {
            flex: 0 0 40%;
        }

        .lesson-sandbox-toggle {
            $toggle-width: 8rem;

            position: absolute;
            bottom: 1rem;
            left: -$toggle-width;
            margin-right: -1px;
            cursor: pointer;

            width: $toggle-width;
            background: $blue;
            border: 0px none;
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
            color: $white;
            font-weight: bold;
            padding: $padding-lg $padding-sm $padding-lg $padding-lg;
            font-size: .8rem;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0px none;
        }
    }
}

.course-completed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $navy;
    color: $white;
    padding: 0 $padding-lg;

    a {
        background: $blue-600;
        color: $white;
        padding: $padding-md $padding-xxl;
        margin-left: $padding-xl;
        display: block;
        border-radius: $padding-xxl;
        font-size: 0.9rem;
        float: right;
        margin-top: -0.45rem;
        font-weight: bold;
    }
}

.module {
    max-width: 780px;
    margin: auto;
}

.inline-frame {
    width: 100%;
    height: 320px;
    border: 0px none;
}

.floated-frame {
    float: right;
    border: 0px none;
    width: 50%;
    height: 320px;
    margin: 0 0 $padding-xl $padding-xl;
}

.admonition {
    border-left: 3px solid $mint-800;
    border-radius: 0.5rem;
    background: $mint-400;
    padding: 0.5rem 1rem;
    margin-top: 1rem;

    a {
        font-weight: 800;
    }

    .admonition-title {
        // padding-top: $padding-md;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 0.9rem;
    }

    &--tip {
        border-left-color: $mint-800;
        color: $mint-800;

        .admonition-title {
            color: $mint-800;
        }

        a {
            color: $mint-900;
        }
    }

    &--success {
        border-left-color: $mint-800;
        color: $mint-800;

        .admonition-title {
            color: $mint-800;
        }

        a {
            color: $mint-900;
        }
    }

    &--danger {
        background-color: $red;
        border-left-color: $red;
        color: $white;

        .admonition-title {
            color: $white;
        }

        a {
            color: $white;
        }
    }
}

.breadcrumbs {
    border-bottom: 1px solid $gray-200;
    padding-bottom: 1rem;
    margin: 1rem 0 4rem;

    font-size: 0.9rem;

    li {
        display: inline-block;
        margin-right: 2rem;
        padding: 0;

        &:before {
            display: inline-block;
            content: ">";
            margin-right: .5rem;
            color: $navy;
        }

        a {
            color: $blue;
            font-weight: bold;
        }
    }
}

.certificate {
    margin: auto;
    width: 820px;
    // height: 480px;
    border: 1px solid $gray-200;
    background: $white;
    border-radius: 1rem;
    padding: 1rem;

    .certificate-header {
        border-bottom: 1px solid $gray-200;
        padding-bottom: 1rem;

        h1 {
            text-align: right;
            font-size: 1rem;

            span {
                color: $navy;
            }
        }
    }

    .certificate-body {
        display: flex;
        padding: 4rem 0;

        .certificate-badge {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px;
        }

        .certificate-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-right: 60px;

            p {
                margin: $padding-md 0;
            }

            strong {
                display: block;
                font-size: 1.5rem;
            }
        }
    }
    .certificate-footer {
        border-top: 1px solid $gray-200;
        padding-top: 1rem;

        p {
            text-align: right;
            color: $gray-500;
            font-size: 0.9rem;
        }
    }
}

.question {
    &--correct {
        h3 {
            color: $mint-800;
        }
    }

    &--incorrect {
        h3 {
            color: $red;
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;

            p {
                display: inline;
            }
        }
    }

    .question-option {
        border: 1px solid $gray-200;
        border-radius: 0.5rem;
        background: $white;
        margin-bottom: $padding-md;

        label {
            cursor: pointer;
            display: block;
            padding: $padding-lg;
        }

        input {
            margin-right: $padding-lg;
        }

        &--correct {
            color: $mint-800;
            background: $mint-100;
            border-color: $mint-800;
            font-weight: bold;
        }

        &--incorrect {
            color: $red;
            background: $red-100;
            border-color: $red;
            font-weight: bold;
        }
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $navy;
        border: 1px solid $navy;
        background: $white;
        padding: $padding-md $padding-lg;
        border-radius: .25rem;
        margin-bottom: $padding-xxl;
    }

    .admonition-show--visible {
        display: block;
    }

    .admonition {
        display: none;
        margin-bottom: $padding-xxl;

        &--visible {
            display: block;
        }
    }
}
.verify {
    .admonition {
        display: none;

        &--visible {
            display: block;
        }
    }

    .admonition-show {
        cursor: pointer;
        display: none;
        font-size: 0.9rem;
        font-weight: bold;
        color: $navy;

        &--visible {
            display: block;
        }
    }
}

/* Dropdown menus inside a code block */
.question {
    pre select {
        padding: $padding-sm $padding-md;
        background: $white;
        border: 1px solid $navy;
        border-radius: 0.25rem;
        margin: 0 $padding-md;
        outline: none;
    }
    input[type="text"] {
        width: 100%;
        padding: $padding-md $padding-lg;
        border-radius: 0.25rem;
        border: 1px solid $navy;
        margin-bottom: $padding-lg;
    }
}

code {
    background: $gray-100;
    padding: $padding-sm $padding-md;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

iframe.browser {
    border: 1px solid $navy;
    width: 100%;
    height: 530px;
}

body.browser-loading {
    background-color: #D2D5D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;

    .loading {
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $white;
            margin: 8px;
            animation: fade 2s infinite;
            opacity: 0;

            &:nth-child(2) {
                animation-delay: .2s;
            }
            &:nth-child(3) {
                animation-delay: .4s;
            }
        }
    }

}

@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: .5 }
    90% { opacity: 0 }
    100% { opacity: 0 }
}

.code-header {
    background: #3D4148;
    color: $mint;
    font-family: $font-family-monospace;
    padding: $padding-md $padding-lg;
    margin: 1rem -$padding-lg 0 0;
    font-size: .8rem;
    display: flex;
    border-top-left-radius: $padding-md;
    border-top-right-radius: $padding-md;

    .code-title {
        color: $white;
        padding: $padding-md $padding-lg 0 0;
    }

    .code-language {
        flex-grow: 1;
        padding: $padding-md 0 0;
    }

    .btn {
        background: transparent;
        font-weight: normal;
        margin-left: $padding-md;
        cursor: pointer;
        padding: $padding-md $padding-md;

        &.btn-play {
            color: $mint;
            font-weight: bold;
            // background: $gray-500;
        }
    }

}

.question .highlight select, .highlight input {
    display: inline-block;
    background: #3D4148;
    color: #DEDFDF;
    margin: 0;
    border: 1px solid $gray-500;
    outline: none;
}

.highlight input {
    font-size: .9rem;
    padding: $padding-sm;
    border-radius: $padding-sm;
}

.highlight.has-header {
    margin-top: 0;

    .hljs {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: $padding-lg;
    }
}

.btn-inline-copy {
    cursor: pointer;
    border: 1px solid $gray-200;
    background: $gray-100;
    color: $gray-500;
    border-radius: $padding-md;
    font-size: 0.8rem;
    padding: $padding-sm $padding-md;
    font-style: normal;
    font-weight: bold;
    font-family: $font-family-monospace;

    .btn-label {
        display: inline-block;
        padding: $padding-sm $padding-md;
        background-color: $gray-200;
        border-radius: $padding-md;
        margin-left: $padding-md;
        font-size: 0.7rem;
    }
}

@import "pages/home.scss";