mixin completed(percentage, isCertification)
  .course-completed-label
    span.label.label--success
      svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M2.31836 12C2.31836 6.61522 6.68358 2.25 12.0684 2.25C17.4531 2.25 21.8184 6.61522 21.8184 12C21.8184 17.3848 17.4531 21.75 12.0684 21.75C6.68358 21.75 2.31836 17.3848 2.31836 12ZM15.6787 10.1859C15.9194 9.84887 15.8413 9.38046 15.5043 9.1397C15.1672 8.89894 14.6988 8.97701 14.4581 9.31407L11.2227 13.8436L9.59869 12.2197C9.3058 11.9268 8.83092 11.9268 8.53803 12.2197C8.24514 12.5126 8.24514 12.9874 8.53803 13.2803L10.788 15.5303C10.9439 15.6862 11.1605 15.7656 11.3802 15.7474C11.5999 15.7293 11.8005 15.6153 11.9287 15.4359L15.6787 10.1859Z' fill='white')
      if isCertification
        | Score: !{percentage || 100 }%
      else
        | !{percentage || 100 }% Completed
    span.course-completed-label-neo4j-check
      | !{svg.iconCourseCompleted}