mixin date(datetime)
  if datetime
    time(datetime=new Date(datetime).toISOString())
      |
      | #{new Intl.DateTimeFormat('en-US', {dateStyle: 'long'}).format( new Date(datetime.toString()) )}
