mixin horizontalControls()
  .horizontal-controls
    .horizontal-control.horizontal-control--left
      | !{svg.chevronLeft}
    .horizontal-control.horizontal-control--right
      | !{svg.chevronRight}