mixin progress(course)
  if course.completed
    .progress-container.progress-container--completed
      .progress-bar
        .progress-bar-container
          span(style=`width: 100%`) 100%

      .progress-percentage 100%
  else if course.enrolled
    .progress-container
      .progress-bar
        .progress-bar-container
          span(style=`width: ${course.completedPercentage}%`) #{course.completedPercentage}%

      .progress-percentage #{Math.round(course.completedPercentage)}%