.breadcrumbs {
    margin: 0;
    padding: $space-4 0 0;
    background-color: $colors-neutral-15;

    @include max($breakpoints-md) {
        display: none;
    }

    .breadcrumb-list {
        margin: 0;
        padding: 0;

        .breadcrumb {
            @extend .body-small;

            display: inline-block;
            list-style-type: none;

            a {
                font-weight: normal;
                color: $colors-neutral-70;

                &:hover {
                    color: $colors-neutral-60;
                    text-decoration: underline;
                }

                &:before {
                    content: "→";
                    display: inline-block;
                    margin: 0 $space-2 0 $space-4;
                    // color: $colors-neutral-50;
                }
            }


            &:first-child {
                a::before {
                    display: none;
                }
            }

            &:last-child {
                a {
                    color: $colors-primary-50;

                    &:hover {
                        color: $colors-primary-60;
                    }
                }
            }
        }
    }
}