.breadcrumbs {
    margin: 0;
    padding: $space-4 0 0;
    background-color: $primary-color-10;

    @include max($screen-tablet) {
        display: none;
    }

    .breadcrumb-list {
        margin: 0;
        padding: 0;

        .breadcrumb {
            @extend .body-small;

            display: inline-block;
            list-style-type: none;

            a {
                font-weight: normal;
                color: $neutral-40;

                &:hover {
                    color: $neutral-50;
                    text-decoration: underline;
                }

                &:before {
                    content: "→";
                    display: inline-block;
                    margin: 0 $space-2 0 $space-4;
                    // color: $neutral-50;
                }
            }


            &:first-child {
                a::before {
                    display: none;
                }
            }

            &:last-child {
                a {
                    color: $primary-color-50;

                    &:hover {
                        color: $primary-color-60;
                    }
                }
            }
        }
    }
}