.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: $space-8;
    background: $colors-neutral-10;
    border: 1px solid $palette-light-neutral-border-weak;
    border-radius: $space-2;
    position: relative;
    transition: all .1s linear;
    width: 100%;

    .card-header {
        order: 1;
        padding: $space-4 $space-4;
        width: 100%;
    }

    .card-illustration {
        position: absolute;
        top: $space-2;
        right: $space-2;
        z-index: 0;
        overflow: hidden;
        width: 166px;
        height: 131px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg,
        img {
            z-index: 10;
            position: relative;
        }
    }

    .card-status {
        flex: 0 0 120px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: $space-8 $space-4 0;
    }

    .course-achieved {
        @extend .body-small;
        color: $colors-neutral-50;
        padding: $space-4 $space-4 0;
        order: 4;
    }

    .card-spacer {
        flex: 0 1 auto;
    }

    .course-points {
        margin: 0;
        padding: 0;

        li {
            padding-left: $space-6;
            list-style-type: none;
            background: url(../img/static/icons/check.svg) no-repeat 0px 4px;

            p {
                margin: 0;
            }
        }

    }

    .card-body {
        z-index: 10;
        order: 2;
        padding: $space-4 $space-4;
        width: 100%;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-direction: column;

        .card-title {
            @extend .heading-5;
            font-weight: 600;
            color: $colors-neutral-80;
            margin: 0 0 $space-2;
            width: 100%;

            a {
                display: block;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: "";
                    z-index: 0;
                }
            }
        }

        .card-caption {
            display: flex;
            order: 3;
            flex-grow: 1;
            color: $colors-neutral-80;
        }
    }

    .card-meta {
        order: 3;
        padding: 0 $space-4;

        .meta-list {
            display: flex;
            flex-direction: row;
            margin: 0;

            dt {
                span {
                    display: none;
                }
            }

            dd {
                margin-left: $space-2;
                border-right: 1px solid $palette-light-neutral-border-strong;
                padding-right: $space-2;
                margin-right: $space-2;
                font-size: 0.85rem;
                color: $colors-neutral-50;

                &:last-child {
                    border-right: 0px none;
                }
            }
        }
    }

    .card-footer {
        width: 100%;
        z-index: 10;
        order: 4;
        padding: 0;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $palette-light-neutral-text-weaker;
        padding: $space-4;

        .meta-list {
            display: flex;
            flex-direction: row;
            margin: 0;

            dt {
                display: none;
            }

            dd {
                margin-left: 0;
                border-right: 1px solid $palette-light-neutral-border-strong;
                padding-right: $space-2;
                margin-right: $space-2;

                &:last-child {
                    border-right: 0px none;
                }
            }
        }


        a {
            span {
                display: none;
            }
        }
    }

    .card-action {
        display: block;
        font-weight: 400;
        color: $colors-neutral-70;

        // @extend .arrow-after;

        &:hover {
            color: $colors-primary-50;

            &:after {
                margin-left: $space-4;
                margin-right: -$space-2;
            }
        }

        &.card-action--continue {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;

            }
        }


    }

    &.card--developer {

        .card-illustration svg,
        .card-illustration img {
            transform: none;
        }
    }
}