.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: $space-8;
    background: $colors-neutral-10 url('../img/static/card-bg.png') no-repeat top right;
    border: 1px solid $colors-neutral-40;
    border-radius: $space-2;
    position: relative;
    transition: all .1s linear;

    .card-header {
        order: 1;
        padding: $space-4 $space-4;
        width: 100%;
    }

    .card-badge {
        float: right;
        position: absolute;
        top: $space-4;
        right: $space-4;
        z-index: 0;

        svg {
            width: $space-16;
            height: $space-16;
            z-index: 10;
            position: relative;
        }
    }

    .card-illustration {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;
        height: 120px;
        display: flex;
        align-items: center;

        svg,
        img {
            z-index: 10;
            position: relative;
            transform: translate(20px, 0);
        }
    }

    &.neo4j-fundamentals {
        .card-illustration svg {
            transform: none;
        }
    }

    .course-points {
        margin: 0;
        padding: 0;

        li {

            padding-left: $space-6;
            list-style-type: none;
            background: url(../img/static/icons/check.svg) no-repeat 0px 4px;

            p {
                margin: 0;
            }
        }

    }

    .meta {
        width: 100%;

        .meta-list {
            margin: 0;
            color: $colors-neutral-40;

            .meta-list-term {
                margin: 0 $space-2 0 0;
                clear: both;
                float: left;
            }

            .meta-list-definition {
                margin: 0 $space-4 0 0;
                color: $colors-neutral-80;

                &:after {
                    content: "\a";
                    white-space: pre;
                }
            }

            span {
                display: none;
            }
        }

        dd {
            align-items: center;
        }
    }

    .card-body {
        z-index: 10;
        order: 2;
        padding: $space-4 $space-4;
        width: 100%;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-direction: column;

        .card-title {
            @extend .heading-5;
            font-weight: 600;
            color: $colors-neutral-90;
            margin: 0;
            width: 100%;

            &:before {
                float: right;
                display: block;
                width: $space-16;
                height: $space-16;
                content: "";
            }

            a {
                display: block;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: "";
                    z-index: 0;
                }
            }
        }

        .card-caption {
            display: flex;
            order: 3;
            margin-bottom: $space-4;
            flex-grow: 1;
            color: $colors-neutral-90;
        }
    }

    .card-meta {
        order: 3;
        padding: 0 $space-4;
    }

    .card-status {
        order: 1;
        padding: $space-4 $space-4 0;


        .label {
            padding: 0 $space-2;
            background-color: $colors-neutral-20;
            border: 1px solid $colors-neutral-40;
            border-radius: $border-radius-2xl;
            color: $colors-neutral-80;
            display: inline-flex;
            align-items: center;

            &:before {
                content: "";
                // display: inline-block;
                margin-right: $space-2;
                width: 9px;
                height: 9px;
                border-radius: $border-radius-sm;
                background: $colors-neutral-60;
            }
        }

        flex: 0;
        // width: 100%;
        z-index: 20;

        display: flex;
        align-items: center;

        @extend .body-small;
        font-weight: 600;

        svg {
            margin-right: $space-2;
        }
    }

    .card-footer {
        width: 100%;
        z-index: 10;
        order: 4;
        // @extend .body-small;
        padding: 0;
        flex: 0 0 auto;
        text-align: right;

        a {
            align-items: flex-end;
            display: inline-flex;
            padding: $space-4;
        }
    }

    .card-action {
        display: block;
        font-weight: 400;
        color: $colors-neutral-70;

        // @extend .arrow-after;

        &:hover {
            color: $colors-primary-50;

            &:after {
                margin-left: $space-4;
                margin-right: -$space-2;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            z-index: 0;
        }
    }

    &.card--success {
        border: 1px solid $colors-success-50;
        background: $colors-success-10;

        .label {
            color: $colors-neutral-10;
            background-color: $colors-success-50;

            &::before {
                background-color: $colors-neutral-10;
                border-radius: 50%;
            }
        }

        a:hover {
            color: $colors-success-70
        }
    }

    &.card--developer {

        .card-illustration svg,
        .card-illustration img {
            transform: none;
        }
    }
}