.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: $space-8;
    background: $neutral-15;
    // box-shadow: 0px 0px 2px rgba(52, 58, 67, 0.1), 0px 1px 2px rgba(52, 58, 67, 0.08), 0px 1px 4px rgba(52, 58, 67, 0.08);
    box-shadow: $box-shadow-l2;
    border-radius: $space-2;
    position: relative;
    // overflow: hidden;

    &.card--success {
        background: $colors-success-20;
        color: $neutral-55;

        .card-badge {
            &:before {
                background-color: $colors-success-30;
                opacity: .3;
            }

            &:after {
                background-color: $colors-success-40;
                opacity: .6;
            }

            #sm {
                fill: $colors-success-50
            }

            #md {
                fill: $colors-success-60
            }

            #lg {
                fill: $colors-success-70
            }
        }

        &:hover {
            // background: $colors-success-30;

            .card-badge {
                &:before {
                    background-color: $colors-success-40;
                }

                &:after {
                    background-color: $colors-success-50;
                }
            }
        }

        .card-title,
        a,
        .card-meta,
        .meta {
            color: $neutral-55;
        }

        a:hover {
            color: $colors-success-70;
        }

        .card-meta {
            .card-meta-list {
                color: $neutral-55;
            }

            path {
                fill: $neutral-55;
            }
        }


        .progress-indicator {
            fill: $neutral-10;

            // path {
            //     fill: $neutral-10;
            // }
            // stroke: $neutral-10;
        }
    }

    .card-header {
        order: 1;
        padding: $space-4 $space-4;
        width: 100%;
    }

    .card-badge {
        float: right;
        position: absolute;
        top: $space-4;
        right: $space-4;
        z-index: 0;

        svg {
            width: $space-16;
            height: $space-16;
            z-index: 10;
            position: relative;
        }

        @include circles;

        // &:before {
        //     width: $space-64;
        //     height: $space-64;
        //     margin-left: $space-8 - $space-32;
        //     margin-top: $space-8 - $space-32;
        //     background-color: transparent;
        //     border: 1px dashed $neutral-20;
        // }

        // &:after {
        //     width: $space-32;
        //     height: $space-32;
        //     margin-left: $space-8 - $space-16;
        //     margin-top: $space-8 - $space-16;
        //     // background-color: $neutral-20;
        //     border: 1px dashed $neutral-25;
        // }

    }

    transition: all .1s linear;

    &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-l4;

        // .card-badge {
        //     &:before {
        //         background-color: $colors-primary-10;
        //     }

        //     &:after {
        //         background-color: $colors-primary-20;
        //     }
        // }
    }

    .card-body {
        z-index: 10;
        order: 2;
        padding: $space-4 $space-4;
        width: 100%;
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        flex-direction: column;

        .card-title {
            @extend .heading-3;
            font-weight: 600;
            color: $neutral-65;
            margin: 0;

            &:before {
                float: right;
                display: block;
                width: $space-16;
                height: $space-8;
                content: "";
            }

            a {
                display: block;

                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: "";
                    z-index: 0;
                }
            }
        }
    }

    .card-caption {
        display: flex;
        align-items: flex-end;
        order: 3;
        padding: 0 $space-4;
        margin-bottom: $space-4;
        flex-grow: 1;
        color: $neutral-50;
    }

    .card-meta {
        order: 3;
        padding: 0 $space-4;
    }

    .card-status {
        order: 1;
        padding: $space-4 $space-4 0 $space-4;
        flex: 0 0 auto;
        width: 100%;
        z-index: 20;

        display: flex;
        align-items: center;

        @extend .body-small;
        font-weight: 600;

        svg {
            margin-right: $space-2;
        }
    }

    .card-footer {
        width: 100%;
        z-index: 10;
        order: 4;
        // @extend .body-small;
        padding: 0;
        flex: 0 0 auto;
        text-align: right;

        a {
            align-items: flex-end;
            display: inline-flex;
            padding: $space-4;
        }
    }

    .card-action {
        font-weight: 600;

        @extend .arrow-after;

        // &:after {
        //     content: "→";
        //     display: inline-block;
        //     margin-left: $space-2;
        //     transition: margin .3s linear;
        // }

        &:hover {
            color: $colors-primary-50;

            &:after {
                margin-left: $space-4;
                margin-right: -$space-2;
            }

        }
    }


}