.conversation {
  .conversation-form {
    margin-top: $space-2;

    border: 1px solid $colors-neutral-50;
    border-radius: $border-radius-md;
    background-color: $colors-neutral-10;
    padding: $space-2;

    display: flex;


    textarea {
      flex-grow: 1;
      border: 0px none;
      height: $space-12 + $space-4;

      &:focus {
        outline: none;
      }
    }

    .btn {
      flex-grow: 0;
      border-width: 0;
      padding: 0;
      margin-right: 0 !important;
    }
  }

  .conversation-message {
    @extend .body-small;

    // border: 1px solid $palette-light-neutral-border-strong;
    border-radius: $border-radius-md;
    padding: $space-2;
    margin: $space-4;
    position: relative;

    &:before {
      content: "";
      width: 12px;
      height: 8px;
      right: 58px;
      z-index: 9999999999;
      overflow: auto;
      top: 12px;
      background: $colors-neutral-40;

      clip-path: polygon(0 0, 100% 0, 0 100%);
      transform: translateX(-50%) rotate(-45deg);
      position: absolute;
      z-index: 0;
      background-color: inherit;
    }

    &--human {
      margin-left: $space-12;
      margin-right: $space-4;
      background-color: $colors-neutral-15;


      time {
        color: $colors-primary-50 !important;
      }

      &:before {
        transform: translateX(-50%) rotate(130deg);
        right: -12px;
        top: 6px;
      }
    }

    select {
      width: 100%;
    }

    &--error {
      margin-left: $space-12;
      margin-right: $space-4;
      background-color: $colors-danger-10;
      color: $colors-danger-70;

      time {
        color: $colors-danger-50 !important;
      }

      &:before {
        transform: translateX(-50%) rotate(130deg);
        right: -12px;
        top: 6px;
      }
    }

    &--tool {
      margin-right: $space-12;
      margin-left: $space-4;
      background: $colors-success-10;
      color: $colors-primary-70;

      &:before {
        display: none;
      }

      details {
        margin: 0;
        border: 0px none;
        padding: 0;
        background: transparent;
        overflow: auto;
        max-height: 200px;
      }
    }

    &--ai {
      margin-right: $space-12;
      margin-left: $space-4;
      background: $colors-primary-10;
      color: $colors-primary-70;

      &:before {
        transform: translateX(-50%) rotate(-45deg);
        left: 0px;
        top: 6px;
      }
    }

    p {
      margin: 0 0 $space-2;
      line-height: 1.5;
    }

    time {
      color: $colors-neutral-60;
      font-size: 0.8em;
    }

    .conversation-message-meta {
      display: flex;

      .conversation-message-timestamp {
        flex-grow: 1;
      }
    }

    .conversation-clarification-form {
      margin-top: $space-4;

      select {
        padding: $space-2;
      }

      .conversation-clarification-label {
        font-weight: bold;
        font-size: 0.8rem;
      }
    }

    .btn--feedback {
      border: 0px none;
      margin-left: $space-2;
      background-color: transparent;
    }


    code {
      background-color: $colors-neutral-10;
      padding: 0 $space-2;
    }

    pre {
      padding: $space-2;
      border-radius: $border-radius-md;
    }

    pre, code {
      background-color: $colors-neutral-10; 

      // padding: $space-2;

      // code {
      //   padding: 0;
      // }
    }
  }

  .code-container {
    position: relative;
    padding: 0;
    background-color: $colors-neutral-10;
    border-radius: $border-radius-md;

    code {
      padding: $space-2;
    }

    .btn-copy {
      position: absolute;
      top: $space-2;
      right: $space-2;
      z-index: 1;
      padding: $space-1 $space-2;
      background: $colors-neutral-10;
      border: 1px solid $colors-neutral-30;
      color: $colors-neutral-70;
      border-radius: $border-radius-sm;
      font-size: .8rem;
      cursor: pointer;
      display: none;

      &:hover {
        background: $colors-neutral-10;
      }
    }

    &:hover .btn-copy {
      display: block;
    }
  }


  .conversation-thinking {
    display: flex;
    width: 80px;
    justify-content: center;
    margin: 0 auto $space-4;
    background-color: $colors-primary-10;
    line-height: 1;
    border-radius: $border-radius-md;
    padding: $space-3;

    span {
      display: inline-block;
      text-indent: -9999px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $colors-primary-40;
      color: $colors-primary-50;
      margin: 0 $space-1;
      animation: fade-in-out 1s infinite;


      &:nth-child(0) {
        animation-delay: 0;
      }

      &:nth-child(1) {
        animation-delay: 0.3s;
      }

      &:nth-child(2) {
        animation-delay: 0.6s;
      }
    }
  }
}