/* Dropdown menus inside a code block */
.question {
    pre select {
        padding: $space-1 $space-2;
        background: $colors-neutral-10;
        border: 1px solid $colors-primary-70;
        border-radius: 0.25rem;
        margin: 0 $space-2;
        outline: none;
    }

    input[type="text"] {
        width: 100%;
        padding: $space-2 $space-3;
        border-radius: 0.25rem;
        border: 1px solid $colors-primary-70;
        margin-bottom: $space-3;
    }
}

code {
    background: $colors-neutral-15;
    padding: $space-1 $space-2;
    border-radius: 0.5rem;
    font-size: 0.9em;
}

.code-header {
    background: $colors-neutral-60;
    color: $colors-primary-10;
    padding: $space-2 $space-3;
    margin: 1rem -$space-3 0 0;
    font-size: .8rem;
    display: flex;
    border-top-left-radius: $space-2;
    border-top-right-radius: $space-2;
    line-height: 1;

    .code-title {
        display: flex;
        align-items: center;
        color: $colors-neutral-15;
        font-weight: 600;
        padding: $space-2 $space-3;

        &:before {
            display: inline-block;
            margin-right: $space-2;
        }
    }

    .code-language {
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: $space-2 $space-3 $space-2 0;
    }

    .code-language:not(:empty) {
        padding: $space-2 $space-2 $space-2 0;

        &:after {
            content: ": "
        }
    }

    .code-header-spacer {
        flex-grow: 1;
    }

    .btn {
        background: transparent !important;
        border: 0px none !important;
        font-weight: normal;
        margin-left: $space-2;
        margin-bottom: 0 !important;
        cursor: pointer;
        padding: $space-2 $space-2 !important;
        color: $colors-neutral-10;
        line-height: 1;
        justify-content: flex-end;
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
            margin-right: $space-2;
        }

        &.btn-play {
            color: $colors-neutral-15;
            font-weight: bold;
            font-weight: 600;
            // background: $colors-neutral-50;
        }

        &.btn-copy {
            color: $colors-neutral-15;
            font-weight: 400;


        }
    }
}

.question .highlight select,
.highlight input {
    display: inline-block;
    background: #3D4148;
    color: #DEDFDF;
    margin: 0;
    border: 1px solid $colors-neutral-50;
    outline: none;
}

.highlight input {
    font-size: .9rem;
    padding: $space-1;
    border-radius: $space-1;
}

.highlight.has-header {
    margin-top: 0;

    .hljs {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: $space-3;
    }
}