.context-menu-container {
    position: relative;

    .context-menu-icon {
        cursor: pointer;
    }

    .context-menu {
        display: none;
        position: absolute;
        top: 120%;
        right: 0;

        background: $colors-neutral-10;
        box-shadow: $box-shadow-l4;
        border: 1px solid $colors-neutral-30;
        border-radius: $border-radius-lg;
        padding: $space-2;
        width: 180px;

        .context-menu-item {
            display: block;
            font-weight: normal;
            padding: $space-2;
            color: $colors-neutral-80;

            @extend .body-small;

            &:hover {
                color: $colors-primary-70;
            }

            &--danger {
                color: $colors-danger-60;

                &:hover {
                    color: $colors-danger-70;
                }
            }
        }
    }

    &--active {
        .context-menu {
            display: block;
        }
    }
}