@include min($breakpoints-md) {
    .cutout-spacing-bottom {
        padding-bottom: 12rem;
    }
}

.cutout-container {
    background: $colors-neutral-10;
    padding: $space-12 0;
}

.cutout {
    background-color: $colors-primary-40;
    color: $colors-neutral-10;
    padding: $space-4 $space-4 $space-8;
    margin: auto;

    @include min($breakpoints-md) {
        border-radius: $border-radius-md;
        // width: 90%;
        max-width: $breakpoints-xl;
        // transform: translateY(-50%);
        text-align: left;
        padding: $space-6 $space-12;

        display: flex;
        justify-content: space-between;


        .cutout-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 0;
        }

        .cutout-action {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 0;
        }
    }

    strong {
        color: $colors-primary-10;
    }

    .btn {
        display: inline-block;
        border-radius: $border-radius-md;
        background-color: $colors-neutral-10;
        color: $colors-neutral-60;
        padding: $space-4 $space-12;
        font-weight: 600;
    }

    h2 {
        margin: $space-8 0 $space-4;
        font-weight: 600;
        color: inherit;
    }

    ul {
        margin: 0 0 $space-8 0;
        padding: 0;

        li {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
            margin-bottom: $space-2;

            svg {
                margin-right: $space-2;
            }
        }

        @include min($breakpoints-md) {
            li {
                display: inline-flex;
                font-weight: 600;

                &:after {
                    display: block;
                    width: $space-12;
                    height: 1px;
                    content: " ";
                    border-bottom: 1px dashed $colors-neutral-10;
                    margin: $space-3 $space-2 0 $space-2;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}