
@include min($screen-tablet) {
    .cutout-spacing-bottom {
        padding-bottom: 12rem;
    }
}

.cutout-container {
    background: $neutral-10;
    padding: $spacing-12 0;
}

.cutout {
    background-color: $primary-color;
    color: $neutral-10;
    padding: $padding-vertical $padding-horizontal $spacing-8;
    margin: auto;



    @include min($screen-tablet) {
        border-radius: $radius-sm;
        // width: 90%;
        max-width: $screen-desktop;
        // transform: translateY(-50%);
        text-align: center;
    }

    strong {
        color: $primary-color-10;
    }

    .btn {
        display: inline-block;
        border-radius: $radius-sm;
        background-color: $neutral-10;
        color: $neutral-65;
        padding: $spacing-4 $spacing-12;
        font-weight: 600;
    }

    h2 {
        margin: $spacing-8 0 $spacing-4;
        font-weight: 600;
        color: inherit;
    }

    ul {
        margin: 0 0 $spacing-8 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin-bottom: $spacing-2;

            svg {
                margin-right: $spacing-2;
            }
        }

        @include min($screen-tablet) {
            li {
                display: inline-flex;

                &:after {
                    display: block;
                    width: $spacing-12;
                    height: 1px;
                    content: " ";
                    border-bottom: 1px dashed $neutral-10;
                    margin: 0 $spacing-4 0 $spacing-2;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}
