
@include min($screen-tablet) {
    .cutout-spacing-bottom {
        padding-bottom: 12rem;
    }
}

.cutout {
    background-color: $primary-color-70;
    color: $neutral-10;
    margin: auto;
    padding: $padding-vertical $padding-horizontal;

    background-image: url(/img/cutout-right.png), url(/img/cutout-left.png);
    background-position: top right, top left;
    background-repeat: no-repeat;


    @include min($screen-tablet) {
        border-radius: $radius-sm;
        width: 90%;
        max-width: 1200px;
        transform: translateY(-50%);
        text-align: center;
    }

    strong {
        color: $primary-color-30;
    }

    .btn {
        display: inline-block;
        border-radius: $radius-sm;
        background-color: $primary-color;
        color: $neutral-10;
        padding: $spacing-2 $spacing-8;
        font-weight: 600;
    }

    h2 {
        margin-bottom: $spacing-4;
        font-weight: 600;
        color: inherit;
    }

    ul {
        margin: 0 0 $spacing-8 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin-bottom: $spacing-2;

            svg {
                margin-right: $spacing-2;
            }
        }

        @include min($screen-tablet) {
            li {
                display: inline-flex;

                &:after {
                    display: block;
                    width: $spacing-12;
                    height: 1px;
                    content: " ";
                    border-bottom: 1px dashed $neutral-10;
                    margin: 0 $spacing-4 0 $spacing-2;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}
