.doc {
    &:after {
        content: "";
        clear: both;
        display: block;
    }

    h1,
    h2,
    h3 {
        color: $colors-neutral-90;
    }

    h2 {
        margin: $space-4 0 $space-8;
    }

    h4 {
        margin-top: $space-12;
    }

    p {
        margin: $space-4 0;
    }

    a {
        text-decoration: underline;

        &.btn {
            text-decoration: none;
        }
    }

    .dlist {
        background: $colors-neutral-20;
        // border: 1px solid $colors-neutral-30;
        border-radius: $border-radius-md;
        margin: $space-4 (
            -$space-4
        );
    padding: $space-8 $space-4;

    dl {
        @extend .body-small;
        margin: 0;

        dt {
            border-bottom: 1px solid $colors-neutral-30;
            font-weight: bold;
            line-height: 1;
            padding: 0 0 $space-2;
            // text-transform: uppercase;
            color: $colors-neutral-70;
        }

        dd {
            margin: $space-2 0 $space-8;

            p {
                margin: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.ulist li p {
    margin: 0;
}

.imageblock,
.videoblock {
    margin: $space-8 (
        -$space-4
    );
border: 1px solid $colors-neutral-30;
border-radius: $border-radius-md;
padding: $space-4*2 $space-4;
background-color: $colors-neutral-10;

img,
iframe {
    display: block;
    max-width: 100%;
    margin: auto;
}
}

.imageblock {

    &.left,
    &.right {
        clear: both;
        margin-top: 0;
        max-width: 50%;

        img {
            width: 100%;
        }
    }

    &.left {
        margin-left: -4rem;
        margin-right: 2rem;
        float: left;
    }

    &.right {
        margin-right: -4rem;
        margin-left: 2rem;
        float: right;
    }
}

.quoteblock {
    blockquote {
        // border-radius: $border-radius-md;
        border-left: $space-1 solid $colors-primary-40;
        padding-left: $space-4;
        margin: $space-8 0 $space-8 (
            -$space-4
        );
    color: $colors-neutral-80;
    font-style: italic;
    font-size: 1.05rem;
}
}

.code {
    margin-bottom: $space-16;
}

.section {
    clear: both;
}

code {
    background-color: $colors-neutral-40;
}

table {
    @extend .body-small;

    border-collapse: collapse;
    margin: $space-16 (
        -$space-4
    );

thead {
    border-top-left-radius: $border-radius-md;
    border-top-right-radius: $border-radius-md;

    th {
        background: $colors-neutral-20;
        border-bottom: 1px solid $colors-neutral-30;
        font-weight: bold;
        padding: $space-4;

        &:first-child {
            border-top-left-radius: $border-radius-md;
        }

        &:last-child {
            border-top-right-radius: $border-radius-md;
        }
    }

}

td {
    border-bottom: 1px solid $colors-neutral-20;
    padding: $space-4;
    margin: 0;

    p {
        margin: 0;
    }
}

tr:hover td {
    background: $colors-neutral-10;
}

thead {
    th {
        text-align: left;
    }
}
}
}

.classroom {
    .admonition {
        margin: $space-12 (
            -$space-8) $space-12;
        padding: $space-4 $space-8;
        background: $colors-neutral-20;
        border-top: 2px solid $colors-neutral-50;
        color: $colors-neutral-80;

        a {
            font-weight: 600;
            text-decoration: none;
            color: inherit;
        }

        .admonition-title {
            margin: 0 0 $space-2 0;
            font-weight: bold;
            font-size: 0.9rem;
            text-transform: uppercase;
        }

        &.admonition--tip {
            background: $colors-primary-10;
            border-color: $colors-primary-60;
            color: $colors-primary-70;

            .admonition-title,
            a {
                color: $colors-primary-60;
            }

            code {
                background: $colors-primary-20;
            }
        }

        &.admonition--important,
        &.admonition--success {
            background: $colors-success-10;
            border-color: $colors-success-60;
            color: $colors-success-70;

            .admonition-title,
            a {
                color: $colors-success-60;
            }

            code {
                background: $colors-success-20;
            }
        }

        &.admonition--caution {
            background: $colors-warning-10;
            border-color: $colors-warning-60;
            color: $colors-warning-70;

            .admonition-title,
            a {
                color: $colors-warning-70;
            }

            code {
                background: $colors-warning-20;
            }
        }

        &.admonition--warning {
            background: $colors-danger-10;
            border-color: $colors-danger-60;
            color: $colors-danger-70;

            .admonition-title,
            a {
                color: $colors-danger-60;
            }

            code {
                background: $colors-danger-20;
            }
        }
    }

    .literalblock {
        background: $colors-neutral-20;
        color: $colors-neutral-90;
        overflow: auto;
        padding: $space-2;
        border-radius: $border-radius-md;
        font-size: 0.85rem;

        pre {
            margin: 0;
        }
    }
}