.doc {
    h1, h2, h3 {
        color: $neutral-70;
    }

    h2 {
        margin: $spacing-12 0 $spacing-8;
    }

    p {
        margin: $spacing-4 0;
    }

    a {
        text-decoration: underline;
    }

    .ulist li p {
        margin: 0;
    }

    .imageblock, .videoblock {
        margin: $spacing-8 (-$spacing-4);
        border: 1px solid $neutral-30;
        border-radius: $radius-sm;
        padding: $padding-vertical*2 $padding-horizontal;

        img, iframe {
            display: block;
            max-width: 100%;
            margin: auto;
        }
    }

    .code {
        margin-bottom: $spacing-16;
    }

    .section code {
        background-color: $neutral-20;
    }
}

.classroom {
    .admonition {
        margin: $spacing-12 (-$spacing-8) $spacing-12;
        padding: $spacing-4 $spacing-8;
        background: $neutral-20;
        border-top: 2px solid $neutral-50;
        color: $neutral-60;

        a {
            font-weight: 600;
            text-decoration: none;
            color: inherit;
        }

        .admonition-title {
            margin: 0 0 $spacing-2 0;
            font-weight: bold;
            font-size: 0.9rem;
            text-transform: uppercase;
        }

        &.admonition--tip {
            background: $primary-color-10;
            border-color: $primary-color-60;
            color: $primary-color-70;

            .admonition-title, a {
                color: $primary-color-60;
            }
        }

        &.admonition--important, &.admonition--success {
            background: $success-color-10;
            border-color: $success-color-60;
            color: $success-color-70;

            .admonition-title, a {
                color: $success-color-60;
            }
        }

        &.admonition--caution {
            background: $warning-color-10;
            border-color: $warning-color-60;
            color: $warning-color-70;

            .admonition-title, a {
                color: $warning-color-70;
            }
        }

        &.admonition--warning {
            background: $secondary-color-10;
            border-color: $secondary-color-60;
            color: $secondary-color-70;

            .admonition-title, a {
                color: $secondary-color-60;
            }
        }
    }
}