.classroom
.feedback {
    // position: absolute;
    bottom: 0;
    right: $space-12;
    background: $neutral-20;
    // color: $neutral-10;
    padding: $space-4;
    border-radius: $border-radius-md;
    margin: $space-12 (-$space-8) $space-8;
    @extend .body-small;

    &.feedback--negative {
        background-color: $colors-danger-10;
        color: $colors-danger-70;

        .btn {
            border-color: $colors-danger-40;
            color: $colors-danger-40;

            &.btn-primary {
                background: $colors-danger-40;
                border-color: $colors-danger-40;
                color: $neutral-10;
            }
        }
        textarea {
            border-color: $colors-danger-40;
            color: $colors-danger-70;
        }
    }

    &.feedback--positive {
        background-color: $colors-success-10;
    }

    h2 {
        display: none;
    }

    p {
        margin: 0 $space-4 0 0;
        font-weight: 600;
    }

    display: flex;

    svg {
        margin-left: $space-2;

        path,
        circle,
        line {
            fill: transparent;
            stroke: $neutral-60;
            stroke-width: 1;
        }
    }

    .more-information {
        margin: $space-4 0;
    }

    textarea {
        width: 100%;
        border: 1px solid $colors-primary-40;;
        background-color: $neutral-10;
        border-radius: $border-radius-md;
        padding: $space-2;
    }

    input {
        margin-right: $space-1;
    }

    .feedback-header {
        margin-bottom: $space-4;
    }

    .helpful-form, .feedback-header {
        display: flex;
        width: 100%;

        &.hidden {
            display: none;
        }

        p {
            flex-grow: 1;
        }

        svg {
            flex-grow: 0;
        }

        .btn {
            margin-left: $space-4;;
        }
    }

    .unhelpful-form {
        width: 100%;
    }

    .btn {
        @extend .body-small;
        background: transparent;
        color: $colors-primary-40;
        padding: $space-1 $space-4;
        line-height: 1.4;
        margin-bottom: 0;

        &:active {
            background-color: $colors-primary-10;
            color: $colors-primary-40;;
        }

        &.btn-primary {
            background: $colors-primary-40;
            border-color: $colors-primary-40;
            color: $neutral-10;
        }
    }

}
