footer {
    padding: $space-24 0 $space-16;
    background: $colors-neutral-20; // #EEF1F7;
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgb(25, 42, 55);
    line-height: 1.5rem;

    a {
        text-decoration: none
    }

    @extend .body-small;

    .uppercase.font-bold {
        @extend .subtitle;
        font-weight: bold !important;
        text-transform: uppercase;
        margin-bottom: $space-4;
        color: rgb(25, 42, 55);
    }

    .grid-x {
        .cell {
            margin-bottom: $space-12;
        }

        @include min($breakpoints-md) {
            display: flex;

            .cell {
                display: flex;
                flex-direction: column;
                width: 20%;
                margin-bottom: $space-8;
            }

            .medium-9 {
                width: 80%;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            list-style-type: none;
            margin-bottom: $space-2;
        }
    }

    a {
        font-weight: inherit;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    #social-icons {
        padding-top: $space-4;

        div {
            padding: .5rem;
            margin-right: .25rem;

            justify-content: center;

            display: inline-flex;

            border-radius: 9999px;
            background-color: $colors-neutral-60;
        }
    }

    .n-icon {
        width: 14px;
        height: 14px;
        display: inline-block;

        background-size: contain;
        background-position: center;

        &.n-icon-linkedin {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(4.571428571428571,0,0,4.571428571428571,0,0)"><path d="M2.34,4.459H1.865a1.276,1.276,0,0,0-.973.219.944.944,0,0,0-.235.712V13.1a.908.908,0,0,0,.23.7.924.924,0,0,0,.682.2c.222,0,.415-.021.824-.006a1.2,1.2,0,0,0,.925-.2.91.91,0,0,0,.229-.7V5.39a.944.944,0,0,0-.234-.712A1.268,1.268,0,0,0,2.34,4.459Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path><path d="M2.1,0A1.619,1.619,0,0,0,.509,1.56,1.652,1.652,0,0,0,2.1,3.186,1.612,1.612,0,0,0,3.7,1.56,1.618,1.618,0,0,0,2.1,0Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path><path d="M9.974,4.363a3.109,3.109,0,0,0-2.093.63A.725.725,0,0,0,7.7,4.634a.608.608,0,0,0-.452-.178,11.908,11.908,0,0,0-1.5.03c-.416.084-.618.379-.618.9V13.1a.914.914,0,0,0,.228.7,1.206,1.206,0,0,0,.926.2c.447-.017.574.006.822.006a.926.926,0,0,0,.683-.2.912.912,0,0,0,.23-.7V8.988A1.248,1.248,0,0,1,9.293,7.6,1.244,1.244,0,0,1,10.6,8.988V13.1a.91.91,0,0,0,.229.7,1.2,1.2,0,0,0,.924.2c.183-.007.4-.007.58,0a1.209,1.209,0,0,0,.926-.2.914.914,0,0,0,.228-.7V7.832A3.307,3.307,0,0,0,9.974,4.363Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-twitter {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(6.4,0,0,6.4,0,0)"><path d="M2.67,6.9a5.4,5.4,0,0,1-1.9.957A.4.4,0,0,0,.749,8.6C6.221,10.838,9.7,7.329,9.169,3.519l.809-1.484a.25.25,0,0,0-.228-.353H8.528A1.9,1.9,0,0,0,6.41.739c-1,.2-1.793,1.052-1.5,2.805,0,0-1.82.325-4.142-1.964A.4.4,0,0,0,.094,1.8,4.367,4.367,0,0,0,2.67,6.9Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-youtube {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(4.571428571428571,0,0,4.571428571428571,0,0)"><path d="M11.5,1.5h-9A2.5,2.5,0,0,0,0,4v6a2.5,2.5,0,0,0,2.5,2.5h9A2.5,2.5,0,0,0,14,10V4A2.5,2.5,0,0,0,11.5,1.5ZM9.571,7.625,6.358,9.41h0A.715.715,0,0,1,5.3,8.785V5.215a.715.715,0,0,1,1.06-.626L9.571,6.375a.715.715,0,0,1,0,1.25Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-facebook {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(4.571428571428571,0,0,4.571428571428571,0,0)"><path d="M9.7.026,8.979.012C8.656.006,8.376,0,8.216,0,6.2,0,4.893,1.409,4.893,3.588V4.6a.25.25,0,0,1-.25.25H4.318A1.042,1.042,0,0,0,3.277,5.886v.982A1.042,1.042,0,0,0,4.318,7.909h.325a.25.25,0,0,1,.25.25v5.07A.772.772,0,0,0,5.664,14H7.552a.772.772,0,0,0,.771-.771V8.159a.25.25,0,0,1,.25-.25h.413a1.042,1.042,0,0,0,1.041-1.041V5.886A1.042,1.042,0,0,0,8.986,4.845H8.573a.25.25,0,0,1-.25-.25v-.7c0-.829.243-.829.728-.829H9.68a1.043,1.043,0,0,0,1.043-1.042V1.066A1.045,1.045,0,0,0,9.7.026Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-conversation-text {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(2.6666666666666665,0,0,2.6666666666666665,0,0)"><path d="M9.324,16.967c0-3.842,3.628-6.967,8.088-6.967a8.712,8.712,0,0,1,5.9,2.209.246.246,0,0,0,.239.056.25.25,0,0,0,.172-.176A8.245,8.245,0,0,0,24,10C24,4.486,18.617,0,12,0S0,4.486,0,10a9.037,9.037,0,0,0,2.766,6.376L1.347,21.107a.5.5,0,0,0,.681.6L7.5,19.271a13.422,13.422,0,0,0,2.091.518.251.251,0,0,0,.27-.349A6.047,6.047,0,0,1,9.324,16.967ZM9.5,12.25H6a.75.75,0,0,1,0-1.5H9.5a.75.75,0,0,1,0,1.5Zm7-4.5H6a.75.75,0,0,1,0-1.5H16.5a.75.75,0,0,1,0,1.5Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path><path d="M17.412,11.5c-3.633,0-6.588,2.452-6.588,5.467,0,3.521,4.078,6.322,8.456,5.232l3.5,1.748a.5.5,0,0,0,.7-.591l-.9-3A4.908,4.908,0,0,0,24,16.967C24,13.952,21.045,11.5,17.412,11.5Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }
    }
}