.home footer {
    margin-top: $space-24;
}

footer {
    padding: $space-16 0 $space-16;
    background: rgb(1, 18, 28);
    color: $colors-neutral-10;
    line-height: 1.5rem;

    .grid-container {
        @extend .container;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: $colors-neutral-10;
        font-weight: normal;

        &:hover {
            color: $colors-neutral-10;
            text-decoration: underline;
        }
    }

    @extend .body-small;

    .uppercase.font-bold {
        @extend .subtitle;
        font-weight: bold !important;
        text-transform: uppercase;
        margin-bottom: $space-4;
    }

    .grid-x {
        .cell {
            margin-bottom: $space-12;
        }

        @include min($breakpoints-md) {
            display: flex;

            .cell {
                display: flex;
                flex-direction: column;
                width: 25%;
                margin-bottom: $space-8;
            }

            .medium-9 {
                width: 75%;
            }
        }
    }

    ul {
        margin: 0 0 $space-8;
        padding: 0;

        li {
            padding: 0;
            list-style-type: none;
            margin-bottom: $space-2;
        }
    }

    #social-icons {
        line-height: 1;
        padding-top: $space-4;

        a {
            padding: .5rem;
            margin-right: .25rem;

            justify-content: center;

            display: inline-flex;

            border-radius: 9999px;
            background-color: rgb(2, 80, 123);
        }
    }

    .n-icon {
        width: 14px;
        height: 14px;
        display: inline-block;

        background-size: contain;
        background-position: center;

        &.n-icon-linkedin {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(4.571428571428571,0,0,4.571428571428571,0,0)"><path d="M2.34,4.459H1.865a1.276,1.276,0,0,0-.973.219.944.944,0,0,0-.235.712V13.1a.908.908,0,0,0,.23.7.924.924,0,0,0,.682.2c.222,0,.415-.021.824-.006a1.2,1.2,0,0,0,.925-.2.91.91,0,0,0,.229-.7V5.39a.944.944,0,0,0-.234-.712A1.268,1.268,0,0,0,2.34,4.459Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path><path d="M2.1,0A1.619,1.619,0,0,0,.509,1.56,1.652,1.652,0,0,0,2.1,3.186,1.612,1.612,0,0,0,3.7,1.56,1.618,1.618,0,0,0,2.1,0Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path><path d="M9.974,4.363a3.109,3.109,0,0,0-2.093.63A.725.725,0,0,0,7.7,4.634a.608.608,0,0,0-.452-.178,11.908,11.908,0,0,0-1.5.03c-.416.084-.618.379-.618.9V13.1a.914.914,0,0,0,.228.7,1.206,1.206,0,0,0,.926.2c.447-.017.574.006.822.006a.926.926,0,0,0,.683-.2.912.912,0,0,0,.23-.7V8.988A1.248,1.248,0,0,1,9.293,7.6,1.244,1.244,0,0,1,10.6,8.988V13.1a.91.91,0,0,0,.229.7,1.2,1.2,0,0,0,.924.2c.183-.007.4-.007.58,0a1.209,1.209,0,0,0,.926-.2.914.914,0,0,0,.228-.7V7.832A3.307,3.307,0,0,0,9.974,4.363Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-twitter {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(6.4,0,0,6.4,0,0)"><path d="M2.67,6.9a5.4,5.4,0,0,1-1.9.957A.4.4,0,0,0,.749,8.6C6.221,10.838,9.7,7.329,9.169,3.519l.809-1.484a.25.25,0,0,0-.228-.353H8.528A1.9,1.9,0,0,0,6.41.739c-1,.2-1.793,1.052-1.5,2.805,0,0-1.82.325-4.142-1.964A.4.4,0,0,0,.094,1.8,4.367,4.367,0,0,0,2.67,6.9Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-youtube {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(4.571428571428571,0,0,4.571428571428571,0,0)"><path d="M11.5,1.5h-9A2.5,2.5,0,0,0,0,4v6a2.5,2.5,0,0,0,2.5,2.5h9A2.5,2.5,0,0,0,14,10V4A2.5,2.5,0,0,0,11.5,1.5ZM9.571,7.625,6.358,9.41h0A.715.715,0,0,1,5.3,8.785V5.215a.715.715,0,0,1,1.06-.626L9.571,6.375a.715.715,0,0,1,0,1.25Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-facebook {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(4.571428571428571,0,0,4.571428571428571,0,0)"><path d="M9.7.026,8.979.012C8.656.006,8.376,0,8.216,0,6.2,0,4.893,1.409,4.893,3.588V4.6a.25.25,0,0,1-.25.25H4.318A1.042,1.042,0,0,0,3.277,5.886v.982A1.042,1.042,0,0,0,4.318,7.909h.325a.25.25,0,0,1,.25.25v5.07A.772.772,0,0,0,5.664,14H7.552a.772.772,0,0,0,.771-.771V8.159a.25.25,0,0,1,.25-.25h.413a1.042,1.042,0,0,0,1.041-1.041V5.886A1.042,1.042,0,0,0,8.986,4.845H8.573a.25.25,0,0,1-.25-.25v-.7c0-.829.243-.829.728-.829H9.68a1.043,1.043,0,0,0,1.043-1.042V1.066A1.045,1.045,0,0,0,9.7.026Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-conversation-text {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 64 64" width="64" height="64"><g transform="matrix(2.6666666666666665,0,0,2.6666666666666665,0,0)"><path d="M9.324,16.967c0-3.842,3.628-6.967,8.088-6.967a8.712,8.712,0,0,1,5.9,2.209.246.246,0,0,0,.239.056.25.25,0,0,0,.172-.176A8.245,8.245,0,0,0,24,10C24,4.486,18.617,0,12,0S0,4.486,0,10a9.037,9.037,0,0,0,2.766,6.376L1.347,21.107a.5.5,0,0,0,.681.6L7.5,19.271a13.422,13.422,0,0,0,2.091.518.251.251,0,0,0,.27-.349A6.047,6.047,0,0,1,9.324,16.967ZM9.5,12.25H6a.75.75,0,0,1,0-1.5H9.5a.75.75,0,0,1,0,1.5Zm7-4.5H6a.75.75,0,0,1,0-1.5H16.5a.75.75,0,0,1,0,1.5Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path><path d="M17.412,11.5c-3.633,0-6.588,2.452-6.588,5.467,0,3.521,4.078,6.322,8.456,5.232l3.5,1.748a.5.5,0,0,0,.7-.591l-.9-3A4.908,4.908,0,0,0,24,16.967C24,13.952,21.045,11.5,17.412,11.5Z" fill="%23fff" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"></path></g></svg>');
        }

        &.n-icon-github {
            background-image: url('data:image/svg+xml;utf8,<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7952 0.136475H2.60767C1.31372 0.136475 0.263916 1.18628 0.263916 2.48022V19.6677C0.263916 20.9617 1.31372 22.0115 2.60767 22.0115H19.7952C21.0891 22.0115 22.1389 20.9617 22.1389 19.6677V2.48022C22.1389 1.18628 21.0891 0.136475 19.7952 0.136475ZM13.804 18.8718C13.3938 18.9451 13.2424 18.6912 13.2424 18.4812C13.2424 18.2175 13.2522 16.8699 13.2522 15.781C13.2522 15.0193 12.9983 14.5359 12.7004 14.282C14.5071 14.0818 16.4114 13.8328 16.4114 10.7126C16.4114 9.82397 16.094 9.37964 15.5764 8.80835C15.6594 8.59839 15.9377 7.73413 15.4934 6.61108C14.8147 6.40112 13.262 7.48511 13.262 7.48511C12.6174 7.30444 11.9192 7.21167 11.2307 7.21167C10.5422 7.21167 9.84399 7.30444 9.19946 7.48511C9.19946 7.48511 7.64673 6.40112 6.96802 6.61108C6.52368 7.72925 6.79712 8.59351 6.88501 8.80835C6.36743 9.37964 6.12329 9.82397 6.12329 10.7126C6.12329 13.8181 7.94458 14.0818 9.75122 14.282C9.51685 14.4919 9.30688 14.8533 9.23364 15.3708C8.76978 15.5808 7.58325 15.9421 6.87524 14.6921C6.43091 13.9207 5.63013 13.8572 5.63013 13.8572C4.83911 13.8474 5.57642 14.3552 5.57642 14.3552C6.10376 14.5994 6.47485 15.5369 6.47485 15.5369C6.94849 16.9871 9.21411 16.4988 9.21411 16.4988C9.21411 17.1775 9.22388 18.281 9.22388 18.4812C9.22388 18.6912 9.07739 18.9451 8.66235 18.8718C5.4397 17.7927 3.18384 14.7263 3.18384 11.1423C3.18384 6.65991 6.61157 3.25659 11.094 3.25659C15.5764 3.25659 19.2092 6.65991 19.2092 11.1423C19.2141 14.7263 17.0266 17.7976 13.804 18.8718ZM9.01392 15.8884C8.92114 15.908 8.83325 15.8689 8.82349 15.8054C8.81372 15.7322 8.8772 15.6687 8.96997 15.6492C9.06274 15.6394 9.15063 15.6785 9.1604 15.7419C9.17505 15.8054 9.11157 15.8689 9.01392 15.8884ZM8.55005 15.8445C8.55005 15.908 8.47681 15.9617 8.37915 15.9617C8.27173 15.9714 8.19849 15.9177 8.19849 15.8445C8.19849 15.781 8.27173 15.7273 8.36938 15.7273C8.46216 15.7175 8.55005 15.7712 8.55005 15.8445ZM7.8811 15.7908C7.86157 15.8542 7.76392 15.8835 7.68091 15.8542C7.58813 15.8347 7.52466 15.7615 7.54419 15.698C7.56372 15.6345 7.66138 15.6052 7.74438 15.6248C7.84204 15.6541 7.90552 15.7273 7.8811 15.7908ZM7.28052 15.5271C7.23657 15.5808 7.1438 15.571 7.07056 15.4978C6.99731 15.4343 6.97778 15.3416 7.02661 15.2976C7.07056 15.2439 7.16333 15.2537 7.23657 15.3269C7.30005 15.3904 7.32446 15.488 7.28052 15.5271ZM6.83618 15.0828C6.79224 15.1121 6.70923 15.0828 6.65552 15.0095C6.60181 14.9363 6.60181 14.8533 6.65552 14.8191C6.70923 14.7751 6.79224 14.8093 6.83618 14.8826C6.88989 14.9558 6.88989 15.0437 6.83618 15.0828V15.0828ZM6.5188 14.6091C6.47485 14.6531 6.40161 14.6287 6.3479 14.5798C6.29419 14.5164 6.28442 14.4431 6.32837 14.4089C6.37231 14.365 6.44556 14.3894 6.49927 14.4382C6.55298 14.5017 6.56274 14.575 6.5188 14.6091ZM6.19165 14.2478C6.17212 14.2917 6.10864 14.3015 6.05493 14.2673C5.99146 14.238 5.96216 14.1843 5.98169 14.1404C6.00122 14.1111 6.05493 14.0964 6.11841 14.1208C6.18188 14.155 6.21118 14.2087 6.19165 14.2478Z" fill="%23fff"/></svg>');
        }
    }
}