.btn {
    display: inline-block;
    background: $neutral-10;
    color: $primary-color;
    padding: $spacing-3;
    line-height: 1rem;
    font-weight: 600;
    border-radius: $radius-sm;
    cursor: pointer;

    &.btn--danger {
        color: $secondary-color;
        border-color: $secondary-color;
    }
}

.form {
    width: 100%;

    .form-group {
        margin-bottom: $spacing-4;

        label {
            display: block;
            font-weight: 600;
            margin: $spacing-2 0;
            padding: $spacing-2 $spacing-2;
            color: $neutral-50;

            &.label-hint {
                @extend .body-small;

                font-weight: 400;
                color: $neutral-40;
                margin-top: $spacing-2;
                padding: 0 $spacing-2;
            }
        }

        input {
            display: block;
            width: 100%;
            color: $neutral-50;
            padding: $spacing-4 $spacing-2;
            font-family: inherit;
            border-radius: $radius-sm;
            border: 1px solid $neutral-30;
        }
    }

    .form-buttons {
        // padding-top: $spacing-4;
    }
}
