.btn {
    display: inline-block;
    background: transparent;
    color: $colors-primary-50;
    border: 1px solid $colors-primary-50;
    padding: $space-3 $space-6;
    line-height: 1rem;
    font-weight: 600;
    border-radius: $border-radius-md;
    cursor: pointer;

    &:disabled {
        color: $colors-neutral-60 !important;
        border-color: $colors-neutral-30 !important;
        background-color: $colors-neutral-30 !important;
    }

    &.btn--primary {
        color: $colors-neutral-10;
        border-color: $colors-primary-50;
        background-color: $colors-primary-50;

        &:hover {
            border-color: $colors-primary-60;
            background-color: $colors-primary-60;
        }

        &:active {
            border-color: $colors-primary-70;
            background-color: $colors-primary-70;
        }
    }

    &.btn--danger {
        color: $colors-danger-50;
        border-color: $colors-danger-50;
    }

    &.btn--small {
        @extend .body-small;
        padding: $space-1 $space-3;
    }
}

.form {
    width: 100%;

    .form-group {
        margin-bottom: $space-4;

        label {
            display: block;
            font-weight: 400;
            margin: 0;
            padding: $space-2 0;
            color: $colors-neutral-70;

            &.label-hint {
                @extend .body-small;

                font-weight: 400;
                color: $colors-neutral-60;
                margin-top: $space-2;
                padding: 0;
            }
        }

        input,
        textarea {
            display: block;
            width: 100%;
            color: $colors-neutral-80;
            padding: $space-4 ;
            font-family: inherit;
            border-radius: $border-radius-md;
            border: 1px solid $colors-neutral-50;
        }

        select {
            display: block;
            width: 100%;
            color: $colors-neutral-80;
            padding: $space-4 $space-2;
            font-family: inherit;
            border-radius: $border-radius-md;
            border: 1px solid $colors-neutral-60;
        }

        .label-error {
            @extend .body-small;
            font-weight: normal;
            color: $colors-danger-50;
        }

        .required {
            @extend .body-small;
            // float: right;
            font-weight: normal;
            font-style: italic;
            display: inline-block;
            margin-left: $space-2;

        }
    }
}

.form-alert {
    width: 100%;

    .title {
        @extend .body-small;
        font-weight: bold;
        margin-bottom: 0;
    }

    &.form-alert--danger {
        border-left: 4px solid $colors-danger-50;
        border-radius: $border-radius-md;
        color: $colors-danger-60;
        background: $colors-danger-10;
        padding-left: $space-4;
    }
}

#search {
    display: flex;

    width: 100%;
    color: $colors-neutral-70;
    padding: $space-4 $space-4;
    font-family: inherit;
    border-radius: $border-radius-md;
    border: 1px solid $colors-neutral-40;
    background-color: $colors-neutral-10;

    svg {
        margin-right: $space-2;
    }

    input {
        border: 0px none;

        &:focus {
            outline: none;
        }
    }
}

.form-buttons {
    &--bottom {
        position: sticky;
        bottom: 0;
        background: white;
        padding: $space-8 $space-4 ;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
}