.btn {
    display: inline-block;
    background: transparent;
    color: $primary-color;
    padding: $space-3;
    line-height: 1rem;
    font-weight: 600;
    border-radius: $border-radius-md;
    cursor: pointer;

    &.btn--danger {
        color: $secondary-color;
        border-color: $secondary-color;
    }
}

.form {
    width: 100%;

    .form-group {
        margin-bottom: $space-4;

        label {
            display: block;
            font-weight: 600;
            margin: $space-2 0;
            padding: $space-2 $space-2;
            color: $neutral-50;

            &.label-hint {
                @extend .body-small;

                font-weight: 400;
                color: $neutral-40;
                margin-top: $space-2;
                padding: 0 $space-2;
            }
        }

        input {
            display: block;
            width: 100%;
            color: $neutral-50;
            padding: $space-4 $space-2;
            font-family: inherit;
            border-radius: $border-radius-md;
            border: 1px solid $neutral-30;
        }
    }
}
