$header-height: 4.5rem;
$burger-width: 22px;

$header-links: $neutral-60;
$header-links-hover: $neutral-70;

.header {
    // background: $primary-color-10;
    background: $neutral-10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: $header-height;
    transition: all .2s;
    padding: $spacing-2 0;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

body {
    padding-top: $header-height;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @extend .body-small;

    a {
        color: $header-links;

        &:Hover {
            color: $header-links-hover;
        }
    }

    .navbar-burger {
        background: transparent;
        position: relative;
        border: 0px none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: $spacing-12;
        width: $burger-width;
        z-index: 10;;

        span {
            display: block;
            width: $burger-width;
            height: 2px;
            content: "";
            margin: $spacing-1 0 0;
            background-color: $header-links;
            align-self: flex-end;

            &:nth-child(2) {
                width: $burger-width - 8px;
            }

            &:nth-child(3) {
                width: $burger-width - 2px;
            }
        }
    }

    .navbar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $spacing-2 0;
        position: relative;

        .navbar-link {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        .navbar-dropdown {
            @extend .body-small;
            margin-top: $spacing-2;

            .navbar-item {
                padding: 0 0 $spacing-1;
            }
            a {
                font-weight: normal;
                color: $neutral-60;
            }
        }

        &:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }

    .navbar-brand {
        z-index: 10;

        .navbar-item {
            flex-direction: row;
            padding-left: 0;
        }

        .navbar-brand-text {
            margin-left: $spacing-4;
            align-self: center;
            font-family: $font-family-header;
            font-weight: 400;
            color: $neutral-70;
        }

        .logo-full {
            display: none;
        }
    }

    .navbar-menu {
        display: none;
    }

    .navbar-primary {
        background: $primary-color;
        color: $neutral-10;
        padding: $spacing-3;
        line-height: 1rem;
        font-weight: 600;
        border-radius: $radius-sm;
        margin-left: -$spacing-2;
        margin-right: -$spacing-2;

        @include min($screen-tablet) {
            padding: $spacing-3 $spacing-8;
            margin: 0;
        }

        &:hover {
            background: $primary-color-60;
            color: $primary-color-10;
        }
    }

    .navbar-dropdown {
        margin: $spacing-4 0;

        @include min($screen-tablet) {
            margin: 0;
        }
    }
}


/** Mobile expanded state **/
body.navbar--visible {

    .navbar .navbar-menu {
        display: block;
    }

    .navbar-burger {
        span {
            background: $primary-color;
            position: absolute;
            width: $burger-width;
            top: 18px;

            &:nth-child(1) {
                transform: rotate(45deg);
                left: 1px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                right: 0;
            }
        }
    }
}

@media all and (max-width: ($screen-tablet)-1) {
    body.navbar--visible {
        .header {
            position: fixed;
            border-bottom: 1px solid red;;
        }

        .navbar .navbar-menu {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: $header-height $padding-horizontal $padding-horizontal;
            z-index: 1;
            background: $neutral-10;

            .navbar-item {
                .navbar-link {
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media all and (min-width: $screen-tablet) {
    .navbar {
        .navbar-burger {
            display: none;
        }

        .navbar-menu {
            display: flex;

            .navbar-end {
                display: flex;
                height: 100%;

                .navbar-account {
                    margin-left: $spacing-4;

                    span {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        justify-content: center;
                    }

                    img {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        margin-left: $spacing-3;
                    }
                }

                .navbar-item {
                    .navbar-link {
                        margin-left: $spacing-8;
                    }
                }
            }

            .navbar-dropdown {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: $neutral-10;
                border-radius: $spacing-3;
                font-size: .9rem;
                padding: $spacing-1 $spacing-3;
                margin-top: -$spacing-2;
                width: 180px;
            }
        }
    }
}
