.hero {
    padding: $space-8 0;
    text-align: center;
    background: $colors-neutral-20;

    margin: 0 auto;

    text-align: center;

    .container {
        max-width: 480px;

        @include min($breakpoints-sm) {
            max-width: $breakpoints-xs;
        }

        @include min($breakpoints-md) {
            padding: $space-6 0;
            max-width: $breakpoints-sm;
        }

        @include min($breakpoints-lg) {
            padding: $space-8 0;
            max-width: $breakpoints-md;
        }

        @include min($breakpoints-xl) {
            padding: $space-12 0;
            max-width: $breakpoints-lg * 1.2;
        }
    }

    &.hero--contained {
        max-width: $breakpoints-lg * 2;

        @include min($breakpoints-lg * 2) {
            border-bottom-left-radius: $border-radius-5xl;
            border-bottom-right-radius: $border-radius-5xl;
        }
    }

    &.hero--primary {
        background: $colors-primary-50;
        color: $colors-neutral-10;
    }

    @include min($breakpoints-md) {
        padding: $space-16 0;

        .heading,
        .byline {
            width: $breakpoints-sm;
            margin: auto;
        }
    }

    @include min($breakpoints-xl) {
        padding: $space-16 0;
    }

    h1 {
        color: inherit;
    }

    .heading {
        @extend .heading-1;
        margin-bottom: $space-8;
        color: $colors-neutral-90;

        em {
            font-style: normal;
            color: $colors-primary-40;
        }
    }

    .byline {
        @extend .heading-5;
        font-weight: 400;
        max-width: $breakpoints-sm;
        text-align: center;
    }

    .overline {
        @extend .overline;
        color: $colors-neutral-60;
        margin: 0;
    }
}