.hero {
    padding: $space-8 0;
    text-align: center;
    // background: $colors-primary-10;
    background: $colors-neutral-20;
    // margin-bottom: $space-8;

    &.hero--primary {
        background: $colors-primary-60;
        color: $colors-neutral-10;
    }

    @include min($breakpoints-md) {
        padding: $space-16 0;

        .heading,
        .byline {
            width: 80%;
            margin: auto;
        }
    }

    @include min($breakpoints-xl) {
        padding: $space-16 0;
    }

    h1 {
        color: inherit;
    }

    .heading {
        @extend .heading-1;
        margin-bottom: $space-8;
        color: $colors-neutral-90;

        em {
            font-style: normal;
            color: $colors-primary-40;
        }
    }

    .byline {
        @extend .heading-3;
        color: $colors-neutral-80;
        font-weight: 400;
    }

    .overline {
        @extend .overline;
        color: $colors-neutral-60;
        margin: 0;
    }
}