.hero {
    padding: $space-8 0;
    text-align: center;
    background: $colors-primary-10;
    // margin-bottom: $space-8;

    &.hero--primary {
        background: $colors-primary-60;
        color: $neutral-10;
    }

    @include min($screen-tablet) {
        padding: $space-16 0;

        .heading, .byline {
            width: 80%;
            margin: auto;
        }
    }

    @include min($screen-desktop) {
        padding: $space-16 0;
    }

    h1 {
        color: inherit;
    }

    .heading {
        @extend .heading-1;
        margin-bottom: $space-8;
        color: $neutral-70;

        em {
            font-style: normal;
            color: $colors-primary-40;
        }
    }

    .byline {
        @extend .heading-3;
        color: $neutral-45;
        font-weight: 400;
    }

    .overline {
        @extend .overline;
        color: $neutral-45;
        margin: 0;
    }
}