.modal {
    position: fixed;
    inset: 0;

    z-index: 6000;
    // padding-left: 30rem;
    // padding-right: 1rem;
    // padding-top: 1rem;
    display: none;
    opacity: 0;

    transition: opacity .5s linear;

    .hidden {
        display: none;
    }

    &.modal--visible {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        opacity: 1;
    }

    .modal-shade {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 6000;
    }

    .modal-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        .modal-content {
            position: relative;
            z-index: 10000;
            min-width: 60%;
            max-width: 90%;
            // max-height: 90%;

            background: $colors-neutral-10;
            border: 1px solid $colors-neutral-30;
            border-radius: $border-radius-md;
            box-shadow: 0px 0px 2px rgba(52, 58, 67, 0.1), 0px 1px 2px rgba(52, 58, 67, 0.08), 0px 1px 4px rgba(52, 58, 67, 0.08);
            overflow: hidden;

            .modal-header {
                background: $colors-neutral-20;
                padding: $space-2 $space-4;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h2 {
                    font-size: 1rem;
                    margin: 0;
                    color: $colors-neutral-70;
                }

                .modal-close {
                    cursor: pointer;

                    svg {
                        margin-top: $space-1;

                        line {
                            stroke: $colors-neutral-70;
                        }
                    }
                }
            }

            .modal-body {
                background: $colors-neutral-10;
                padding: $space-8;
                max-height: 80vh;
                overflow: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .modal-caption {
                @extend .body-small;
                color: $colors-neutral-60;
                text-align: center;
            }
        }
    }
}