body.has-notice .header {
    top: 40px;
}

.notice {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $colors-primary-60;
    color: $colors-neutral-10;
    font-weight: bold;
    padding: $space-2;
    height: 40px;
    z-index: 10000;
    text-align: center;
}