.notification {
    background: $colors-primary-10;
    border-top: 1px solid $colors-primary-40;
    border-bottom: 1px solid $colors-primary-40;
    color: $colors-primary-40;
    font-weight: bold;
    text-align: center;
    padding: $space-4;

    &.notification--warning {
        background: $colors-warning-10;
        border-top: 1px solid $colors-warning-60;
        border-bottom: 1px solid $colors-warning-60;
        color: $colors-warning-60;
    }
}