.notification {
    background: $colors-primary-70;
    color: $colors-neutral-10;
    font-weight: bold;
    text-align: center;
    padding: $space-2;
    font-size: 1.1rem;

    p {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: $colors-neutral-20;
        }
    }
}

.banner {
    background: $colors-neutral-90;
    color: $colors-neutral-10;
    font-weight: bold;
    text-align: center;
    padding: $space-2;
    font-size: 1.1rem;

    p {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: $colors-neutral-20;
        }
    }
}