.notification {
    background: $primary-color-10;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    padding: $spacing-4;
}