.pagination {
    @extend .body-small;

    background-color: $neutral-15;
    border-radius: $border-radius-md;
    padding: $padding-vertical $padding-horizontal;
    display: flex;
    justify-content: space-between;
    margin: $space-16 0;

    .pagination-icon {
        display: inline-block;
        text-align: center;

        height: $space-8;
        width: $space-8;
        background-color: $primary-color-10;
        border-radius: $border-radius-md;
        padding-top: $space-1;

        svg {
            margin-top: $space-1;
        }
    }

    .pagination-link--previous {
        .pagination-icon {
            margin-right: $space-4;
        }
    }

    .pagination-link--next {
        .pagination-icon {
            margin-left: $space-4;
        }
    }

    .pagination-link-direction {
        display: none;
    }

    a {
        text-decoration: none;
        font-weight: 400;
    }

}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 $space-8;

    .progress-bar-container {
        border-radius: $space-1;
        background-color: $neutral-25;
        height: $space-2;

        span {
            line-height: 1px;
            font-size: 1px;
            display: block;
            width: 20%;
            height: 100%;
            background: $primary-color;
            border-radius: $space-1;
        }
    }
}
