.lesson--slides .slide-controls {
  display: none;


  position: fixed;
  bottom: $space-4;
  left: $space-4;
  height: 48px;
  overflow: hidden;
  border: 1px solid $palette-light-neutral-border-strong;
  border-radius: $border-radius-xl;
  box-shadow: 0px 0px 2px rgba(52, 58, 67, 0.1),
    0px 1px 2px rgba(52, 58, 67, 0.08),
    0px 1px 4px rgba(52, 58, 67, 0.08);
  background-color: $colors-neutral-10;

  z-index: 100;

  .slide-control {
    border: 0px none;
    background-color: $colors-neutral-10;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: $colors-neutral-15;
    }

    &.slide-number,
    &.slide-close-button {
      flex-direction: row;
      cursor: default;
      font-size: 0.9rem;

      span {
        padding: 0 $space-2;
        width: $space-6;
      }

      &:hover {
        background-color: $colors-neutral-10;
      }

      .slide-number-current {
        text-align: right;
      }

      .slide-number-separator {
        text-align: center;
      }

      .slide-number-total {
        text-align: left;
      }
    }

    .slide-control-label {
      display: none;
    }

    .panel-control-label {
      display: none;
    }

    padding: $space-2;

    svg {
      width: 14px;
      height: 14px;

      path {
        stroke: $colors-neutral-50;
      }
    }

    &.slide-control--disabled {
      cursor: default;
      opacity: 0.4;

      &:hover {
        background-color: $colors-neutral-10;
      }
    }

    &.slide-close-button {
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {

        width: auto;
      }
    }
  }
}

.lesson--slides.lesson--slides-visible {

  .classroom-navbar,
  .pagination,
  .feedback,
  .module-type,
  .next,
  .summary,
  .lesson-outcome,
  .btn-read {
    display: none !important;
  }

  .slide {
    .btn {
      display: none;
    }
  }

  .slide-controls {
    display: flex;
  }

  .classroom-content {
    background-color: $colors-primary-60;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 1200px;
      height: 680px;
      max-width: none;
      border: 1px solid $colors-neutral-30;
      border-radius: $border-radius-lg;
      background: $colors-neutral-10;
      padding: 0;

      .module {
        padding: $space-8;
      }

      font-size: 1.2em;

      .module-title {
        position: absolute;
        top: $space-8;
        right: $space-8;
        font-family: $font-family-sans-serif;
        font-size: 1.1em;
        margin: 0;
        padding: 0;
        color: $colors-neutral-45;
        font-weight: normal;
        font-style: italic;

        // margin: 0 0 $space-4;
        // padding-bottom: $space-4;
        // border-bottom: 1px solid $colors-neutral-20;
      }

    }
  }

  .slide {
    display: none;

    .transcript-only {
      display: none;
    }

    &.slide--visible {
      display: block;
      padding: 0 !important;


      h2 {
        display: block !important;
        font-size: 1.2em;
        font-family: $font-family-sans-serif;
        margin: 0 0 $space-8 !important;
        padding: 0 0 $space-8;
        border-bottom: 1px solid $colors-neutral-20;
      }
    }

    .content:first-child p,
    table {
      margin-top: 0;
    }

    table {
      font-size: 1rem;

      th,
      td {
        padding: $space-1;
      }
    }

    &.col-2 {
      .col {
        float: left;
        width: 48%;
        clear: none !important;

        &:nth-child(even) {
          margin-right: 4%;
        }

        h3 {
          margin-top: 0;
        }
      }
    }

    &.col-60-40 {
      .col {
        float: left;
        clear: none !important;

        &:nth-child(even) {
          width: 58%;
          margin-right: 4%;
        }

        &:nth-child(odd) {
          width: 38%;
        }

        h3 {
          margin-top: 0;
        }
      }
    }

    &.col-40-60 {
      .col {
        float: left;
        clear: none !important;

        &:nth-child(even) {
          width: 38%;
          margin-right: 4%;
        }

        &:nth-child(odd) {
          width: 58%;
        }

        h3 {
          margin-top: 0;
        }
      }
    }
  }

}

.lesson--sequential:not(.lesson--completed) {
  .btn-submit {
    display: none;

    &.btn--visible {
      display: block;
    }
  }

  .question {
    display: none;

    &.question--current,
    &.question--correct {
      display: block;
    }
  }

  .btn--next {
    margin-top: $space-4;
  }
}

.slide code {
  font-size: 0.8rem !important;
}