.tabs {
    border-bottom: 1px solid $neutral-30;
    line-height: 1;

    .tab-element {
        padding: $space-2 0 $space-2 $space-4;
        margin-bottom: $space-2;
        text-decoration: none;


        color: $neutral-40;
        border-left: 4px solid transparent;

        display: block;
        width: 100%;

        @include min($screen-desktop) {
            padding: $space-2 0 $space-2 0;
            border-bottom: 4px solid transparent;
            border-left: 0px none;
            margin: 0 $space-4 0 0;
            display: inline-block;
            width: auto;
        }

        &:hover {
            color: $colors-primary-30;
        }

        &.tab--selected {
            color: $colors-primary-40;
            border-color: $colors-primary-40;

            &:hover {
                color: $colors-primary-30;
                border-color: $colors-primary-30;
            }
        }
    }
}

.tab-target {
    display: none;

    &.tab-target--visible {
        display: block;
    }
}
