.tabs {
    border-bottom: 1px solid $neutral-30;
    line-height: 1;
    height: 1.9rem;

    .tab {
        padding: $spacing-12 0 $spacing-2 0;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        margin-right: $spacing-4;
        color: $neutral-40;

        &:hover {
            color: $primary-color-30;
        }

        &.tab--selected {
            color: $primary-color;
            border-color: $primary-color;

            &:hover {
                color: $primary-color-30;
                border-color: $primary-color-30;
            }
        }
    }
}

.tab-target {
    display: none;

    &.tab-target--visible {
        display: block;
    }
}
