.toc {
    a {
        color: inhert;
        text-decoration: none;
        font-weight: 400;
    }

    .toc-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: $space-4;
        height: 4rem;

        .toc-title-header {
            font-size: 1.1rem;
            margin: $space-4 0;

            a {
                color: $colors-neutral-10;
            }
        }
    }

    .toc-module {
        width: 100%;

        .toc-module-header {
            display: flex;
            justify-content: space-between;
            border-radius: $border-radius-sm;
            background: $colors-primary-45;
            font-size: 0.9rem;
            font-family: $font-family-sans-serif;
            padding: $space-2 $space-4;
            color: $colors-neutral-10;
            margin: $space-1 0 0;
            position: relative;

            a {
                color: $colors-neutral-10;
                display: flex;
                font-weight: 600;
            }

            &.toc-module--current .module-current {
                svg path {
                    stroke: $colors-neutral-10;
                }
            }
        }

        &:last-child {
            .toc-module-lesson:last-child {
                padding-bottom: 0;

                &:before {
                    height: 50%;
                }
            }
        }
    }

    .toc-icon {
        display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding-top: $space-2;
        margin-right: $space-4;
        position: relative;
        z-index: 50;
    }

    .toc-module-lessons {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0.9rem;

        .toc-module-lesson {
            position: relative;
            padding: $space-1 $space-4;

            &:last-child {
                padding-bottom: $space-6;
            }

            &:before {
                position: absolute;
                top: 0;
                left: $space-6;
                height: 100%;
                width: 1px;
                border-left: 1px dashed $colors-neutral-40;
                opacity: 0.4;
                content: "";
            }

            a {
                display: flex;
                width: 100%;
                color: inherit; //$colors-neutral-10;

                .toc-icon {
                    flex: 0 0 16px;
                }

                .lesson-title {
                    flex: 1;
                }

                .lesson-duration {
                    color: $colors-primary-30;
                }

                .lesson-current {
                    svg path {
                        stroke: $colors-neutral-10;
                    }
                }
            }

            code {
                background: transparent;
            }

            &.toc-module-lesson--current {
                a {
                    font-weight: 600;
                }
            }

            &.toc-module-lesson--completed {
                a {
                    color: $colors-success-60;
                }
            }
        }
    }
}