.cold-start
  .cold-start-image
    img(src=cdn('img/static/start.svg') alt='A playful image showing a start button')

  .cold-start-content
    h2 No !{status && status.substr(0, 1).toUpperCase() + status.substr(1)} Courses
    p Get started on your Neo4j journey and check out our course selection.
    p
      a.btn.btn--primary(href='/categories/') View All Courses
