extends ../layouts/default
include ../mixins/horizontalcontrols
include ../course/card

block main
  .home
    .learn-neo4j
      .container
        .levels
          .level
            if levelOverline
              h2.level-overline !{levelOverline}
            if levelTitle
              p.level-title !{levelTitle}

            | !{content}

            if courses
            .horizontal-scroll.hide-scroll
                ul.course-list.course-list--scrollable
                  for course in courses
                    li.course-list-item
                      +course(course, beginners)
            +horizontalControls()
