extends ../layouts/classroom

block main

  +status(course, completed, next)

  .module
    h1.module-title
      if type && type != 'text'
        span.overline.module-type !{type}

      | !{title}

    .module-content.doc !{doc}

