extends ../layouts/classroom

block main
  .module
    h1.module-title
      if type && type != 'text'
        span.module-type !{type.slice(0, 1).toUpperCase() + type.slice(1)}
      | !{title}

    article.module-content.doc !{doc}
