name: Rollout

on:
    workflow_dispatch:

jobs:
    rollout:
        runs-on: ubuntu-latest
        steps:
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.GA_DEPLOY_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.GA_DEPLOY_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1

            - name: Rollout
              uses: kodermax/kubectl-aws-eks@main
              env:
                  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
                  ECR_REPOSITORY: my-app
              with:
                  args: rollout restart -n graphacademy-prod deployment/graphacademy
